.section.cards-container.cards-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 990pt;
  margin: auto;
}

.section.cards-container.cards-grid .cards-wrapper {
  flex: 0 0 33.3333%;
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
  background-color: var(--color-background)
}

.cards > ul > li > .card-head .icon {
  width: 100%;
  height: auto;
}

.cards > ul > li > .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cards > ul > li > .card-body > .card-section {
  display: flex;
  flex-direction: column;
}

.cards > ul > li > .card-body > .card-section:has(p) {
  flex: 1;
}

.cards > ul > li > .card-body > .card-section > p {
  flex: 1;
  margin-bottom: 16px;
}

.cards > ul > li > .card-body > .card-section > p:last-child {
  margin: 0;
}

.cards > ul > li > .card-body > .card-section > p.button-container:last-child {
  flex: 0;
}

.cards > ul > li > .card-body > .card-section > p.button-container:last-child a.button {
  width: 100%;
  margin: 0;
}

.cards > ul > li > .card-body > hr {
  margin: 1rem 0;
  border: 0.5px solid #b2b1b1;
  opacity: .25;
  color: inherit;
}

.section.cards-container.list-styles ul {
  position: relative;
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
}

.section.cards-container.list-style-checkmarks ul {
  margin: 0;
}

.section.cards-container.list-style-checkmarks .cards > ul > li {
  padding-left:  calc(1.5rem * 0.5);
}

.section.cards-container.list-style-checkmarks .cards h6 {
  margin: 1.5rem 0;
  font-size: 1rem;
  line-height: 1.25rem;
}

.section.cards-container.list-style-checkmarks .cards h6 + ul > li {
  margin-bottom: 1rem;
}

.section.cards-container.list-style-checkmarks div.card-body ul > li::before {
  content: '✓';
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 1rem;
}

.section.cards-container.heading-image-row .card-head .card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section.cards-container.heading-image-row .card-head .card-section h3 {
  order: 1;
  margin-left: 20px;
}

.section.cards-container.heading-image-row .card-head .card-section p:has(picture) {
  width: 10%;
}

.block.cards.divider.centered-headings.navy-headings .icon img {
  height: 10em;
  width: 10em;
}

.block.cards.divider.centered-headings.navy-headings .icon {
  text-align: center;
}

@media (min-width: 992px /* breakpoint-l */) {
  .cards > ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* full width style */

  .cards.full-width > ul {
    flex-direction: column;
  }

  .cards.full-width > ul > li {
    flex-direction: row;
    gap: 24px;
  }

  .cards.full-width > ul > li > .card-head {
    width: 25%;
  }

  .cards.full-width > ul > li > .card-body > .card-section > p.button-container:last-child {
    flex: 1;
  }

  .cards.full-width > ul > li > .card-body > .card-section > p.button-container:last-child a.button {
    width: unset;
  }
}
