/* stylelint-disable no-descending-specificity */

.section.cards-container.cards-grid {
  display: flex;
  flex-wrap: wrap;
  max-width: 990pt;
  margin: auto;
}

.section.cards-container.cards-grid .cards-wrapper {
  flex: 0 0 33.3333%;
}

.cards.full-width {
  --color-heading: var(--color-white);
}

.cards.full-width.light {
  --color-heading: var(--color-text-primary);
}

.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.cards > ul > li {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
  background-color: var(--color-background)
}

.cards.full-width > ul > li {
  background-color: var(--color-bg-tertiary);
  padding: 40px 24px;
}

.cards.full-width.light > ul > li {
  background-color: var(--color-background);
}

.cards.full-width > ul > li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url('/icons/row-promo-banner-lines-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  opacity: 0.9;
  z-index: 1;
}

.cards.full-width.light > ul > li::before {
  filter: brightness(0) saturate(100%) invert(15%) sepia(83%) saturate(814%) hue-rotate(175deg) brightness(97%) contrast(92%);  /* Change image color to: #1A242B */
}

.cards.full-width > ul > li * {
  z-index: 2;
}

.cards > ul > li > .card-head .icon {
  width: 100%;
  height: auto;
}

.cards > ul > li > .card-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cards > ul > li > .card-body > .card-section {
  display: flex;
  flex-direction: column;
}

.cards.full-width > ul > li > .card-body > .card-section :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 8px;
}

.cards > ul > li > .card-body > .card-section:has(p) {
  flex: 1;
}

.cards > ul > li > .card-body > .card-section > p {
  flex: 1;
  margin-bottom: 16px;
}

.cards > ul > li > .card-body > .card-section > p:last-child {
  margin: 0;
}

.cards > ul > li > .card-body > .card-section > p.button-container:last-child {
  flex: 0;
}

.cards.full-width > ul > li > .card-body > .card-section:not(.button-container) > p {
  color: var(--color-white);
  letter-spacing: 0.16px;
}

.cards.full-width.light > ul > li > .card-body > .card-section:not(.button-container) > p {
  color: var(--color-text-primary);
}

.cards > ul > li > .card-body > .card-section > p.button-container:last-child a.button {
  width: 100%;
  margin: 0;
}

.cards.full-width > ul > li > .card-body > .card-section.button-container a.button.primary {
  outline: 1px solid #1A242B;
  margin: 32px 0 0;
}

.cards.full-width > ul > li > .card-body > .card-section.button-container a.button.primary:hover {
  outline: 3px solid var(--color-grey200);
}

.cards.full-width.light > ul > li > .card-body > .card-section.button-container a.button.primary {
  outline: 1px solid var(--color-grey200);
}

.cards.full-width.light > ul > li > .card-body > .card-section.button-container a.button.primary:hover {
  outline: 3px solid var(--color-black);
}

.cards > ul > li > .card-body > hr {
  margin: 1rem 0;
  border: 0.5px solid #b2b1b1;
  opacity: .25;
  color: inherit;
}

.section.cards-container.list-styles ul {
  position: relative;
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
}

.section.cards-container.list-style-checkmarks div.card-body ul > li::before {
  content: '✓';
}

.section.cards-container.heading-image-row .card-head .card-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.section.cards-container.heading-image-row .card-head .card-section h3 {
  order: 1;
  margin-left: 20px;
}

.section.cards-container.heading-image-row .card-head .card-section p:has(picture) {
  width: 10%;
}

.block.cards.divider.centered-headings.navy-headings .icon img {
  height: 10em;
  width: 10em;
}

.cards.full-width > ul > li > .card-head .icon > img {
  width: 20.16px;
  height: 20.16px;
  object-fit: cover;
  margin-bottom: 3.61px;
}

.cards.full-width.light > ul > li > .card-head .icon > img {
  filter: brightness(0) saturate(100%) invert(15%) sepia(83%) saturate(814%) hue-rotate(175deg) brightness(97%) contrast(92%);  /* Change image color to: #1A242B */
}

.block.cards.divider.centered-headings.navy-headings .icon {
  text-align: center;
}

@media (min-width: 992px /* breakpoint-l */) {
  .cards > ul {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  /* full width style */

  .cards.full-width > ul {
    flex-direction: column;
  }

  .cards.full-width > ul > li {
    flex-direction: row;
    gap: 24px;
    padding: 64px 80px;
  }

  .cards.full-width > ul > li::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/icons/row-promo-banner-lines.svg');
    background-repeat: no-repeat;
    background-position: top left;
    opacity: 0.9;
    z-index: 1;
  }

  .cards.full-width > ul > li > .card-body {
    justify-content: space-between;
    flex-direction: row;
    flex: unset;
  }

  .cards.full-width > ul > li > .card-body > .card-section {
    max-width: 715px;
    flex: unset;
  }

  .cards.full-width > ul > li > .card-body > .card-section:not(.button-container) {
    margin-right: 24px;
  }

  .cards.full-width > ul > li > .card-body > .card-section > p {
    display: flex;
    align-items: center;
  }

  .cards.full-width > ul > li > .card-body > .card-section.button-container {
    justify-content: center;
  }

  .cards.full-width > ul > li > .card-head .icon > img {
    width: 99px;
    height: 99px;
    object-fit: cover;
  }

  .cards.full-width > ul > li > .card-body > .card-section > p.button-container:last-child {
    flex: 1;
  }

  .cards.full-width > ul > li > .card-body > .card-section.button-container a.button.primary {
    margin: 0;
  }
}