.block.service-location-map {
  display: flex;
  flex-direction: column;
}

.block.service-location-map .map-details {
  display: flex;
}

.block.service-location-map .map-search {
  margin-bottom: 1rem;
}

.block.service-location-map .map-search .map-search-error {
  visibility: hidden;
  background-color: var(--color-yellow);
  color: var(--color-black);
}

.block.service-location-map .map-search .map-search-error.unhide {
  visibility: visible;
  padding: 0.5rem;
}

.block.service-location-map .icon-marker,
.block.service-location-map .icon-marker-bold {
  width: 28px;
  height: 36px;
  cursor: pointer;
}

.block.service-location-map .map-list {
  background: #f2f2f2;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 35rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.block.service-location-map .map-list.no-result {
  height: 6rem;
}

.block.service-location-map .map-list .no-result {
  margin-top: 1rem;
}

.block.service-location-map .map-list .location-item {
  background: var(--color-white);
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.block.service-location-map .map-list .location-item .title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.block.service-location-map .map-list .location-item .address,
.block.service-location-map .map-list .location-item .opening-hours,
.block.service-location-map .map-list .location-item .appointment-detail {
  font-size: 0.875rem;
}

.block.service-location-map .map-list .location-item .location {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-button-default);
  padding: 0.75rem;
  text-decoration: none;
  color: var(--color-white);
}

.block.service-location-map .map-list .location-item .buy-now {
  width: 60%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-yellow);
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
  border: var(--color-yellow) 2px solid;
  border-radius: 1.5rem;
}

.block.service-location-map .map-list .location-item.highlight p {
  color: var(--color-blue);
}

.block.service-location-map .map-list .location-item .buy-now:hover {
  border: var(--color-dark-gunmetal) 2px solid;
  background: var(--color-yellow);
  color: var(--color-dark-gunmetal);
}

.block.service-location-map .map-search .map-input-details {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.block.service-location-map .map-search .map-input-details .map-input {
  height: 2.1rem;
  font-size: 1rem;
}

.block.service-location-map .map-search .map-input-details .map-input-search,
.block.service-location-map .map-search .map-input-details .map-input-location {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  border-radius: 0.25rem;
  height: 2.5rem;
}

.block.service-location-map .map-search .map-input-details .map-input-search:active,
.block.service-location-map .map-search .map-input-details .map-input-location:active {
  opacity: 0.6;
}

.block.service-location-map .map-search .map-input-details .map-input-search:focus,
.block.service-location-map .map-search .map-input-details .map-input-location:focus,
.block.service-location-map .map-search .map-input-details .map-input-search:hover,
.block.service-location-map .map-search .map-input-details .map-input-location:hover {
  background-color: var(--color-button-default);
  color: var(--color-white);
}

.block.service-location-map .map-search .map-input-details .map-input-search:hover,
.block.service-location-map .map-search .map-input-details .map-input-location:hover {
  background-color: var(--color-button-default);
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .block.service-location-map .map-search .map-input-details {
    flex-direction: row;
  }

  .block.service-location-map .map-search .map-input-details .map-input {
    width: 34.5%;
  }

  .block.service-location-map .map-search .map-input-details .map-input-search,
  .block.service-location-map .map-search .map-input-details .map-input-location {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .block.service-location-map .map {
    width: 66%;
    height: 35rem;
    margin-left: 1.5rem;
  }

  .block.service-location-map .map-list {
    width: 34%;
  }

  .block.service-location-map .map-search .map-input-details .map-input {
    width: 34.5%;
  }

  .block.service-location-map .map-search .map-input-details .map-input-search,
  .block.service-location-map .map-search .map-input-details .map-input-location {
    width: 21%;
  }

  .block.service-location-map .map-list .location-item .buy-now {
    width: 70%;
  }

  .block.service-location-map .map-list .location-item .drop-off-details p:has(a) {
    width: 70% !important;
  }
}

@media screen and (min-width: 1200px) {
  .block.service-location-map .map-list .location-item .location {
    font-size: 1.1rem;
  }
}
