.block.service-location-map {
  display: flex;
}

.block.service-location-map .icon-marker,
.block.service-location-map .icon-marker-bold {
  width: 28px;
  height: 36px;
  cursor: pointer;
}

.block.service-location-map .map-list {
  background: #f2f2f2;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 35rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.block.service-location-map .map-list .location-item {
  background: var(--color-white);
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.block.service-location-map .map-list .location-item .title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.block.service-location-map .map-list .location-item .address,
.block.service-location-map .map-list .location-item .opening-hours,
.block.service-location-map .map-list .location-item .drop-off-details {
  font-size: 0.875rem;
}

.block.service-location-map .map-list .location-item .location {
  text-transform: uppercase;
  margin-top: 1rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-link);
  padding: 0.75rem;
}

.block.service-location-map .map-list .location-item .location a {
  text-decoration: none;
  color: var(--color-white);
}

.block.service-location-map .map-list .location-item .buy-now {
  /* text-transform: uppercase; */
  width: 70%;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
  background-color: var(--color-yellow);
  padding: 0.5rem;
  text-align: center;
  
}

.block.service-location-map .map-list .location-item .buy-now a {
  text-decoration: none;
  color: var(--color-black);
  font-weight: 700;
  border-width: 2px;
}

.block.service-location-map .map-list .location-item .buy-now a:hover {
  border-color: #1a242b;
  background: #ffc62b;
  color: #1a242b;
}



@media screen and (min-width: 992px) {
  .block.service-location-map .map {
    width: 66%;
    height: 35rem;
    margin-left: 1.5rem;
  }

  .block.service-location-map .mapboxgl-canvas {
    height: 100% !important;
    width: 100% !important;
  }

  .block.service-location-map .map-list {
    width: 34%;
  }
}

@media screen and (min-width: 1200px) {
  .block.service-location-map .map-list .location-item .location a {
    font-size: 1.1rem;
  }
}
