/* stylelint-disable no-descending-specificity */
:root {
    --form-styles-background-color-primary: var(--color-white);
    --form-styles-label-color: var(--color-text-primary);
    --form-styles-border-color: #818a91;
    --form-error-color: var(--color-ui-error);
    --form-styles-button-primary-color: var(--color-primary-1);
    --form-styles-button-disable-color: #666;
    --form-styles-button-primary-hover-color: #035fe6;
    --form-font-size-m: 22px;
    --form-font-size-s: 18px;
    --form-font-size-xs: 16px;
    --form-font-size-xxs: 14px;
    --form-font-size-xxxs: 12px;
    --form-background-color: var(--form-styles-background-color-primary);
    --form-padding: 0;
    --form-columns: 12;
    --form-field-horz-gap: 40px;
    --form-field-vert-gap: 20px;
    --form-input-invalid-border-color: var(--form-error-color);
    --form-input-focus-shadow: 0 0 0 .25rem rgb(13 110 253 / 25%);
    --form-input-invalid-shadow: 0 0 0 .25rem rgb(220 53 69 / 25%);
    --form-input-padding: 1rem 0.75rem;
    --form-input-font-size: 1rem;
    --form-input-disabled-color: var(--color-bg-secondary);
    --form-input-border-size: 1px;
    --form-input-border-color: var(--color-accent-4); /* value taken from Figma 3-18-25 */
    --form-input-background-color: var(--form-styles-background-color-primary);
    --form-paragraph-color: var(--form-styles-label-color);
    --form-paragraph-margin: 0 0 0.9rem;
    --form-paragraph-font-style: none;
    --form-paragraph-font-size: var(--form-font-size-s);
    --form-label-color: var(--form-styles-label-color);
    --form-label-font-size: var(--form-font-size-xs);
    --form-label-font-weight: 400;
    --form-title-font-weight: 600;
    --form-fieldset-border: 0;
    --form-fieldset-marign: 0;
    --form-fieldset-columns: 1;
    --form-fieldset-legend-color: var(--form-label-color);
    --form-fieldset-legend-font-size: var(--form-label-font-size);
    --form-fieldset-legend-font-weight: var(--form-title-font-weight);
    --form-fieldset-legend-border: none;
    --form-fieldset-legend-padding: 0;
    --form-button-color: var(--form-styles-background-color-primary);
    --form-button-font-size: var(--form-font-size-xs);
    --form-button-background-color: var(--form-styles-button-primary-color);
    --form-button-background-hover-color: var(--form-styles-button-primary-hover-color);
    --form-button-border: 2px solid transparent;
    --form-button-padding: 4px 18px;
    --form-upload-color: var(--form-label-color);
    --form-upload-font-size: var(--form-font-size-xs);
    --form-upload-background-color: var(--form-styles-background-color-primary);
    --form-submit-width: 100%;
    --form-width: 100%;
    --form-wizard-border: 0;
    --form-wizard-background-color: var(--form-styles-background-color-primary);
    --form-wizard-border-color: #757575;
    --form-wizard-number-color: var(--form-styles-button-primary-color);
    --form-wizard-padding: 30px;
    --form-wizard-padding-bottom: 160px;
    --form-wizard-step-legend-padding: 10px;
    --form-wizard-step-legend-font-size: 1.1rem;
}

* {
    box-sizing: border-box;
}

main .form pre {
    display: none;
}

form output {
    display: block;
    font-weight: 700;
    font-size: 1.625rem;
}

form:not(.edit-mode) [data-visible="false"] {
    display: none !important;
}

main .form-container {
    background-color: var(--form-background-color);
    padding: var(--form-padding);
    width: var(--form-width);
    overflow: visible;
}


main .form {
    background-color: var(--form-background-color);
}

main .form a:any-link {
    color: var(--color-link);
}

main .footer-subscription-form > div {
    max-width: var(--section-width);
    width: 100%;
    padding: 2rem 1.5rem;
}

main .form > div:not(:first-child) {
    display: none;
}

main .form form {
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    gap: var(--form-field-vert-gap) var(--form-field-horz-gap);
    outline: none;
}

@media (min-width: 600px) {
    main .form form {
        display: grid;
    }
}

main .form form fieldset {
    border: var(--form-fieldset-border);
    margin: var(--form-fieldset-marign);
    width: 100%;
}

main .form form fieldset fieldset {
    padding: 0;
}

main .form .field-description {
    color: var(--form-label-color);
    font-size: var(--form-font-size-xxs);
}

main .form form .field-invalid .field-description {
    color: var(--form-error-color);
}

main .form input,
main .form textarea,
main .form select {
    background-color: var(--form-input-background-color);
    border-radius: 4px;
    border: var(--form-input-border-size) solid var(--form-input-border-color);
    width: 100%;
    height: 48px;
    color: var(--color-text-primary);
    padding: var(--form-input-padding);
    font-size: var(--form-input-font-size);
    max-width: unset;
    margin-top: .5rem;
    margin-bottom: .25rem;
}

main .form .field-wrapper textarea {
    resize: none;
    min-height: 100px;
}

main .form select {
  padding-top: 0;
  padding-bottom: 0;
}

main .form input[type='file'] {
    border: none;
    padding-inline-start:0;
    background: unset;
    color: unset;
}

main .form input[type="checkbox"],
main .facet input[type="checkbox"] {
    appearance: none;
    margin: .25rem;
    padding: .4rem;
    width: 1rem;
    height: 1rem;
    border-radius: 4px;
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-primary-1);
    position: relative;
    cursor: pointer;
    transition: background 0.3s ease;
}

main .form input[type="checkbox"]:checked::after,
main .facet input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    transform: rotate(45deg);
    display: inline-block;
    height: 10px;
    width: 4px;
    border-bottom: 1px solid var(--color-primary-1);
    border-right: 1px solid var(--color-primary-1);
}

main .form input[type="checkbox"]:focus,
main .facet input[type="checkbox"]:focus {
  outline: none;
}

main .form input[type="checkbox"]:disabled,
main .facet input[type="checkbox"]:disabled {
    background-color: var(--color-white);
    border: 1px solid var(--color-disabled) !important;
    cursor: not-allowed;
}

main .form input[type="checkbox"]:disabled::after,
main .facet input[type="checkbox"]:disabled::after {
    border-bottom: 1px solid var(--color-disabled);
    border-right: 1px solid var(--color-disabled);
}

main .form input[type="checkbox"]:focus-visible::after,
main .facet input[type="checkbox"]:focus-visible::after {
    border-bottom: 1px solid var(--color-primary-1);
    border-right: 1px solid var(--color-primary-1);
}

main .form input[type="checkbox"]:focus-visible,
main .facet input[type="checkbox"]:focus-visible {
    background-color: var(--color-bg-secondary);
    outline: 2px solid var(--color-primary-1);
    outline-offset: 0;
}

main .form input[type="checkbox"]:focus-visible:hover,
main .facet input[type="checkbox"]:focus-visible:hover {
    background-color:  var(--color-primary-1);
}

main .form input[type="checkbox"]:hover:focus-visible::after,
main .facet input[type="checkbox"]:hover:focus-visible::after {
    border-bottom: 1px solid var(--color-white);
    border-right: 1px solid var(--color-white);
}

main .form input[type="checkbox"]:disabled:hover::after,
main .facet input[type="checkbox"]:disabled:hover::after {
    border-bottom: 1px solid var(--color-disabled);
    border-right: 1px solid var(--color-disabled);
}

main .form input[type="radio"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1.5px solid var(--color-primary-1);
    margin-right: .5rem;
    padding: 0;
    position: relative;
}

main .form input[type="radio"]:focus {
    outline: none;
}

main .form input[type="radio"]:focus-visible {
    border: 2px solid var(--color-primary-1);
    outline: none;
}

main .form input[type="radio"]:checked {
    background-color: var(--color-white);
}

main .form input[type="radio"]:disabled {
    border: 2px solid var(--color-disabled) !important;
    cursor: not-allowed;
}

main .form input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--color-primary-1);
}

main .form input[type="radio"]:disabled::before {
    background-color: var(--color-disabled);
}

main .form fieldset legend {
    font-weight: var(--form-fieldset-legend-font-weight);
    font-size: var(--form-fieldset-legend-font-size);
    color: var(--form-fieldset-legend-color);
    border-bottom: var(--form-fieldset-legend-border);
    width: 100%;
    padding: var(--form-fieldset-legend-padding);
    margin-bottom: 10px;
}

main .form label {
    color: var(--form-styles-label-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.14px;
}

main .form label.required::after {
    content: "*";
    color: var(--color-disabled);
    padding-inline-start: 5px;
}

main .form form p,
main .form form .repeat-wrapper,
main .form form .field-wrapper {
    margin: var(--form-field-gap);
    color: var(--form-label-color);
    width: 100%;
    grid-column: span 12;
}

main .form form p {
    font-size: var(--form-paragraph-font-size);
    font-style: var(--form-paragraph-font-style);
    color: var(--form-paragraph-color);
    margin: var(--form-paragraph-margin);
}

main .form form .checkbox-wrapper, main .form form .radio-wrapper {
    display: flex;
    align-items: center;
    margin: 0;
    gap: 0.8rem;
}

main .form form fieldset > .radio-wrapper:first-of-type,
main .form form fieldset > .checkbox-wrapper:first-of-type {
    margin: var(--form-field-gap);
}

main .form .radio-wrapper  label,
main .form .checkbox-wrapper label {
    flex-basis: calc(100% - 28px);
}

input::file-selector-button {
    color: var(--form-upload-color);
    background: var(--form-upload-background-color);
    font-size: var(--form-upload-font-size);
    text-align: center;
}

main .form button {
    color: var(--form-button-color);
    background: var(--form-button-background-color);
    border: var(--form-button-border);
    padding: var(--form-button-padding);
    font-size: var(--form-button-font-size);
    width: 100%;
}

main form .file-wrapper > button{
    display: flex;
}

.button-wrapper.submit-wrapper button{
  width: 100%;
}

main .form button:hover {
    background: var(--form-button-background-hover-color);
}

main .submit-wrapper{
    width: var(--form-submit-width);
}

main .form input:focus,
main .form textarea:focus,
main .form select:focus {
  outline: 3px solid var(--color-bg-tertiary);
  outline-offset: 3px;
}

main .form input:disabled,
main .form textarea:disabled,
main .form select:disabled,
main .form button:disabled {
    background-color: var(--form-input-disabled-color);
}

main .form .field-wrapper.field-valid input,
main .form .field-wrapper.field-valid textarea,
main .form .field-wrapper.field-valid select {
    border-color: var(--color-ui-success);
}

main .form .field-wrapper.field-valid input[type="radio"] {
    border-color: var(--color-primary-1);
}

main .form .field-wrapper.field-invalid input,
main .form .field-wrapper.field-invalid textarea,
main .form .field-wrapper.field-invalid select {
    border-color: var(--form-input-invalid-border-color);
    padding-right: calc(1.5em + .75rem);
    background-image: url('../../icons/invalid.svg');
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem)
}

main .form .field-wrapper.field-invalid input[type="radio"] {
    width: 32px;
    height: 32px;
}

main .form .field-wrapper.field-invalid input:focus,
main .form .field-wrapper.field-invalid textarea:focus,
main .form .field-wrapper.field-invalid select:focus {
    outline: 3px solid var(--color-bg-tertiary);
    outline-offset: 3px;
}

main .form .field-wrapper.field-valid input:focus,
main .form .field-wrapper.field-valid textarea:focus,
main .form .field-wrapper.field-valid select:focus {
    outline: 3px solid var(--color-primary-1);
    outline-offset: 3px;
}

main .form input[type="radio"]:focus,
main .form .field-wrapper.field-valid input[type="radio"]:focus,
main .form .field-wrapper.field-invalid input[type="radio"]:focus {
    outline: none;
    border-radius: 36px;
    border: 0.5px solid var(--color-primary-1);
    box-shadow: 0 0 0 2px var(--color-primary-1);
}

main .form input[type="radio"]:checked,
main .form .field-wrapper.field-valid input[type="radio"],
main .form .field-wrapper.field-invalid input[type="radio"] {
    outline: none;
    border-radius: 36px;
    border: 1.5px solid var(--color-primary-1);
    box-shadow: 0 0 0 0.5px var(--color-primary-1);
}

main .file-wrapper.decorated input[type="file"] {
    display: none;
}

main .file-wrapper .field-dropregion {
    background: rgb(0 0 0 / 2%);
    border: 1px dashed var(--form-input-border-color);
    border-radius: 4px;
    margin: 11px 0 8px;
    padding: 32px;
    text-align: center;
}

main .form form .item-remove {
    padding: 0;
    background: var(--color-white);
    padding-left: 10px;
}

main .form form .item-add {
    overflow: unset;
    display: flex;
    justify-content: center;
}

main .form .file-description{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 5px;
}

main .form .file-description .file-description-name {
  cursor: pointer;
  text-decoration: underline;
  flex: 1;
}

main .form form .item-remove span {
    display: block;
    width: 20px;
    height: 20px;
    background: url('../../icons/delete.svg') no-repeat;
}

main .file-wrapper .file-description button {
    --form-button-padding: 15px;

    width: 12px;
    height: 12px;
    border: none;
    text-align: center;
    background: var(--form-styles-border-color);
    cursor: pointer;
    position: relative;
    border-radius: 3px;
}

main .file-wrapper .file-description button::after{
    content: 'X';
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--form-styles-background-color-primary);
    transform: translate(-50%, -50%);
}

main .form .button-wrapper button {
    cursor:pointer;
    border-radius: 100px;
}

main .form .button-wrapper button:hover {
    background: var(--color-white);
    color: var(--form-button-background-color);
    border: 2px solid var(--form-button-background-color);
}

main .form .button-wrapper.wizard-button-next button, main .form .button-wrapper.submit-wrapper button{
    background-color: var(--color-secondary-4);
    border: none;
    outline: 1px solid var(--color-bg-secondary);
    color: var(--color-text-primary);
    margin-left: auto;
}

main .form .button-wrapper button[disabled], main .form .button-wrapper.wizard-button-next button:disabled {
    cursor: not-allowed;
    border: none;
    outline: none;
    color: var(--form-styles-button-disable-color);
    background-color: var(--color-disabled);
}

main .form .button-wrapper.wizard-button-next button:hover, main .form .button-wrapper.submit-wrapper button:hover{
  outline-width: 3px;
}

main .form .button-wrapper.wizard-button-next button:focus, main .form .button-wrapper.submit-wrapper button:focus{
  outline: 3px solid var(--color-bg-tertiary);
  outline-offset: 3px;
  border: 3px solid var(--color-bg-secondary);
}

/** Wizard Styling */
main .form form .wizard  {
  display: grid;
  counter-reset: wizard-step-counter;
  grid-template-columns: minmax(0, 1fr);
  border: var(--form-wizard-border) solid var(--form-wizard-border-color);
  background-color: var( --form-wizard-background-color);
  gap: unset;
  padding: 20px var(--form-wizard-padding);
}

main .form form .wizard > legend{
    float: left;
    width: 100%;
}

main .form form .wizard > .field-description{
  width: 100%;
}

main .form form .wizard > fieldset > legend{
    display: none;
}

main .form form .wizard > fieldset:not(.current-wizard-step){
    display: none;
}

main .form form .wizard .wizard-button-wrapper {
    display: flex;
    justify-content: end;
    gap: 50px;
    width: 100%;
    grid-column: span 12;
    margin: 16px 0;
}

main .form form .wizard .field-wrapper.radio-icon input[type="radio"] {
    width: 0;
    height: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    border: none;
    opacity: 0;
}

main .form form .wizard .wizard-button-wrapper button {
    margin: 0;
}

main .get-a-quote-form-alternate form > .field-wrapper {
    padding-right: 24px;
    padding-left: 24px;
}

main .form form .wizard .wizard-button-wrapper .field-wrapper {
    flex: unset;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
}

main .form form .wizard .wizard-button-wrapper .field-wrapper.wizard-button-prev {
    margin-right: auto;
    margin-left: 0;
}

main .form form .field-privacy-policy p > a,
main .form form .field-policy p > a {
    text-decoration: none;
    cursor: pointer;
}

main .form form .field-privacy-policy p > a:hover,
main .form form .field-policy p > a:hover  {
    text-decoration: underline;
}

.wizard-menu-items{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0.5rem 1rem;
    font-weight: var(--form-fieldset-legend-font-weight);
    font-size: var(--form-fieldset-legend-font-size);
    color: var(--form-fieldset-legend-color);
    padding-bottom: var(--form-wizard-padding);
    grid-column: span 12;
}

main .form form .wizard .wizard-menu-item {
  counter-increment: wizard-step-counter;
}

main .form form .wizard .wizard-menu-item::before {
  content: counter(wizard-step-counter);
  border: 2px solid var(--form-wizard-number-color);
  color: var(--form-wizard-number-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  text-align: center;
  line-height: 2;
  display: inline-block;
}

main .form form .wizard .wizard-menu-active-item::before{
  border: 2px solid var(--form-wizard-number-color);
  background: var(--form-wizard-number-color);
  color: var(--form-styles-background-color-primary);
  font-weight: 600;
}

@media (min-width: 600px) {
    main .form button {
        width: unset;
    }
}

/* wizard title on left */
main .form form .wizard.left{
  display: flex;
}

main .form form .wizard.left .wizard-menu-items{
  flex-direction: column;
  width: 300px;
}

main form .panel-wrapper {
  display: flex;
  padding: 0;
  flex-direction: column;
}

main .form form .panel-wrapper{
  display: grid;
  grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
  gap: var(--form-field-vert-gap) 0;
}

main .form form .repeat-wrapper{
    display: grid;
    grid-template-columns: repeat(var(--form-columns), minmax(0, 1fr));
    gap: var(--form-field-vert-gap) var(--form-field-horz-gap);
}

main .get-a-quote-form-alternate form .panel-wrapper {
    gap:unset;
}

main .campaign-form.form form .panel-wrapper {
    padding: 5px;
    background-color: var(--color-gray);
    display: block;
}

main .get-a-quote-form-alternate.grey-background form .panel-wrapper{
    background-color: var(--color-gray);
}

main .form form .wizard.left .panel-wrapper{
  flex: 1;
}

/* Styles for devices that support hover (e.g., desktop) */
@media (hover: hover) and (pointer: fine) {
    main .form input[type="checkbox"]:hover,
    main .facet input[type="checkbox"]:hover {
        background-color:  var(--color-primary-1);
    }

    main .form input[type="checkbox"]:hover:not(:focus-visible)::after,
    main .facet input[type="checkbox"]:hover:not(:focus-visible)::after {
        border-bottom: 1px solid var(--color-white);
        border-right: 1px solid var(--color-white);
    }
}

@media (min-width: 1200px) {
    main .form form .checkbox-wrapper,
    main .form form .form-textarea-wrapper,
    main .form form .file-wrapper,
    main .form form .panel-wrapper {
        flex: 1 0 100%;
    }

    main .form form .panel-wrapper {
        flex-flow: row wrap;
        gap: 10px 15px;
    }
}

main .form .form-message.success-message {
    border-color: #badbcc;
    flex: 100%;
    grid-column: span 12;
    padding: 10px;

     a[href$='.pdf'] {
         background-color: var(--color-button-primary);
         border-color: var(--color-button-primary);
         color: var(--color-black);
         display: flex;
         text-decoration: none;
         padding: 0 32px;
         line-height: 32px;
         text-align: center;
         font-style: normal;
         font-weight: 600;
         cursor: pointer;
         margin: 16px 0;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         border-radius: 100px;
         justify-content: center;
    }
}

main .form .form-message.error-message {
    color: #842029;
    flex: 100%;
    grid-column: span 12;
}

main .form .form-message.error-message p {
    color:var(--form-error-color);
}

main .form .file-wrapper .file-drag-area {
  border: 1px dashed var(--form-styles-border-color);
  border-radius: 5px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/* grid css */
main .form form .field-wrapper .field-description{
  grid-column: span 12;
}

main .form form .field-wrapper.col-12 {
    grid-column: span 12;
}

main .form form .field-wrapper.col-11 {
    grid-column: span 11;
}

main .form form .field-wrapper.col-10 {
  grid-column: span 10;
}

main .form form .field-wrapper.col-9 {
    grid-column: span 9;
}

main .form form .field-wrapper.col-8 {
    grid-column: span 8;
}

main .form form .field-wrapper.col-7 {
    grid-column: span 7;
}

main .form form .field-wrapper.col-6 {
      grid-column: span 6;
}

main .form form .field-wrapper.col-5 {
      grid-column: span 5;
}

main .form form .field-wrapper.col-4 {
      grid-column: span 4;
}

main .form form .field-wrapper.col-3 {
      grid-column: span 3;
}

main .form form .field-wrapper.col-2 {
      grid-column: span 2;
}

main .form form .field-wrapper.col-1 {
    grid-column: span 1;
}

main .form .form-image-wrapper  img {
  max-width: 100%;
  height: auto;
}

main form .wizard > .current-wizard-step.panel-wrapper:first-of-type ~ .wizard-button-wrapper > .wizard-button-prev,
main form .wizard > .current-wizard-step.panel-wrapper:last-of-type ~ .wizard-button-wrapper > .wizard-button-next {
    display: none;
}

main form .wizard > .wizard-button-wrapper > .submit-wrapper {
    display: none;
    width: unset;
    margin-left: auto;
    margin-right: 0 !important;
}

main form .wizard >
.current-wizard-step.panel-wrapper:last-of-type ~ .wizard-button-wrapper > .submit-wrapper {
    display: block;
}

/** floating labels **/
main .form .field-wrapper.floating-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

main .form .field-wrapper.floating-field > label {
    padding: 9px 0 0 1rem;
    position: absolute;
    transition: .3s cubic-bezier(.25,.8,.5,1);
    top: 10px;
}

/* Style for labels when input is focused */
main .form .field-wrapper.floating-field input:not([type='radio'], [type='checkbox'], :placeholder-shown) + label,
main .form .field-wrapper.floating-field input:not([type='radio'], [type='checkbox']):focus + label{
    padding: 15px 0 0 15px;
    font-size: 10px;
    color: var(--color-disabled);
    transform: translateY(-15px);
    z-index: 1;
}

main .form .field-wrapper.floating-field input:not([type='radio'], [type='checkbox']) {
    padding-top: 1.5rem;
    padding-bottom: .5rem;
}

 /* hide placeholder when not focused */
 main .form input:not(:placeholder-shown)::placeholder,
 main .form input:placeholder-shown:not(:focus)::placeholder {
    color: transparent;
}

main .modal.block dialog{
  max-width: 570px;
}

main .modal.block dialog .form form .wizard{
  padding: 0;
}

main .form .field-wrapper.floating-field[data-required="true"] label::after,
main .form .panel-wrapper[data-required="true"] legend::after {
  content: "*";
  color: var(--form-label-color);
}

main .form .field-wrapper.floating-field[data-required="true"].field-invalid label::after,
main .form .panel-wrapper[data-required="true"].field-invalid legend::after {
  color: var(--form-error-color);
}

main .form form.submit-success .fragment-wrapper:not([data-id^="header"]) {
    display: none;
}

main .get-a-quote-form-alternate {
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
    background-color: var(--color-white);
    border-radius: var(--border-radius-l);
    padding-top: 0;
    padding-bottom: 16px;
    overflow: hidden;
}

main .get-a-quote-form-alternate form {
    margin:0;
    column-gap: unset;
    row-gap: 0.4rem;
}

main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='privacy-policy']  p,
main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='policy'] p {
    font-size: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    margin-bottom:0;
    color: var(--color-black);
}

main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] {
    background-color: var(--color-secondary-4);
    font-size: var(--heading-font-size-m);
    padding: 24px 32px;
    margin-bottom: 1rem;
    font-weight: normal;
}

main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] h3,
main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] h2 {
    margin-bottom: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.24px;
    color: var(--color-black);
}

main .campaign-form.form .fragment-wrapper[data-id^='header'] {
    font-size: var(--heading-font-size-m);
    padding: 2rem 0.8rem 0;
    margin-bottom: 1rem;
    font-weight: normal;
    gap:0;
}

main .get-a-quote-form-alternate.center-header form .fragment-wrapper[data-id^='header'] {
    text-align: center;
}

main .get-a-quote-form-alternate.center-header form .fragment-wrapper[data-id^='header'] > div > p > strong {
    font-size: 1.4rem;
    color: var(--color-black);
}

main .footer-subscription-form form .fragment-wrapper > div p:nth-of-type(2) {
    margin-bottom: 0.4rem;
}

main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] > div > p {
    margin-bottom: 0;
    color: var(--color-black);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0.14px;
    padding-top: 8px;
}

main .section.contact-us .fragment-wrapper[data-id="contact"] > div > p{
    font-size: 0.9rem;
}

main .get-a-quote-form-alternate.center-header form .fragment-wrapper[data-id^='header'] > div > p {
    margin-bottom: 0;
    padding: 0.8rem;
}

main .get-a-quote-form-alternate.center-header form .fragment-wrapper[data-id^='contact-fragment'] > div > p {
    margin-bottom: 0;
    padding: 0.8rem 0.8rem 0.4rem;
    font-size: 1rem;
    font-weight: 900;
}

main .get-a-quote-form-alternate.no-header-color form .fragment-wrapper[data-id^='header'] {
    background-color: unset;
    padding-bottom: 0;
    margin-bottom: 0;
}

main .get-a-quote-form-alternate.no-header-color form .fragment-wrapper[data-id='privacy-policy'] {
    padding-bottom: 0;

    > div > p {
        padding-bottom: 0;
    }
}

main .footer-subscription-form  form {
    gap: 0;
}

main .get-a-quote-form-alternate.grey-background form {
    background-color: var(--color-gray);
}

main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] a{
    color: #1a242b;
    text-decoration: underline;
}

main .footer-subscription-form.form-container {
    margin:0;
    padding-top: 1rem;
}

main .footer-subscription-form {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
}

main .footer-subscription-form .button-wrapper.field-wrapper.submit-wrapper button {
    background-color: var(--color-white);
    border: 2px solid var(--color-primary-1);
    color: var(--color-primary-1);
    outline: none;
}

main .footer-subscription-form .button-wrapper.field-wrapper.submit-wrapper button:hover {
    background-color: var(--color-primary-1);
    color: var(--color-white);
    outline: none;
}

main .footer-subscription-form .button-wrapper.field-wrapper.submit-wrapper button:focus {
    background-color: var(--color-primary-1);
    color: var(--color-white);
    outline: 3px solid var(--color-bg-tertiary);
    outline-offset: 3px;
}

main .footer-subscription-form .button-wrapper.field-wrapper.submit-wrapper button:disabled {
    cursor: not-allowed;
    border: none;
    outline: none;
    color: var(--form-styles-button-disable-color);
    background-color: var(--color-disabled);
}


main .footer-subscription-form #get-informed-stay-protected{
    color:var(--color-primary-1);
}

main .footer-subscription-form a[href="https://www.stericycle.com/en-us/privacy-policy"] {
    text-decoration: underline;
    font-size: 0.87rem;
}

@media (max-width: 1000px) {
    main .footer-subscription-form form .panel-wrapper {
        grid-template-columns: 1fr;
    }

    main .footer-subscription-form {
        max-width: var(--section-width);
        margin: auto;
        padding: 2rem 1.5rem;
    }

    main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] {
        padding: 16px 24px;
    }

    main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] h3,
    main .get-a-quote-form-alternate form .fragment-wrapper[data-id^='header'] h2{
        margin-bottom: 0;
        font-size: 24px;
    }

}

main .campaign-form.form {
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
    background-color: var(--color-white);
    border-radius: 4px;
    max-width: 300px;
}

main .campaign-form.form form {
    display: block;
    margin-top: 2rem;
    background-color: var(--color-gray);
}

main .section.contact-us .form-wrapper {
    grid-row: span 3;
    margin-bottom: 1rem;
    padding-left: 0;
}

main .two-column.form-container .form-wrapper {
    justify-self: flex-end;
}

main .shredded-paper-background-column.two-column.form-container,
main .navy-background.cyan-border.two-column.form-container,
main .hard-drive-background.two-column.form-container {
    display: grid;
    grid-template-columns: minmax(0, 1284px) minmax(0, 636px); /* Set max-width for each column */
    grid-auto-rows: auto;
    margin: auto;
    gap: 0;
    justify-content: center;
    width:100%;
}

main .two-column.full-width.form-container .form-wrapper {
    max-width: 612px;
}

main .two-column.form-container.narrow-top-margin .form-wrapper {
    margin-top: 1rem;
}

main .navy-background.cyan-border.two-column.form-container > .form-wrapper {
    padding: 0 2rem;
}

main .two-column.form-container:not(.shredded-paper-background-column, .hard-drive-background) {
    display: grid;
    grid-template-columns: minmax(0, 879px) minmax(0, 441px);
    grid-auto-rows: auto;
    margin: auto;
    gap: 0;
    justify-content: center;
    width:100%;
}

main .two-column.form-container > div {
    grid-column: 1;
}

main .two-column.form-container > div:not(:first-child, .form-wrapper) {
    margin: 0;
}

main .two-column.form-container > div:first-child {
    margin-bottom: 0;
}


/* Place the last child in the second column */
main .two-column.form-container > div:nth-last-child(1) {
    grid-column: 2;
    grid-row: 1 / span 2;
}

@media (min-width: 1000px) {
    main .two-column.form-container > div:nth-last-child(1) {
        margin: 32px 0 64px;
    }
}

main .two-column.narrow-top-margin > div:nth-child(1) {
    margin-top: 0;
}

main .contact-us{
    column-gap: 0;
    display: grid;
    grid-template-columns: 3fr 2fr;
    max-width: var(--section-width);
    align-items: start;
    margin: auto auto 2rem;
}

main .contact-us .columns-wrapper .columns-img-col {
    max-width: 138px;
    max-height: 138px;
}

main .contact-us .columns-wrapper .columns-1-cols .button-container {
    margin-bottom: 0;

    > a {
        margin-bottom: 0;
    }
}

main .contact-us .columns-wrapper .columns-has-image > div {
    position: relative;
}

main .contact-us .columns-wrapper .columns-has-image > div > div:nth-child(2)::before {
    content: "";
    display: block;
    margin: 0;
    height: 100%;
    border-left: 4px solid #40bbd5;
    position: absolute;
    left: 9rem;
    top: 0;
    width: 0;
}

main .contact-us .columns-wrapper {
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
}

main .section.contact-us > div:nth-child(3) {
    margin-top: 0;
}

main .section.contact-us > div:nth-child(3) .button-container > a.button {
    border-color: var(--color-yellow);
    width: 100%;
}

main .section.contact-us > div:nth-child(4) {
    margin: 0;
    padding: 0;
}

main .section .default-content-wrapper h1[id='contact-us'] {
    margin-left: 2rem;
    margin-bottom: 0;
}

main .section.contact-us-title > .default-content-wrapper {
    margin-bottom: 0;
}

@media (max-width: 1000px) {
    main .two-column.form-container .default-content-wrapper {
        width: 90%;
    }

    main .two-column.form-container .form-wrapper {
        width:90%;
    }

    main .body-wrapper .page-sidebar > div.form-container {
        padding: 0 1.5rem;
    }

    main .shredded-paper-background-column.two-column.form-container,
    main .hard-drive-background.two-column.form-container {
        background-image: none;
    }

    main .section.two-column.form-container,
    main .section.two-column.form-container.full-width,
    main .shredded-paper-background-column.two-column.form-container,
    main .navy-background.cyan-border.two-column.form-container,
    main .hard-drive-background.two-column.form-container
    {
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
        /* stylelint-disable */
        > .form-wrapper {
            grid-row:   2;
            padding: 0;
        }
    }

    main .section.two-column.form-container > div,
    main .section.two-column.form-container.full-width > div,
    main .shredded-paper-background-column.two-column.form-container > div,
    main .navy-background.cyan-border.two-column.form-container > div,
    main .hard-drive-background.two-column.form-container > div {
        grid-column: span 1;
        grid-row: unset;
    }

    main .section.two-column.form-container > div.default-content-wrapper {
        padding: 0;
    }

    main .section.contact-us {
        grid-template-columns: 1fr;
    }

    main .section.contact-us .form-wrapper {
        margin-top: 0;
        padding: 0.2rem;
    }

    main .section.contact-us > div:nth-child(4) {
        display: none;
    }

    main .contact-us .columns-wrapper .columns-img-col {
        max-height: 100px;
        max-width: 100px;
    }

    main .contact-us .columns-wrapper .columns-has-image > div {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    main .contact-us > div:nth-child(2) {
        margin-top: 0;
    }

    main .section .default-content-wrapper h1[id='contact-us'] {
        margin:0;
    }

    main .get-a-quote-form-alternate form .field-wrapper.field-first-name,
    main .get-a-quote-form-alternate form .field-wrapper.field-last-name{
        grid-column: span 12;
    }

    main .campaign-form.form {
        max-width: unset;
    }

    main .section.two-column.form-container.form-top-mobile {
        display: flex;
        flex-direction: column;

        > .form-wrapper {
            order: -1;
        }
    }

}

main .form-wrapper .form.contact-us-form{
    padding: 2.5rem;
    box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
    border-radius: var(--border-radius-l);
}

main .form-wrapper .form.contact-us-form form {
    row-gap: 0.5rem;
    column-gap: unset;
}

main .form fieldset legend[for^="requesttype"] {
    font-weight: unset;
}

main .form fieldset legend[for^="frequncy"] {
    font-weight: unset;
}

main .form fieldset legend[for^="selectservice"]{
    padding-left: 0.6rem;
    font-weight: unset;
}

main form .fragment-wrapper[data-id^='privacy-policy']  p,
main form .fragment-wrapper[data-id^='policy']  p{
    font-size: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    color: var(--color-black);
}

main .campaign-form.form form .fragment-wrapper div > p {
    font-size: 1rem;
}

/* Split buttons */
main .form form fieldset.splitbuttons {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px 0 0;
    gap: 8px;
}
@media (min-width: 370px) {
    main .form form fieldset.splitbuttons {
        flex-flow: row;
        align-items: start;
        gap: 4px;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }
}

main .form form fieldset.splitbuttons .radio-wrapper-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 8px;
    height: 100%;
}

main .form form fieldset.splitbuttons .radio-wrapper-container .radio-wrapper:first-of-type {
    border-bottom-left-radius: 6.25rem;
    border-top-left-radius: 6.25rem;
}

main .form form fieldset.splitbuttons .radio-wrapper-container .radio-wrapper:last-of-type {
    border-bottom-right-radius: 6.25rem;
    border-top-right-radius: 6.25rem;
}

main .form form fieldset.splitbuttons legend {
    float: left;
    font-family: var(--font-family-lato);
    font-size: var(--form-font-size-xxs);
    font-weight:var(--font-weight-bold);
    color: var(--color-text-primary);
    line-height: 22.4px;
    margin-top: 8px;
    margin-bottom: 0;
    max-width: 102px;
    width: fit-content;
}

@media (min-width: 1000px) {
    main .form form fieldset.splitbuttons legend {
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 160%;
    }
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper {
    position: relative;
    grid-column: 2;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0;
    background: var(--color-bg-secondary);
    min-width: 103px;
    height: 42px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper input {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper label {
    padding: 11px 22px;
}

@media (min-width: 410px) {
    main .form form .panel-wrapper.splitbuttons .radio-wrapper label {
        padding: 11px 32px;
    }
}

main .two-column.form-container .form form .panel-wrapper.splitbuttons .radio-wrapper label {
    padding: 11px 22px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) {
    background: var(--form-styles-button-primary-color);
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label::before {
    content: '';
    display: block;
    position: absolute;
    left: 22px;
    background: url("/icons/check-mark-new.svg") no-repeat left center;
    background-size: cover;
    width: 16px;
    height: 16px;
}

@media (min-width: 410px) {
    main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label::before {
        left: 32px;
    }
}

main .two-column.form-container .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label::before {
    left: 22px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper label {
    cursor: pointer;
    color: var(--color-text-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.28px;
}

@media (min-width: 1000px) {
    main .form form .panel-wrapper.splitbuttons .radio-wrapper label {
        letter-spacing: 0.32px;
    }
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) {
    position: relative;
    min-width: 139px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label {
    display: flex;
    align-items: center;
    color: var(--color-white);
    cursor: pointer;
    padding-left: 46px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper label {
    white-space: nowrap;
}

@media (min-width: 410px) {
    main .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label {
       padding-left: 56px;
    }
}

main .two-column.form-container .form form .panel-wrapper.splitbuttons .radio-wrapper:has(input:checked) label {
    padding-left: 46px;
}

main .form form .panel-wrapper.splitbuttons .radio-wrapper.field-wrapper {
    width: fit-content;
    padding: 0;
    margin-top: 0;
}