.block.quote blockquote {
  position: relative;
  display: flex;
  column-gap: 24px;
  row-gap: 24px;
  flex-direction: column;
  padding-left: 24px;
  padding-bottom: 24px;
}

.block.quote blockquote::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  max-height: 128px;
  background-color: var(--color-primary-1);
}

.quote blockquote .quote-quotation {
  font-size: var(--heading-font-size-m);
  font-weight: 400;
  font-style: italic;
  color: var(--color-text-primary);
}

@media (min-width: 768px /* breakpoint-m */) {
  .quote blockquote .quote-quotation {
    font-size: var(--body-font-size-l);
  }
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.block.quote blockquote .quote-attribution p {
  color: var(--color-text-primary);
  font-style: normal;
  font-weight: 900;
}


