.quote {
  margin: 16px 0 32px;
  padding: 0 10px;
}

.block.quote.alternate-1 {
  padding-left: 0;
}

.quote blockquote {
  font-style: italic;
}

.block.quote.alternate-1 blockquote {
  padding-left: 0;
  border-left: 4px solid #ff5633;
}

.quote blockquote .quote-quotation {
  margin-bottom: 0.75rem;
  font-size: var(--body-font-size-l);
  font-weight: 700;
}

.block.quote.alternate-1 blockquote .quote-quotation {
  padding-left: 3rem;
}

.quote blockquote .quote-quotation > :first-child {
  padding: 0 6px;
  text-indent: -0.6ch;
}

.quote blockquote .quote-quotation > :first-child::before,
.quote blockquote .quote-quotation > :last-child::after {
  line-height: 0;
}

.quote blockquote .quote-quotation > :first-child::before {
  content: "“";
}

.quote blockquote .quote-quotation > :last-child::after {
  content: "”";
}

.block.quote.alternate-1 blockquote .quote-attribution {
  padding-left: 54px;
  margin-top: 2rem;
}

.block.quote.alternate-1 blockquote .quote-quotation h3 {
  font-weight: 500;
}

@media (min-width: 992px /* breakpoint-l */) {
  .block.quote.alternate-1 blockquote .quote-quotation h3 {
    font-size: 1.625rem;
    line-height: 2.375rem;
  }
}
