.columns {
  margin: 16px 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.columns > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
}

.columns.labeled > div {
  align-items: flex-start;
}

.columns img {
  width: 100%;
}

.columns.img-33 img {
  width: 33.333%;
}

.columns.columns-has-image img {
  overflow-clip-margin: content-box;
  max-width: 100%;
  overflow: clip;
  box-sizing: border-box;
}

.columns > div > .columns-img-col img {
  display: block;
}

main .columns span.icon > img {
  width:2.5rem;
  height:2.5rem;
}

.columns.columns-has-image.steps img {
  width: 576px;
}

.block.columns.native-image-sizes img {
  width: auto;
}

.columns.labeled > div:first-of-type img {
  width: 100%;
}

.columns.check-list p {
  margin-bottom: 1rem;
}

.columns.labeled > div:last-of-type p {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.columns.box-shadow-hover.columns span.icon {
  display: flex;
  height: 150px;

}

.columns.labeled > div:last-of-type span.icon {
  width: 8.3%;
  height: auto;
  text-align: left;
}

.columns.labeled > div:last-of-type strong {
  width: 100%;
  box-sizing: content-box;
  margin-top: auto;
  margin-bottom: auto;
}

.columns.numeric-list > div, .columns.check-list > div {
  align-items: flex-start;
}

.columns.steps > div {
  align-items: flex-start;
}

.columns.narrow-icons > div {
  align-items: flex-start;
  gap: unset;
  flex-flow: row wrap;
}

.columns.check-list sup {
  font-size: .75rem;
}

.columns.check-list ul > li {
  border-bottom: .0625rem solid #dad6d6;
  padding: .75rem 3rem;
  background: url("/icons/check-mark-new.svg") no-repeat left center;
}

.columns.numeric-list li::before {
  content: unset;
}

.columns.check-list ul > li::before {
  content: unset;
}

.columns.columns-has-image > div {
  justify-content: unset;
}

.columns.align-top > div {
  align-items: flex-start;
}

.columns.steps > div > div {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

/* narrow-icons variant */

.columns.narrow-icons h4 {
  font-size: 1rem;
}

.columns.narrow-icons h4 > a {
  color: var(--color-black);
}

.columns.narrow-icons > div > div {
  width: 50%;
}

.columns.narrow-icons span.icon > img {
  height: unset;
}

.columns.narrow-icons p.button-container {
  color: unset;
  margin-bottom: unset;
}

.columns.narrow-icons p.button-container > a {
  border: unset;
  background-color: unset;
}

.columns.steps h3 {
  color: var(--color-cyan);
}

.columns.steps > div > div > p:nth-of-type(2) {
  border-left: 4px solid var(--color-orange);
  padding-left: 1rem;
  height: 100%;
  margin-top: 1rem;
  min-height: 80px;
  align-items: center;
  display: flex;
}

.columns.box-shadow-hover > div > div {
  padding: 1.5rem;
}

.columns.orange-accent-border > div > div,
.columns.cyan-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  justify-content: unset;
  position: relative;
  padding-left: 24px;
}

.columns.orange-accent-border > div > div::after,
.columns.cyan-accent-border > div > div::after,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img))::after,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  position: absolute;
  left: 0;
  max-height: 80px;
  height: 100%;
  width: 4px;
  content: '';
  display: block;
}

.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.columns.vertical-center-align > div > div {
  justify-content: center;
}

.columns.orange-accent-border > div > div::after,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  background: var(--color-orange);
}

.columns.cyan-accent-border > div > div::after,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  background: var(--color-cyan);
}

.block.columns.center-align > div {
  align-items: center;
}

.columns.orange-accent-border.columns-has-image > div > div,
.columns.cyan-accent-border.columns-has-image > div > div {
  border: unset;
  padding-left: 0;
}

main .section.blue-headings .columns span.icon {
  width: unset;
  height: unset;
}

.columns.numeric-list h3 {
  font-size: 4rem;
  color: var(--color-cyan);
}

.columns.numeric-list ul {
  display: flex;
  height: 5rem;
  padding-bottom: 2rem;
  padding-left: unset;
}

.columns.box-shadow-hover > div li {
  padding-bottom: 1rem;
}

.columns.numeric-list li:last-of-type {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: var(--color-orange) solid 4px;
  height: 100%;
}

.columns.numeric-list li:first-of-type {
  top: 1rem;
}

.columns.numeric-list li:first-of-type > strong {
  font-size: 4rem;
  color: var(--color-cyan);
}

.columns.box-shadow-hover > div > div > h3 {
  color: #133b5c;
}

.columns.box-shadow-hover > div > div:hover > h3, .columns.box-shadow-hover > div > div:hover img {
  color: #006cb4;
  fill: #006cb4;
}

.columns.box-shadow-hover.columns span.icon > img {
  height: 150px;
  width:auto;
}

.columns.box-shadow-hover > div > div:hover {
  filter: drop-shadow(0 0 .5rem #DAD6D6);
  background-color: var(--color-white);
}

.section.border-between-rows .columns > div > .columns-img-col img {
  margin-left: 16.6667%
}

.section.border-between-rows .columns > div > div {
  justify-content: flex-start;
}

.section.border-between-rows .columns > div:first-child {
  border-bottom: .5px solid var(--color-light-gray);
  margin: 1rem 0;
}

.section.border-between-rows .columns div:nth-child(2) div:nth-child(2)  {
  align-items: flex-start;
}

@media (min-width: 992px /* breakpoint-l */) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.narrow-icons > div {
    align-items: flex-start;
    gap: unset;
  }

  .columns.steps > div > div {
    height: 100%;
  }

  .columns.narrow-icons h4 {
    font-size: 1rem;
  }

  .columns.narrow-icons h4 > a {
    color: var(--color-black);
  }

  .columns.narrow-icons > div > div {
    width: 8.3%;
  }

  .columns.narrow-icons p.button-container {
    color: unset;
    margin-bottom: unset;
  }

  .columns.narrow-icons p.button-container > a {
    border: unset;
    background-color: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div,
  .columns.cyan-accent-border.columns-has-image > div > div {
    justify-content: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div:first-of-type,
  .columns.cyan-accent-border.columns-has-image > div > div:first-of-type {
    padding-left: 0;
  }

  main .columns.numeric-list span.icon > img {
    width:3.75rem;
    height:3.75rem;
  }

  main .columns.logos.columns-4-cols span.icon > img {
    height: 72px;
    width: 100%;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .block.columns.video {
    max-width: unset;
  }

  main .block.columns.columns-2-cols > div div {
    justify-content: center;
  }

  main .section.justify-start .block.columns.columns-2-cols > div div {
    justify-content: flex-start;
  }


  main .block.columns.video.columns-2-cols > div div:last-of-type:has(iframe) {
    display: flex;
    flex-direction: column;
    margin-left: 8.3333%;
  }
  
  main .block.columns.video.columns-2-cols > div div:first-of-type:has(iframe) {
    display: flex;
    flex-direction: column;
    margin-right: 8.3333%;
  }
  
  main .block.columns.video.columns-2-cols > div div iframe {
    height: 100%;
  }

  main .section.columns-container.flex-row .block.columns.columns-2-cols > div {
    display: flex;
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols > div div:first-of-type:has(.icon),
  main .section.columns-container.large-icon .block.columns.columns-2-cols > div div:last-of-type:has(.icon) {
    align-items: center;
    
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols div:first-of-type:has(.icon) span,
  main .section.columns-container.large-icon .block.columns.columns-2-cols div:last-of-type:has(.icon) span {
    height: 50%;
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols div:first-of-type:has(.icon) img,
  main .section.columns-container.large-icon .block.columns.columns-2-cols div:last-of-type:has(.icon) img {
    height: 100%;
    width: 100%;
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols > div div:first-of-type:has(.icon) p,
  main .section.columns-container.large-icon .block.columns.columns-2-cols > div div:last-of-type:has(.icon) p {
    position: absolute;
  }
}