.columns {
  margin: 16px 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.orange-accent-border > div > div,
.columns.cyan-accent-border > div > div {
  border-width: 0 0 0 4px;
  border-style: solid;
  padding-left: 24px;
}

.columns.orange-accent-border > div > div {
  border-color: var(--color-orange);
}

.columns.cyan-accent-border > div > div {
  border-color: var(--color-cyan);
}

@media (width >= 900px) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
