.columns {
  margin: 16px 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.columns img {
  width: 100%;
}

.columns.img-33 img {
  width: 33.333%;
}

.columns > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns.steps > div > div {
  width: 100%;
}

.columns.steps > div {
  align-items: flex-start;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.steps h3 {
  color: var(--color-cyan);
}

.columns.steps > div > div > p:nth-of-type(2) {
  border-left: 4px solid var(--color-orange);
  padding-left: 1rem;
  height: 100%;
  margin-top: 1rem;
  min-height: 80px;
  align-items: center;
  display: flex;
}

.columns.columns-has-image > div {
  justify-content: unset;
}

.columns.columns-has-image img {
  width:306px;
  overflow-clip-margin: content-box;
  max-width: 100%;
  overflow: clip;
  box-sizing: border-box;
}

.columns.columns-has-image.steps img {
  width: 576px;
}

.columns.orange-accent-border > div > div,
.columns.cyan-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-width: 0 0 0 4px;
  border-style: solid;
  padding-left: 1.5rem;
}

.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.columns.orange-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-color: var(--color-orange);
}

.columns.cyan-accent-border > div > div,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-color: var(--color-cyan);
}

.columns.orange-accent-border.columns-has-image > div > div,
.columns.cyan-accent-border.columns-has-image > div > div {
  border: unset;
  padding-left: 0;
}

main .section.blue-headings .columns span.icon {
  width: unset;
  height: unset;
}

main .columns span.icon > img {
  width:2.5rem;
  height:2.5rem;
}

@media (min-width: 992px /* breakpoint-l */) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.steps > div > div {
    height: 100%;
  }

  .columns.orange-accent-border.columns-has-image > div > div,
  .columns.cyan-accent-border.columns-has-image > div > div {
    justify-content: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div:first-of-type,
  .columns.cyan-accent-border.columns-has-image > div > div:first-of-type {
    padding-left: 0;
  }

  main .columns span.icon > img {
    width:3.75rem;
    height:3.75rem;
  }
}
