.columns {
  margin: 16px 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.columns-has-image > div {
  justify-content: unset;
}

.columns.orange-accent-border > div > div,
.columns.cyan-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-width: 0 0 0 4px;
  border-style: solid;
  padding-left: 1.5rem;
}

.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.columns.orange-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-color: var(--color-orange);
}

.columns.cyan-accent-border > div > div,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  border-color: var(--color-cyan);
}

.columns.orange-accent-border.columns-has-image > div > div,
.columns.cyan-accent-border.columns-has-image > div > div {
  border: unset;
  padding-left: 0;
}

@media (min-width: 992px /* breakpoint-l */) {
  .columns > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div:first-of-type,
  .columns.cyan-accent-border.columns-has-image > div > div:first-of-type {
    padding-left: 0;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
main .section.columns-container {
  padding: 32px 0;
}

/* stylelint-disable-next-line no-descending-specificity */
main .section.columns-container > div {
  padding: 0 32px;
}