/* stylelint-disable no-descending-specificity */

.columns.block:not(.wrap-mobile) {
  margin: 16px 0;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  & > div > div {
    order: 1;
    display: flex;
    flex-direction: column;
  }

  & img {
    width: 100%;
  }

  & ul {
    padding: 0;
    margin: 0 0 1rem 1rem;
    list-style-type: disc;

    & > li {
      margin-bottom: .5rem;
    }
  }

  & p {
    margin-bottom: 1rem;
  }
}

.columns.cyan-accent-border > div {
  flex-flow: row wrap;
}

.columns.labeled > div {
  align-items: flex-start;
}

.block.columns.img-33 img {
  width: 33.333%;
}

.block.columns.columns-has-image img {
  overflow-clip-margin: content-box;
  max-width: 100%;
  overflow: clip;
  box-sizing: border-box;
}

.columns.block:not(.wrap-mobile) > div > .columns-img-col img {
  display: block;
}

main .columns:not(.xxxl-icons) span.icon > img {
  width:2.5rem;
  height:2.5rem;
}

main .columns.numeric-list span.icon {
  width: 2.5rem;
  height: 2.5rem;
}

main .columns.block.numeric-list {
  max-width: var(--section-width);
  margin: 2rem auto;
  padding: 0 1.5rem;
}

.columns.columns-has-image.steps img {
  width: 576px;
}

.block.columns.native-image-sizes img {
  width: auto;
}

.columns.labeled > div:first-of-type img {
  width: 100%;
}

.columns.check-list p {
  margin-bottom: 1rem;
}

.columns.labeled > div:last-of-type p {
  padding-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
}

.columns.narrow-icons span.icon {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}

.columns.box-shadow-hover.columns span.icon {
  display: flex;
  height: 150px;
}

.columns.labeled > div:last-of-type span.icon {
  width: 8.3%;
  height: auto;
  text-align: left;
}

main .section.blue-headings .columns span.icon {
  width: unset;
  height: unset;
}

main .section.columns-container.list-style-orange-triangles ul{
  margin: 0 0 1rem 1.5rem;
}

main .section.columns-container.list-style-orange-triangles .columns.box-shadow-hover.columns span.icon {
  display: flex;
  height: unset;
  width: 80%;
}

.columns.labeled > div:last-of-type strong {
  width: 100%;
  box-sizing: content-box;
  margin-top: auto;
  margin-bottom: auto;
}

.columns.numeric-list > div, .columns.check-list > div {
  align-items: flex-start;
}

.columns.steps > div {
  align-items: flex-start;
}

.columns.block.narrow-icons > div {
  align-items: flex-start;
  gap: unset;
  flex-flow: row wrap;
}

.columns.check-list sup {
  font-size: .75rem;
}

.columns.check-list ul > li {
  list-style: none;
  border-bottom: .0625rem solid #dad6d6;
  padding: .75rem 3rem;
  background: url("/icons/check-mark-new.svg") no-repeat left center;
}

.columns.numeric-list li::before {
  content: unset;
}

.columns.check-list ul > li::before {
  content: unset;
}

.columns.columns-has-image > div {
  justify-content: unset;
}

.columns.align-top > div {
  align-items: flex-start;
}

.columns.cyan-accent-border > div > div {
  flex: 35%;
}

.columns.steps > div > div {
  width: 100%;
}

.columns.block:not(.wrap-mobile) > div > .columns-img-col {
  order: 0;
}

/* narrow-icons variant */

.columns.narrow-icons h4 {
  font-size: 1rem;
}

.columns.narrow-icons h4 > a {
  color: var(--color-black);
}

.columns.narrow-icons > div > div {
  width: 50%;
}

.columns.narrow-icons span.icon > img {
  height: var(--icon-size-xl);
  width: var(--icon-size-xl);
}

.columns.narrow-icons p.button-container {
  color: unset;
  margin-bottom: unset;
}

.columns.narrow-icons p.button-container > a {
  border: unset;
  background-color: unset;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 0;
}

.columns.steps h3 {
  color: var(--color-cyan);
}

.columns.steps > div > div > p:nth-of-type(2) {
  border-left: 4px solid var(--color-orange);
  padding-left: 1rem;
  height: 100%;
  margin-top: 1rem;
  min-height: 80px;
  align-items: center;
  display: flex;
}

.columns.box-shadow-hover > div > div {
  padding: 1.5rem;
}

.columns.orange-accent-border > div > div,
.columns.cyan-accent-border > div > div,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  justify-content: unset;
  position: relative;
  padding-left: 24px;
}

.columns.orange-accent-border > div > div::after,
.columns.cyan-accent-border > div > div::after,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img))::after,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  position: absolute;
  left: 0;
  max-height: 80px;
  height: 100%;
  width: 4px;
  content: '';
  display: block;
}

.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img)),
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img)) {
  min-height: 5rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.columns.vertical-center-align > div > div {
  justify-content: center;
}

main .block.columns.left-align {
  text-align: left;
}

.columns.orange-accent-border > div > div::after,
.columns.orange-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  background: var(--color-orange);
}

.columns.cyan-accent-border > div > div::after,
.columns.cyan-accent-border.columns-has-image > div > div > p:not(:has(img))::after {
  background: var(--color-cyan);
}

.block.columns.center-align > div {
  align-items: center;
}

.columns.orange-accent-border.columns-has-image > div > div,
.columns.cyan-accent-border.columns-has-image > div > div {
  border: unset;
  padding-left: 0;
}

.columns.numeric-list h3 {
  font-size: 4rem;
  color: var(--color-cyan);
  margin-bottom: 1.5rem;
}

.columns.numeric-list p,
.columns.numeric-list h4 {
  margin-bottom: 1.5rem;
}

.columns.numeric-list ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  height: 7rem;
  padding-bottom: 2rem;
  padding-left: unset;
}

.columns.box-shadow-hover > div li {
  padding-bottom: 1rem;
}

.columns.numeric-list li:last-of-type {
  margin-left: 2rem;
  padding-left: 1rem;
  border-left: var(--color-orange) solid 4px;
  height: 100%;
}

.columns.numeric-list li:first-of-type {
  top: 1rem;
}

.columns.numeric-list li:first-of-type > strong {
  font-size: 4rem;
  color: var(--color-cyan);
}

.columns.box-shadow-hover > div > div > h3 {
  color: #133b5c;
}

.columns.box-shadow-hover > div > div:hover > h3, .columns.box-shadow-hover > div > div:hover img {
  color: #006cb4;
  fill: #006cb4;
}

.columns.box-shadow-hover.columns span.icon > img {
  height: 150px;
  width:auto;
}

.columns.box-shadow-hover > div > div:hover {
  filter: drop-shadow(0 0 .5rem #DAD6D6);
  background-color: var(--color-white);
}

.section.border-between-rows .columns > div > .columns-img-col img {
  margin-left: 16.6667%
}

.section.border-between-rows .columns > div > div {
  justify-content: flex-start;
}

.section.border-between-rows .columns > div:first-child {
  border-bottom: .5px solid var(--color-light-gray);
  margin: 1rem 0;
}

.section.border-between-rows .columns div:nth-child(2) div:nth-child(2)  {
  align-items: flex-start;
}

main .section.blue-headings .columns span.icon > img {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

.columns.small-images.centered > div > div > p:first-of-type img {
  width: 50%;
}

.columns.small-images.centered > div > div > p:first-of-type {
  text-align: center;
}

.columns.small-images.centered > div > div > p:last-of-type {
  text-align: center;
}

main .block.columns.video iframe {
  aspect-ratio: 16 / 9;
}

main .section.columns-container .block.columns.columns-2-cols.icon-list > div > div > p.button-container:has(a) > a.button {
  display: inline-block;
  text-decoration: none;
  background-color: unset;
  border: unset;
  padding: unset;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: unset;
  margin-bottom: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: unset;
}

main .section.columns-container .block.columns.columns-2-cols.icon-list > div > div > p.button-container:has(a) > a.button::after {
  content:"\279E";
  font-size: 1em;
  font-weight: 500;
  padding: 0 0.5em;
  vertical-align: -0.1em;
}

main .section.columns-container.close-vertical {

  & > .columns-wrapper {
    margin-top: unset;
    margin-bottom: .5rem;

    & > .block.columns {
      margin: 0;
    }
  }

  & > div:not(div:first-of-type).default-content-wrapper {
    margin-top: unset;
  }

  & > div:not(div:first-of-type):not(div:last-of-type).default-content-wrapper {
    margin-bottom: 1.5rem;
  }
}


@media (min-width: 992px /* breakpoint-l */) {
  .columns.block:not(.wrap-mobile) > div {
    flex-direction: unset;
    gap: 24px;
  }

  .columns.block:not(.wrap-mobile, .cta.columns-2-cols) > div > div {
    flex: 1;
    order: unset;
  }

  .columns.cyan-accent-border > div {
    flex-direction: row;
    flex-wrap: unset;
  }

  .columns.narrow-icons > div {
    align-items: flex-start;
    gap: unset;
  }

  .columns.steps > div > div {
    height: 100%;
  }

  .columns.narrow-icons h4 {
    font-size: 1rem;
  }

  .columns.narrow-icons h4 > a {
    color: var(--color-black);
  }

  .columns.narrow-icons > div > div {
    width: 8.3%;
  }

  .columns.narrow-icons p.button-container {
    color: unset;
    margin-bottom: unset;
  }

  .columns.narrow-icons p.button-container > a {
    border: unset;
    background-color: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div,
  .columns.cyan-accent-border.columns-has-image > div > div {
    justify-content: unset;
  }

  .columns.orange-accent-border.columns-has-image > div > div:first-of-type,
  .columns.cyan-accent-border.columns-has-image > div > div:first-of-type {
    padding-left: 0;
  }

  main .columns.numeric-list ul {
    flex-direction: row;
  }

  main .columns.numeric-list span.icon > img {
    width:3.75rem;
    height:3.75rem;
    max-width: unset;
  }

  main .columns.logos.columns-4-cols span.icon > img {
    height: 72px;
    width: 100%;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .block.columns.video {
    max-width: unset;
  }

  main .block.columns.columns-2-cols > div div {
    justify-content: center;
  }

  main .section.justify-start .block.columns.columns-2-cols > div div {
    justify-content: flex-start;
  }


  main .block.columns.video.columns-2-cols > div div:last-of-type:has(iframe) {
    display: flex;
    flex-direction: column;
    margin-left: 8.3333%;
  }

  main .block.columns.video.columns-2-cols > div div:first-of-type:has(iframe) {
    display: flex;
    flex-direction: column;
    margin-right: 8.3333%;
  }

  main .block.columns.video.block.columns-2-cols > div div:has(iframe) {
    aspect-ratio: 16 / 9;
  }

  main .block.columns.video.columns-2-cols > div div iframe {
    height: 100%;
  }

  main .section.columns-container.flex-row .block.columns.columns-2-cols > div {
    display: flex;
  }

  main .section.columns-container .block.columns.columns-2-cols.icon-list {
    display: flex;
    flex-wrap: wrap;
  }

  main .section.columns-container .block.columns.columns-2-cols.icon-list > div {
    display: flex;
    width: 50%;
  }

  main .section.columns-container .block.columns.columns-2-cols.icon-list > div > div:first-of-type {
    max-width: 25%;
    width: 25%;
    justify-content: flex-start;
  }

  main .section.columns-container .block.columns.columns-2-cols.icon-list > div > div:last-of-type > p:nth-child(2) {
    margin-top: 1rem;
  }

  main .section.columns-container .block.columns.centered-icons > div div:first-of-type:has(.icon),
  main .section.columns-container .block.columns.centered-icons > div div:last-of-type:has(.icon) {
    align-items: center;
  }

  main .section.columns-container .block.columns.align-left > div div:first-of-type:has(.icon),
  main .section.columns-container .block.columns.align-left > div div:last-of-type:has(.icon) {
    align-items: start;
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols div:first-of-type:has(.icon) span,
  main .section.columns-container.large-icon .block.columns.columns-2-cols div:last-of-type:has(.icon) span {
    height: 100%;
    width: 100%;
  }

  main .section.columns-container .block.columns.centered-icons div:first-of-type:has(.icon) img,
  main .section.columns-container .block.columns.centered-icons div:last-of-type:has(.icon) img {
    height: 100%;
    width: 100%;
  }

  main .section.columns-container.large-icon .block.columns.columns-2-cols div:first-of-type:has(.icon) img,
  main .section.columns-container.large-icon .block.columns.columns-2-cols div:last-of-type:has(.icon) img {
    width: 100%;
    height: 100%;
  }

  main .section.columns-container .block.columns.centered-icons.absolute-position > div div:first-of-type:has(.icon) p,
  main .section.columns-container .block.columns.centered-icons.absolute-position > div div:last-of-type:has(.icon) p {
    position: absolute;
  }

  main .section.columns-container .columns-wrapper:has(.cta.split-lastquarter) {
    padding-right: 12px;
    padding-left: 1.5rem;    
  }
}
