.hero-banner__content {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.hero-banner__content__text {
    padding: 24px 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-banner__content__text h1 {
    margin-bottom: 8px;
}

.hero-banner__content__ctas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 16px;
    padding-top: 16px;
}

.hero-banner__promo-badge {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background-color: var(--color-accent-3);
    color: var(--color-text-tertiary);
}

.hero-banner__image {
    margin-bottom: 22px;
    width: 100%;
    height: 100%;
    max-height: 240px;
}

.hero-banner__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    max-height: 240px;
}

.hero-banner-graphic .hero-banner__image img {
    max-height: 76px;
    object-position: right;
}

@media screen and (min-width: 768px) {
    .hero-banner__content {
        flex-direction: row;
    }

    .hero-banner__content__text {
        padding: 80px 0;
        width: 70%;
        max-width: 600px;
    }

    .hero-banner__content__text h1 {
        margin: 16px 0;
    }

    .hero-banner__promo-badge {
        margin-bottom: 28px;
    }

    .hero-banner__content__ctas {
        column-gap: 24px;
        padding-top: 36px;
    }

    .hero-banner__image {
        width: 70%;
        height: 28vw;
        max-width: 100%;
        max-height: 545px;
    }

    .hero-banner__image img {
        max-height: 545px;
    }

    /* Variants */
    .hero-banner-graphic .hero-banner__image {
        object-position: top;
        max-height: 330px;
    }

    .hero-banner-graphic .hero-banner__image img {
        object-position: top;
        max-height: 330px;
    }

    .hero-banner-graphic .hero-banner__content {
        align-items: flex-start;
    }

    .hero-banner-full .hero-banner__content {
        flex-direction: column;
    }

    .hero-banner-full .hero-banner__content__text {
        text-align: center;
        align-items: center;
        max-width: 700px;
        z-index: 1;
    }

    .hero-banner-full .hero-banner__image {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .hero-banner-full .hero-banner__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
