.get-a-quote-form {
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
  background-color: var(--color-white);
  border-radius: var(--border-radius-l);
}

.get-a-quote-form > .header {
  background-color: var(--color-secondary-4);
  text-align: center;
  font-size: var(--heading-font-size-m);
  font-weight: 700;
  padding: 16px 48px;
}

.get-a-quote-form > .content {
  background-color: var(--color-gray);
  color: transparent;
}

.get-a-quote-form > .content > .section {
  margin: 0;
  background-color: var(--color-gray);
  overflow-y: hidden;
}

.get-a-quote-form  .content  .form-container .default-content-wrapper {
  margin-bottom: 0;
}

.get-a-quote-form  .content  .form-container  .form-wrapper {
  padding: 0;
  margin: 0;
}


.get-a-quote-form  .content  form {
  display: block;
}

.get-a-quote-form  .content  form .form-message.error-message p{
  font-size: 1rem;
  color:#dc3545;
  padding-left:1.5rem;
}

.get-a-quote-form  .content  form  .panel-wrapper, .field-header {
  padding: 5px;
  background-color: var(--color-gray);
}
