
.download.block {
  background-color: var(--color-gray);
  width: 100%;
  padding: 2rem .75rem;

  & .download-head {
    margin-bottom: 1.5rem;

    & h4 {
      margin-bottom: .75rem;
      text-align: center;
    }
  }

  & .download-image {
    margin-bottom: 2rem;

    picture {
      display: block;
      position: relative;
      height: 100%;
      width: 100%;


      & img {
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        bottom: 0;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  & .download-cta p.button-container {
    margin-bottom: 0;
    text-align: center;

    & a.button {
      margin: 0;
      width: 100%;
    }

    & a.secondary {
      background-color: var(--color-accent-1);
      color: var(--color-white);
    }

    & a.secondary:hover {
      background-color: var(--color-white);
      color: var(--color-primary-1);
    }
  }
}

.sidebar-right .download-wrapper .download.block {
  padding: 2rem 3em;
}
