div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p {
  margin-bottom: 0;
}

div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p:has(> a) {
  margin-top: 1em;
}

main .section > div.hero-wrapper {
  margin: unset;
}

.with-sidebar main > .template-container {
  padding-left: 2.2pc;
  padding-right: 2.2pc;
}

.with-sidebar main > .template-container > .body-wrapper > .page-sidebar > .section > div {
  padding: 0;
  margin-bottom: 30px;
}

.with-sidebar main > .template-container > .body-wrapper > .page-content span.icon {
  height: unset;
  width: unset;
}

.with-sidebar main > .template-container > .body-wrapper > .page-content span.icon img {
  height: 2.5rem;
  width: 2.5rem;
}

@media (min-width: 992px /* breakpoint-l */
) {
  .with-sidebar main > .template-container > .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8.3333%;
    padding: 0;
  }

  .with-sidebar main > .template-container > .body-wrapper > .page-content {
    width: 66.6667%;
  }

  .with-sidebar main > .template-container > .body-wrapper > .page-content .section > * {
    padding: 0;
  }

  .with-sidebar main > .template-container > .body-wrapper > .page-content .section .default-content-wrapper p {
    font-size: var(--body-font-size-l);
    letter-spacing: .0125rem;
    line-height: 1.875rem;
  }

  .with-sidebar main > .template-container > .body-wrapper > .page-sidebar {
    width: 33.3333%;
    z-index: 1;
  }

  @media (min-width: 992px /* breakpoint-l */) {
    .with-sidebar main > .template-container > .body-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0;
    }

    .with-sidebar main > .template-container > .body-wrapper > .page-content {
      width: 66.6667%;
    }

    .with-sidebar main > .template-container > .body-wrapper > .page-sidebar {
      width: 31%;
      z-index: 1;
    }
  }
}
