div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p {
  margin-bottom: 0;
}

div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p:has(> a) {
  margin-top: 1em;
}

main .section > div.hero-wrapper {
  margin: unset;
}

.with-sidebar main > .body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: var(--section-width);
  margin: 0 auto;
}

.with-sidebar main > .body-wrapper > .page-sidebar > .section > div {
  padding: 0;
  margin-bottom: 30px;
}

.with-sidebar main > .body-wrapper .default-content-wrapper:has(h1.mobile) {
  max-width: var(--section-width);
  margin-top: 2rem;
  padding: 0 1.5rem;
  order: 1;
}

.with-sidebar main > .body-wrapper .page-sidebar {
  order: 2;
}

.with-sidebar main > .body-wrapper .page-content {
  order: 3;
}

.with-sidebar main > .body-wrapper h1.mobile {
  display: block;
  margin-bottom: unset;
}

.with-sidebar main > .body-wrapper h1.fullScreen {
  display: none;
}

@media (min-width: 992px /* breakpoint-l */) {
  .with-sidebar main > .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .with-sidebar main > .body-wrapper > .page-content {
    width: 66.6667%;
  }

  .with-sidebar main > .body-wrapper > .page-sidebar {
    width: 31%;
    z-index: 1;
  }

  .with-sidebar main > .body-wrapper h1.mobile {
    display: none;
    order: unset;
  }

  .with-sidebar main > .body-wrapper .page-sidebar {
    order: unset;
  }
  
  .with-sidebar main > .body-wrapper .page-content {
    order: unset;
  }
  
  .with-sidebar main > .body-wrapper h1.fullScreen {
    display: block;
  }
}