div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p {
    margin-bottom: 0;
}

div.page-sidebar > div.section > div.default-content-wrapper > h3 ~ p:has(> a) {
    margin-top: 1em;
}

main .section > div.hero-wrapper {
    margin: unset;
}

.with-sidebar.service-location-page main > .body-wrapper > .page-sidebar .location {
  padding: 0 1.5rem;
}

.service-location-page .location a {
  text-decoration: underline;
}

.service-location-page .location .phone {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.service-location-page .location .phone > div {
  display: flex;
  gap: 0.2rem;
}

.service-location-page .location .drop-off {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
}

.service-location-page .location .drop-off > a {
  width: 60%;
  text-decoration: none;
}

.service-location-page .location .nearby-locations ul {
  padding-left: 1rem;
}

.service-location-page .location .nearby-locations ul > li {
  list-style: disc;
}

.with-sidebar main > .body-wrapper {
  max-width: var(--section-width);
  margin: 0 auto;
}

.with-sidebar main > .body-wrapper > .page-sidebar > .section > div {
  padding: 0;
  margin-bottom: 30px;
}

.with-sidebar .section.flip-cards-container .flip-cards-wrapper {
  padding: 0 24px;
}

.with-sidebar .section.flip-cards-container .flip-cards-wrapper .clamp-title,
.with-sidebar .section.flip-cards-container .flip-cards-wrapper .clamp-description{
  height: auto !important;
}

/* This is intentionally kept this way */
@media (min-width: 540px) {
  .with-sidebar.service-location-page main > .body-wrapper > .page-sidebar .location {
    padding: initial;
  }
}

@media (min-width: 992px /* breakpoint-l */) {
  .with-sidebar main > .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .with-sidebar main > .body-wrapper > .page-content {
    width: 66.6667%;
  }

  .with-sidebar main > .body-wrapper > .page-sidebar {
    width: 25%;
    margin-top: -200px;
    z-index: 1;
  }
}