/* Override header size on certain pages */
:root {
  --nav-height: 116px;
}

header.header-wrapper {
  position: relative;
}

.block.header {
  position: relative;
  height: var(--nav-height);
  background-color: var(--color-primary-1);
  color: var(--color-white);
  width: 100%;
  z-index: 2;
  top: 0;

  & nav {
    height: var(--nav-height);
    margin: 0 auto;
    max-width: var(--section-width);
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    & .logo {
      padding: 0;
      width: 50%;

      & a {
        position: relative;
        display: block;

        & img {
          height: 64px;
          width: 179px;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .block.header {
    & nav {
      max-width: var(--section-width);
      padding: 0 32px;
    }
  }
}

@media (min-width: 900px) {
  .block.header {
    & nav {
      max-width: var(--section-width);
    }
  }
}

@media (min-width: 1200px) {
  .block.header {
    & nav {
      max-width: var(--section-width);
      padding: 0 80px;
    }
  }
}

@media (min-width: 1400px) {
  .block.header {
    & nav {
      max-width: var(--section-width);
    }
  }
}
