/* header and nav layout */
header {
  height: 80px;
  visibility: hidden;
}

header.appear {
  visibility: visible;
}

header .nav-wrapper {
  background-color: var(--color-background-header);
  color: var(--color-white);
  width: 100%;
  z-index: 2;
  position: fixed;
  max-height: 200vh;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  height: 80px;
  font-family: var(--font-family-body);
  max-width: 33.75rem;
  margin: auto;
}

.nav-sections,
.nav-tools,
.nav-hamburger {
  flex: 0 1 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-brand {
  order: 0;
  flex: 0 1 80%;
}

header nav .nav-brand img {
  width: auto;
  height: 3rem;
}

.nav-sections .icon-search {
  order: 1;
}

.nav-sections .icon-search:hover {
  cursor: pointer;
}

.nav-tools ul {
  visibility: hidden;
  height: 50px;
  padding: 0;
}

.nav-sections .default-content-wrapper ul {
  padding: 0;
}

.menu-items li {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}

.list.active li {
  list-style: none;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
}

.list.active .list-items.active {
  padding: 0;
}

.list.active .mobile-menu-item-drop.remove {
  display: none;
}

.mobile-menu-item-drop.active {
  padding: 0;
}

.list.active .mobile-menu-item-drop.active {
  padding: 0;
}

.nav-sections .default-content-wrapper ul li {
  display: none;
}

.nav-sections .default-content-wrapper ul li:has(span.icon) {
  display: block;
}

.nav-sections .default-content-wrapper ul li .icon {
  filter: invert(1);
}

.nav-tools {
  order: 2;
  position: relative;
  cursor: pointer;
}

.nav-tools::after {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  font-size: 1.2rem;
  top: 30%;
  position: absolute;
  display: block;
}

.nav-hamburger {
  order: 3;
}

/* hamburger */
header nav .nav-hamburger {
  height: 22px;
  right: 1rem;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--currentcolor);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon {
  width: 14px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

/* tel items */
.tel-item.active {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  min-width: 100%;
  background-color: white;
  padding: 2rem 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/* Search box */
.search-box-container {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  min-width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  z-index: 1000;
}

.search-box {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.close-button {
  margin-left: 10px;
  cursor: pointer;
  font-size: 24px;
  color: #333;
}

.mobile-menu-open {
  width: 90%;
}

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -90%;
  width: 90%;
  height: 100vh;
  background-color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-menu.mobile-menu-open {
  right: 0;
}

.mobile-menu-content {
  padding-left: 0;
}

.mobile-menu .close-btn {
  display: none;
}

.mobile-menu-open .close-btn {
  display: unset;
  position: absolute;
  top: 20px;
  left: 0;
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: black;
}

.mobile-menu-open .mobile-menu-content {
  padding-top: 100px;
}

.mobile-menu-open .mobile-menu-item {
  border-top: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
}

.mobile-menu-item-drop.block {
  border-top: 1px solid #e0e0e0;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.mobile-menu-item-drop .title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  padding: 14px;
  background-color: #F2F2F2;
  position: relative;
}

.arrow,
.inner-arrow,
.back-arrow,
.inner-back-arrow {
  width: 30px;
  height: 20px;
  border-radius: 10px;
  padding: 0;
  color: black;
  border: none;
  margin: 0;
  background-color: transparent;
  position: relative;
}

.back-arrow,
.inner-back-arrow {
  position: relative;
}

.mobile-menu-item-drop.block .title .back-arrow,
.mobile-menu-item-drop.block .title .inner-back-arrow {
  margin-right: auto;
  position: absolute;
  left: 0
}

.mobile-menu-item-drop.block ul {
  padding-left: 0;
}

.mobile-menu-open .mobile-menu-item:last-child {
  justify-content: center;
}

.flag-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.list {
  display: none;
}

.mobile-menu-item a {
  text-decoration: none;
  color: #0073e6;
}

.mobile-menu-item a:hover {
  text-decoration: underline;
}

.list.active {
  display: block;
}

.tel-item.active a {
  position: relative;
  color: black;
}

.list.active li a {
  text-decoration: none;
  color: #000;
  display: block;
  font-size: 16px;
}

.list.active .expand {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  align-items: center;
  font-size: 16px;
  margin-right: 100px;
}

.list.active .expand .inner-arrow {
  padding-right: 50px;
  margin-left: auto;
}

.arrow::before,
.inner-arrow::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.5em;
  border-right: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(45deg);
  margin-right: 5px;
  position: absolute;
  top: 30%;
}

.back-arrow::before,
.inner-back-arrow::before {
  content: '';
  display: inline-block;
  width: 0.6em;
  height: 0.5em;
  border-right: 2px solid black;
  border-top: 2px solid black;
  transform: rotate(-135deg);
  margin-right: 5px;
  position: absolute;
  top: 30%;
}

.list-items.remove {
  display: none;
}

.mobile-menu-open .mobile-menu-item.remove:not(:last-child) {
  display: none;
}

.mobile-menu-open .mobile-menu-item-drop .arrow.remove {
  display: none;
}

.mobile-menu-item::marker {
  content: none;
}

.mobile-menu-item-drop > a.remove {
  display: none;
}

.sublist.remove,
.title.remove,
.flag-icon.remove,
.inner-arrow.remove,
strong.remove {
  display: none;
}

.mobile-menu.closing {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.tel::before {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  font-size: 1rem;
  left: -1.25rem;
  position: absolute;
  display: block;
}

.tel-item.active a::before {
  color: black;
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  font-size: 1rem;
  left: -1.25rem;
  position: absolute;
  display: block;
}

@media (min-width: 768px) {
  header nav {
    max-width: 45rem;
  }
}

@media (min-width: 992px) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }

  .header-wrapper {
    height: 150px;
  }

  .nav-tools::after {
    display: none;
  }

  header nav {
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      'brand tools'
      'brand sections';
    align-items: center;
    margin: auto;
    height: 150px;
    font-family: var(--font-family-body);
    max-width: 63.75rem;
  }

  header nav ul {
    color: unset;
  }

  header nav .nav-sections ul {
    gap: 0.5rem;
    font-size: 0.85rem;
  }

  header nav .nav-tools ul {
    margin-top: 0;
    gap: 2.3rem;
    visibility: unset;
  }

  header nav .nav-sections ul li {
    font-size: var(--body-font-size-s);
    justify-content: flex-end;
  }

  header nav .nav-tools ul li {
    font-size: var(--body-font-size-xs);
    justify-self: flex-end;
  }

  header nav .nav-sections ul > li {
    font-weight: 700;
  }

  header nav .nav-sections ul > li > ul > li {
    font-size: .875rem;
  }

  header nav .nav-sections {
    display: flex;
    visibility: visible;
    white-space: nowrap;
    grid-area: sections;
    flex: 1 1 auto;
    background-color: var(--overlay-color);
    font-size: 16px;
    justify-content: flex-end;
  }

  .nav-sections .default-content-wrapper ul li,
  .nav-tools .default-content-wrapper ul li {
    display: block;
  }

  header nav .nav-tools ul > li > span.icon-search {
    display: flex;
  }

  .nav-tools {
    cursor: unset;
  }

  .nav-tools ul li.nav-drop {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .nav-tools ul li.nav-drop:hover {
    text-decoration: underline;
  }

  .nav-tools ul li.nav-drop::after {
    content: '\2304';
    font-size: 14px;
    color: white;
    margin-left: 5px;
    align-items: center;
    padding-bottom: 7px;
  }

  header .icon img {
    width: 80%;
  }

  header nav .icon-search > img {
    /* filter: invert(1); */
    align-self: center;
    height: 24px;
  }

  .icon {
    margin-right: 10px;
    align-items: center;
    width: 100%;
  }

  header .icon {
    margin-right: 0;
  }

  .list-items .icon {
    gap: 40px;
  }

  .icon ul li .icon {
    margin-right: 10px;
    align-items: center;
    width: 100%;
  }

  .nav-drop ul li:has(span.icon) {
    display: flex;
    gap: 10px;
    margin: 5px;
  }

  .nav-drop::target-text {
    margin-left: 5px;
  }

  header nav[aria-expanded="true"] {
    grid-template-columns: 1fr 4fr;
    overflow-y: none;
    min-height: 100vh;
    min-height: 0;
  }

  header nav p {
    margin: 0;
    line-height: 0;
  }

  header nav p a.button.primary {
    margin: 0;
    font-size: var(--body-font-size-m);
  }

  header nav a:any-link {
    color: currentcolor;
  }

  /* brand */
  header .nav-brand {
    grid-area: brand;
    font-size: var(--heading-font-size-s);
    font-weight: 700;
    line-height: 1;
    align-items: center;
  }

  header nav .nav-brand img {
    width: auto;
    height: 4rem;
  }

  header nav .nav-sections ul, header nav .nav-tools ul  {
    list-style: none;
    padding-left: 0;
    font-weight: 500;
    display: flex;
    font-size: .75rem;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-end;
    word-wrap: break-word;
    hyphens: auto;
    row-gap: 0;
  }

  header nav .nav-sections ul > li > ul {
    margin-top: 0;
  }

  header nav .nav-tools {
    display: flex;
    grid-area: tools;
    justify-content: flex-end;
  }

  header nav .nav-sections .default-content-wrapper > ul > li, header nav .nav-tools .default-content-wrapper > ul > li {
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    margin-right: 1rem;
  }

  header nav .nav-sections .nav-drop-content li ul li {
    font-weight: 100;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:last-of-type {
    margin-right: 0;
  }

  header nav .nav-sections .nav-drop .nav-drop-content li ul li {
    padding: 4px 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul, header nav .nav-tools .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  .nav-drop[aria-expanded="false"] .nav-drop-content li ul {
    display: unset;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-tools ul li.nav-drop[aria-expanded="true"] ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 20%);
    z-index: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 60px;
    height: auto;
    color: black;
}

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul, header nav .nav-tools .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--color-gray);
    white-space: initial;
  }

  /* tel icon */
  .tel::before {
    content: "";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    font-size: var(--body-font-size-xs);
    left: -1.25rem;
    position: absolute;
    display: block;
  }

  .loc::before {
    content: "";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    font-size: .75rem;
    left: -1.25rem;
    position: absolute;
    display: block;
  }

  header nav .nav-sections .default-content-wrapper,
  header nav .nav-tools .default-content-wrapper {
    margin-left: 40px;
    margin-right: unset;
  }

  /* nav drop content */
  header nav .nav-sections .nav-drop .nav-drop-content {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding: 20px;
    margin: 0;
    white-space: nowrap;
    color: black;
    min-width: 600px;
    left: -50%;
    transform: translateX(-40%);
    max-width: 90vw;
    margin-top: 7px;
    gap: 20px;
  }

  header nav .nav-sections .nav-drop:hover .nav-drop-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  header nav .nav-sections .nav-drop.last .nav-drop-content {
    transform: translateX(-65%);
    gap: 20px;
  }

  header nav .nav-sections .nav-drop.last .nav-drop-content li {
    padding: 5px 0;
  }

  header nav .nav-sections .nav-drop:hover .nav-drop-content.single-column {
    display: unset;
    min-width: 300px;
  }

  header nav .nav-sections .nav-drop:hover .nav-drop-content.single-column li {
    font-weight: 100;
  }

  .search-box-container {
    top: 150px;
  }

  nav .mobile-menu {
    display: none;
  }

  .mobile-menu-open .close-btn {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header-wrapper {
    height: 130px;
  }

  header nav {
    height: 130px;
    max-width: 75rem;
  }

  .search-box-container {
    top: 130px;
  }
}

@media (min-width: 1400px) {
  header nav {
    max-width: 86.25rem;
  }
}
