/* header and nav layout */
header .nav-wrapper {
  background-color: var(--color-background-header);
  color: var(--color-white);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    'brand tools'
    'brand sections';
  align-items: center;
  margin: auto;
  max-width: var(--section-width);;
  height: var(--nav-height);
  font-family: var(--font-family-body);
}

header nav ul {
  color: unset;
}

header nav .nav-tools ul > li > span.icon-search {
  display: flex;
}

header nav .icon-search > img {
  filter: invert(1);
  align-self: center;
  height: 24px;
}

header nav[aria-expanded="true"] {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 75px;
  overflow-y: auto;
  min-height: 100vh;
}

@media (min-width: 992px /* breakpoint-l */) {
  header nav {
    display: grid;
  }

  header nav[aria-expanded="true"] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
}

header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--color-background);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (min-width: 992px /* breakpoint-l */) {
  header nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}

/* brand */
header .nav-brand {
  grid-area: brand;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
  align-items: center;
}

header nav .nav-brand img {
  width: auto;
  height: 4.5rem;
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
  font-size: 16px;
}

header nav[aria-expanded="true"] .nav-sections {
  display: block;
  visibility: visible;
}

header nav .nav-sections ul, header nav .nav-tools ul  {
  list-style: none;
  padding-left: 0;
  font-size: var(--body-font-size-xxs);
  font-weight: 500;
}

header nav .nav-sections ul > li {
  font-weight: 700;
}

header nav .nav-sections ul > li > ul {
  margin-top: 0;
}

header nav .nav-sections ul > li > ul > li {
  font-size: .875rem;
}

@media (min-width: 992px /* breakpoint-l */) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded="true"] .nav-sections, header nav[aria-expanded="true"] .nav-tools {
    align-self: flex-end;
  }

  header nav .nav-sections .nav-drop, header nav .nav-tools .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop[aria-expanded="true"]::after {
    top: unset;
    bottom: .5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul, header nav .nav-tools ul {
    display: flex;
    gap: 2em;
    font-size: .75rem;
    flex-flow: nowrap;
    align-items: center;
    justify-content: flex-end;
  }

  header nav .nav-tools ul {
    margin-top: 0;
    font-size: .75rem;
  }

  header nav .nav-sections .default-content-wrapper > ul > li, header nav .nav-tools .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
    font-weight: 500;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    margin-right: 1rem;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li:last-of-type {
    margin-right: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul, header nav .nav-tools .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded="true"] > ul, header nav .nav-tools .default-content-wrapper > ul > li[aria-expanded="true"] > ul {
    display: block;
    position: absolute;
    left: -1em;
    width: 200px;
    margin-top: 12px;
    padding: 1em;
    background-color: var(--color-gray);
    white-space: initial;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before, header nav .nav-tools .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 8px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--color-gray);
  }
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
}

.tel::before {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  font-size: 1rem;
  left: -1.25rem;
  position: absolute;
  display: block;
}

.loc::before {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  font-size: .75rem;
  left: -1.25rem;
  position: absolute;
  display: block;
}

/* tmp hiding */
header nav .section:last-child {
  display: none;
}
