/* Updated CSS with .header added to each rule */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-tertiary);
  padding: 0 1rem;
  height: auto !important;
  min-height: 60px;
  color: var(--color-white);
}

.header nav {
  display: none;
  position: fixed;
  overflow: auto;
  background: var(--color-white);
  width: 100%;
  left: 0;
  top: 60px;
  height: 100vh;
}

.header nav.open {
  display: flex;
  flex-direction: column;
  overflow: auto;
  opacity: 1;
  padding: 18px 0;
  padding-bottom: 98px;
  height: 100vh;
  max-height: calc(100vh - 60px);
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 14px;
  margin: auto;
  max-width: 1660px;
  width: 100%;
}

.header .logo {
  width: 92px;
  height: 32px;
}

.header .hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: var(--color-accent-2);
}

.header .submenu {
  display: none;
  position: absolute;
  top: 0;
  z-index: 99;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
  background-color: var(--color-bg-primary);
  width: 100%;
  min-height: 100%;
  box-shadow: 0 4px 6px color-mix(in srgb, black 10%, transparent);
  animation: fade-in 0.3s ease-in-out;
}

.header .nav-item {
  width: 100%;
  font-size: 16px;
}

.header .nav-item .nav-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 34px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.28px;
  color: var(--color-text-primary);
  transition: opacity 0.3s ease-in-out;
}

.header .nav-item .nav-link:focus-visible,
.header .nav-item .nav-link:focus {
  outline: 2px solid var(--color-accent-1);
}

.header .nav-item .nav-link::after {
  content: '';
  display: block;
  background-image: url('/icons/chevron-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 16px;
  height: 16px;
}

.header .nav-item.hover .submenu,
.header .nav-item:focus-visible .submenu {
  display: flex;
}

.header .nav-item-heading {
  color: var(--color-text-secondary);
}

.header .submenu a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: var(--color-text-primary);
}

.header .contact a {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  color: var(--color-text-secondary);
}

.header .list {
  display: flex;
  flex-direction: column;
  gap: 46px;
  width: 100%;
  padding: 32px 40px;
}

.header .locate-form {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  color: var(--color-text-primary);
  margin: auto;
  padding: 32px;
  width: 100%;
  max-width: var(--content-width-xl);
}

.header .list-item li a {
  border-radius: 8px;
  padding: 0 8px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 160%;
  color: var(--color-text-primary);
  transition: background-color 0.3s ease-in-out;
}

.header .submenu a:hover,
.header .submenu a:focus-visible {
  background-color: var(--color-bg-secondary);
}

.header .submenu .instructions {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  display: none;
  justify-content: center;
  background: var(--color-bg-secondary);
}

.header .submenu .instructions a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  text-decoration: underline;
  color: var(--color-text-primary);
  white-space: pre-wrap;
  align-items: center;
  display: flex;
}

.header .submenu .back-button {
  position: absolute;
  top: 10px;
  left: 32px;
  border: none;
  padding: 0;
}

.header .submenu .back-button::before {
  content: "";
  width: 12px;
  height: 12px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/icons/arrow-left.svg');
}

.header .submenu .locate-form,
.header .submenu .list {
  padding-top: 68px;
  padding-bottom: 68px;
  height: 100%;
}

.header .submenu .locate-form {
  height: 100vh;
}

.header .list-item .icon {
  width: 32px;
  height: 32px;
}

.header .submenu .instructions .icon {
  width: 24px;
  height: 24px;
  background-color: var(--color-text-primary);
}

.header .list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  padding: 0;
}

.header .list-item:first-child {
  border-left: none;
}

.header .list-item > ul {
  padding: 0;
}

.header .list-item li {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header .list-item li a:hover {
  background-color: var(--color-bg-secondary);
}

.header .list-item.managed li a {
  display: flex;
  align-items: center;
  padding: 0;
}

.header .list-item.image .icon {
  width: 92px;
  height: 92px;
}

.header .list-item li ul li:last-child a {
  gap: 4px;
  margin-top: 24px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.4px;
  text-decoration: none;
  padding: 4px;
}

.header .list-item li ul li:last-child .icon {
  width: 16px;
  height: 16px;
}

.header .list-item > ul > li {
  padding: 12px 0;
  align-items: flex-start;
}

.header .list-item li > * {
  font-size: 14px;
  line-height: 160%;
  color: var(--color-text-secondary);
}

.header .list-item li a[aria-label="Primary button"] {
  padding: .5rem 2rem;
  background-color: var(--color-button-primary);
  border: none;
  color: var(--color-text-primary);
  outline: 1px solid var(--color-grey200);
  border-radius: 100px;
  font-style: normal;
}

.header .list-item li a[aria-label="Primary button"]:hover{
  outline: 3px solid var(--color-black);
}

.header .list-item li a[aria-label="Secondary button"] {
  padding: 6px 2rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-primary-1);
  color: var(--color-primary-1);
  border-radius: 100px;
  font-style: normal;
}

.header .list-item li a[aria-label="Secondary button"]:hover {
  background-color: var(--color-primary-1);
  color: var(--color-white);
  border-color: currentcolor;
}

.header .list-item.managed > ul > li {
  padding: 16px 8px;
}

.header .list-item.image {
  align-items: center;
  text-align: center;
  max-width: 600px;
}

.header .list-item.image ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header .list-item.image ul li:first-child {
  position: relative;
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: var(--color-text-primary);
}

.header .list-item.image ul li:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--color-accent-2);
}

.header .list-item.image picture,
.header .list-item.image img {
  width: 100%;
  height: 100%;
}

.header .ctas-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.header .ctas-container .modal-actions {
  display: flex;
}

.header .ctas-container .quote-button {
  display: none !important;
}

.header .ctas-container .icon-button {
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 30px 28px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
}

.header .ctas-container .icon-button:hover::after,
.header .ctas-container .icon-button:focus-visible::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 4px;
  background-color: var(--color-accent-2);
}

.header .ctas-container .contact-button {
  background-image: url('/icons/phone-ringing.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header .ctas-container .search-button {
  background-image: url('/icons/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header .location-search-menu {
  gap: 0;
}

.header .location-search-menu .instructions {
  display: none;
}

/* Forms */
.header .form input {
  display: block;
  padding: 16px;
  width: 100%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--color-grey200);
  background: var(--color-white);
  font-size: 16px;
}

.header .form .form-header {
  font-weight: 600;
  margin-bottom: 8px;
}

.header .form .form-description {
  margin-bottom: 8px;
}

.header .locate-form .input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.header .locate-form .locate-link {
  padding: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  text-decoration: underline;
}

.header .locate-form .location-search-button {
  position: absolute;
  right: 16px;
  margin: 0;
  padding: 16px;
  width: 24px;
  height: 24px;
  background-color: var(--color-bg-tertiary);
  color: var(--color-white);
  border: none;
  background-image: url('/icons/arrow-right.svg');
  background-position: center;
  background-repeat: no-repeat;
}

/* Modals */
.header .submenu.open {
  display: block;
  gap: 0;
  padding-bottom: 98px;
}

.header .modal {
  position: absolute;
  left: -25%;
  padding: 32px 40px;
  width: auto;
  max-width: 480px;
}

.header .modal-title {
  margin-bottom: 8px;
  color: var(--color-text-secondary);
}

.header .modal-subtitle {
  font-size: 16px;
  margin-bottom: 16px;
}

.header .contact {
  display: flex;
  gap: 16px;
  padding: 16px 0;
}

.header .contact-modal {
  left: 0;
  position: fixed;
  top: 60px;
  width: 100%;
  max-width: 100%;
  height: fit-content;
  min-height: fit-content;
}

.header .contact-modal.open {
  padding-bottom: 32px;
}

.header .contact-modal .modal-title {
  font-size: 14px;
}

.header .contact-modal .modal-content {
  padding: 0 32px;
}

.header .contact-modal .modal-content .primary {
  display: block !important;
  margin-top: 32px;
  width: 100%;
}

.header .contact-icon {
  width: 30px;
  height: 30px;
}

.header .search-modal {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  top: 60px;
  min-height: fit-content;
  padding: 0 24px;
  background-color: var(--color-bg-secondary);
}

.header .search-modal.open {
  padding-bottom: 0;
}

.header .search-modal .search-form {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: auto;
  max-width: var(--content-width-xl);
}

.header .search-modal .close-button {
  padding: 8px;
  border: none;
}

.header .search-modal .close-button img {
  width: 24px;
  height: 24px;
}

.header .contact .modal-title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  color: var(--color-text-primary);
}

/* Mobile Nav */
.header .hamburger-menu {
  padding: 0;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 100;
  border: none;
  border-radius: 0;
  background-color: transparent !important;
}

.header .hamburger-menu span {
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  border-radius: 4px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.header .hamburger-menu.open span:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.header .hamburger-menu.open span:nth-child(2) {
  opacity: 0;
}

.header .hamburger-menu.open span:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

.header .ctas-container-mobile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 64px 32px 82px;
}

.header .ctas-container-mobile .content {
  width: 100%;
}

.header .ctas-container-mobile .content .contact {
  padding-bottom: 0;
}

.header .ctas-container-mobile .content .contact a {
  font-size: 12px;
}

.header .ctas-container-mobile .content .button {
  width: 100%;
  margin-bottom: 0;
}

.header #nav > .instructions {
  position: fixed;
  bottom: 0;
  z-index: 99;
  background: var(--color-bg-secondary);
  padding: 16px;
  width: 100%;
}

.header #nav > .instructions .default-content-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header #nav > .instructions .default-content-wrapper a {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  text-decoration: underline;
  color: var(--color-text-primary);
  white-space: pre-wrap;
}

@media (min-width: 1400px) {
  .header header {
    min-height: 70px;
  }

  .header nav {
    display: flex;
    flex-direction: row;
    position: relative;
    background: transparent;
    width: auto;
    left: initial;
    top: initial;
    height: auto;
  }

  .header .logo {
    width: 150px;
    height: 62px;
  }

  .header .hamburger-menu {
    display: none;
  }

  .header .nav-item {
    width: auto;
    position: relative;
  }

  .header .nav-item .nav-link {
    padding: 28px 20px;
    font-weight: 400;
    font-size: 16px;
    color: var(--color-white);
  }

  .header .nav-item .nav-link::after {
    display: none;
  }

  .header .list {
    flex-direction: row;
    padding-bottom: 0;
  }

  .header .submenu {
    position: fixed;
    top: 82px;
    left: 0;
    margin-top: 0;
    padding-bottom: 0;
    height: auto;
    min-height: auto;
  }

  .header .submenu.open {
    padding-bottom: 0;
  }

  .header .submenu .instructions {
    display: flex;
  }

  .header .submenu .instructions a {
    font-size: 20px;
  }

  .header #nav > .instructions {
    display: none;
  }

  .header .submenu .list,
  .header .submenu .form {
    padding-top: 32px;
  }

  .header .list-item {
    padding: 0 32px;
    width: 25%;
    border-left: 1px solid var(--color-grey200);
  }

  .header .ctas-container .quote-button {
    display: flex !important;
  }

  .header .ctas-container .icon-button {
    padding: 41px 28px;
    width: 32px;
    height: 32px;
  }

  .header .contact-modal {
    left: 50%;
    max-width: 480px;
  }

  .header .search-modal {
    padding: 0 80px;
  }

  .header .contact-modal .modal-content {
    padding: 32px;
    padding-top: 0;
  }

  .header .search-modal .search-form {
    padding-top: 0;
    gap: 64px;
  }

  .header .ctas-container-mobile {
    display: none;
    visibility: hidden;
  }

  .header .submenu .locate-form {
    height: auto;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0;
    gap: 40px;
  }
}

/* body:has(.section.banner-container .block.banner.fixed-to-bottom) .floating-contact {
  bottom: 3.25rem;
}

body:has(.section.banner-container .block.banner.fixed-to-bottom p.button-container) .floating-contact {
  bottom: 4.25rem;
} */
