header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-tertiary);
    padding: 0 1rem;
    height: auto;
    min-height: 70px;
    color: var(--color-white);
}

nav {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin: auto;
    max-width: 1600px;
    width: 100%;
}

.logo {
    width: 150px;
    height: 62px;
}

.hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--color-accent-2);
}

.nav-item {
    position: relative;
    font-size: 16px;
}

.nav-item .nav-link {
    padding: 26px 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: var(--color-white);
    transition: opacity 0.3s ease-in-out;
}

.nav-item.hover .submenu,
.nav-item:focus-within .submenu {
    display: flex;
}

.nav-item-heading {
    color: var(--color-text-secondary);
}

.list {
    display: flex;
    gap: 46px;
    width: 100%;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 0 32px;
    width: 25%;
    border-left: 1px solid var(--color-grey200);
}

.list-item:first-child {
    border-left: none;
}

.list-item .icon {
    width: 32px;
    height: 32px;
}

.list-item > ul {
    padding: 0;
}

.list-item > ul > li {
    padding: 12px 0;
    align-items: flex-start;
}

.list-item li {
    display: flex;
    align-items: center;
    gap: 16px;
}

.list-item li a {
    border-radius: 8px;
    padding: 0 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 160%;
    color: var(--color-text-primary);
    transition: background-color 0.3s ease-in-out;
}

.list-item li a:hover {
    background-color: var(--color-bg-secondary);
}

.list-item li > * {
    font-size: 14px;
    line-height: 160%;
    color: var(--color-text-secondary);
}

.list-item.managed li a {
    padding: 0;
}

.list-item.managed > ul > li {
    padding: 16px 8px;
}

.list-item.image {
    align-items: center;
    text-align: center;
    max-width: 600px;
}

.list-item.image .icon {
    width: 92px;
    height: 92px;
}

.list-item.image ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-item.image ul li:first-child {
    position: relative;
    padding-bottom: 16px;
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    color: var(--color-text-primary);
}

.list-item.image ul li:first-child::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 1px;
    background-color: var(--color-accent-2);
}

.list-item.image picture,
.list-item.image img {
    width: 100%;
    height: 100%;
}

.submenu {
    position: fixed;
    top: 78px;
    left: 0;
    display: none;
    justify-content: flex-start;
    gap: 32px;
    background-color: var(--color-bg-primary);
    padding: 32px 40px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

.submenu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--color-text-primary);
}

.submenu a:hover,
.submenu a:focus {
    background-color: var(--color-bg-secondary);
}

.ctas-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
}

.ctas-container .modal-actions {
    display: flex;
}

.ctas-container .icon-button {
    margin: 0;
    padding: 39px 28px;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
}

.ctas-container .icon-button {
    position: relative;
    cursor: pointer;
}

.ctas-container .icon-button:hover:after,
.ctas-container .icon-button:focus-within:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    height: 4px;
    background-color: var(--color-accent-2);
}

.ctas-container .contact-button {
    background-image: url("/icons/phone-ringing.svg");
    background-repeat: no-repeat;
    background-position: center;
}
.ctas-container .search-button {
    background-image: url("/icons/magnifying-glass.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* Modals */
.submenu.is-open {
    display: block;
}

.modal {
    position: absolute;
    left: -25%;
    padding: 32px 40px;
    width: auto;
    max-width: 480px;
}

.modal-title {
    margin-bottom: 8px;
    color: var(--color-text-secondary);
}

.modal-subtitle {
    margin-bottom: 16px;
}

.contact-modal .contact-info > * {
    padding: 0;
}

.contact-modal .contact {
    display: flex;
    gap: 16px;
    padding: 16px 0;
}

.contact-modal .modal-content {
    padding: 32px;
    padding-top: 0;
}

.contact-modal .contact p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%;
    color: var(--color-text-primary);
}

.contact-modal .contact a {
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    color: var(--color-text-secondary);
}

.contact-modal .primary {
    margin-top: 32px;
    margin-bottom: 0;
    width: 100%;
}

.contact-modal .contact-icon {
    width: 30px;
    height: 30px;
}

.contact-modal .contact-info > * {
    padding: 0;
}

.search-modal {
    padding: 18px 80px;
    background-color: var(--color-bg-secondary);
}

.search-modal input {
    display: block;
    padding: 16px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    border: 1px solid var(--color-grey200);
    background: var(--color-white);
}

.search-modal .search-form {
    display: flex;
    align-items: center;
    gap: 64px;
}

.search-modal .close-button {
    padding: 8px;
    border: none;
}

.search-modal .close-button img {
    width: 24px;
    height: 24px;
}

/* Mobile Nav */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: var(--color-white);
}

.mobile-nav {
    display: none;
    flex-direction: column;
    background-color: #333;
    padding: 1rem;
}

.mobile-nav .nav-item {
    display: flex;
    flex-direction: column;
}

.mobile-nav .submenu {
    display: none;
    flex-direction: column;
    padding-left: 1rem;
}

.mobile-nav .submenu.open {
    display: flex;
}

.mobile-nav a {
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem;
}

@media (max-width: 768px) {
    .ctas-container .quote-button {
        display: none !important;
    }

    nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .mobile-nav {
        display: flex;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 0 40px;
    }
}

@media (min-width: 1600px) {
    .header {
        padding: 0 80px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
