.section.featuretable-container {
  display: none;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .section.featuretable-container {
    display: block;
    padding: 32px;
  }
}

main .section.featuretable-container > div {
  padding: 0 12px;
}

.featuretable {
  width: 100%;
  overflow-x: auto;
}

.featuretable-container .default-content-wrapper h2 {
  color: var(--color-blue);
  line-height: 38px;
  margin-bottom: 24px;
}

.featuretable table {
  border: 4px solid var(--color-light-gray);
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: var(--body-font-size-m);
}

.featuretable table th {
  font-weight: 700;
}

.featuretable table th,
.featuretable table td {
  padding: 8px 16px;
}

.featuretable table th:nth-child(1) {
  width: 50%;
}

.featuretable table thead tr {
  border: 1.5px solid var(--color-light-gray);
  background-color: var(--color-blue);
}

/* striped variant */
.featuretable.striped tbody tr:nth-child(odd) {
  background-color: var(--overlay-background-color);
}

.featuretable > table > thead > tr:nth-child(1) > th {
  padding: 20px;
  height: fit-content;
  text-align: center;
  border: 1.5px solid var(--color-light-gray);
}

.featuretable.bordered table th:nth-child(1) {
  width: 44%;
}

.featuretable.bordered table th:nth-child(2) {
  width: 42%;
}

.featuretable.bordered table th:nth-child(3) {
  width: 14%;
}

.featuretable table thead tr p {
  color: var(--color-white);
  line-height: 24px;
  font-weight: 700;
}

.featuretable table > tbody > tr > td {
  border: 1.5px solid var(--color-light-gray);
  padding: 20px;
}

.featuretable table > tbody > tr > td:nth-child(n+2) {
  text-align: center;
}

.featuretable > table > thead > tr:nth-child(2) > td {
  padding: 20px;
  height: fit-content;
  border: 1.5px solid var(--color-light-gray);
}

.featuretable > table > thead > tr:nth-child(2) > td:nth-child(n+2) {
  text-align: center;
}

.featuretable table > tbody > tr > td:nth-child(n+2) .icon {
  height: 25px;
  width: 25px;
}

.featuretable table > tbody > tr > td > p {
  line-height: 24px;
}

.featuretable table > tbody > tr > td > p > a {
  text-decoration: underline;
}
