.section.banner-container {
  background-color: var(--color-blue);
}

.banner-wrapper {
  max-width: var(--section-width);
  margin: auto;
}

.block.banner {
  display: flex;
  position: relative;
  align-items: center;
  height: fit-content;
}

.block.banner > span {
  display: none;
}

.block.banner .button {
  margin: 0;
}

.block.banner.fixed-to-bottom {
  position: fixed;
  left: 0;
  z-index: 100;
  width: 100%;
}

.banner-container:has(.fixed-to-top) {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.block.banner.fixed-to-bottom {
  bottom: 0;
}

.block.banner > .banner-content {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  width: 100%;
  white-space: nowrap;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  .block.banner > .banner-content {
    gap: 4rem;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .block.banner > .banner-content {
    gap: 10rem;
  }

  .block.banner > span {
    display: block;
    width: 50px;
    gap: 50px;
    color: var(--color-white);
    margin-left: 10px;
  }
}

.block.banner > .banner-content > .banner-content-page {
  display: none;
}

.block.banner > .banner-content > .banner-content-page.active {
  display: block;
}

.block.banner > .banner-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
}

.block.banner > .banner-actions > .close-button {
  width: 10px;
  height: 10px;
  border: unset;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: unset;
  background-color: unset;
}

.block.banner > .banner-actions > .close-button::before {
  content: "X";
  color: var(--color-white);
  margin: auto;
}

.block.banner .banner-content-page p:has(strong+a) a:any-link,
.block.banner .banner-content-page p:has(strong > a) a:any-link,
.block.banner .banner-content-page p:has(a) a:any-link {
  color: var(--color-yellow);
}

.fa-chevron-left::before {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  margin-left: 8px;
  color: var(--color-white);
}

.fa-chevron-right::after {
  content: "";
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  margin-right: 8px;
  color: var(--color-white);
}

button.fa-chevron-left, 
button.fa-chevron-right {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  text-decoration: unset;
  border: unset;
  padding: unset;
  line-height: unset;
  text-align: unset;
  font-style: unset;
  font-weight: unset;
  cursor: pointer;
  color: unset;
  background-color: unset;
  white-space: nowrap;
  overflow: unset;
  text-overflow: unset;
  border-radius: unset;
}