
main .section.hero-container {
  padding: 0;

  & .hero-wrapper {
    max-width: unset;
    margin: unset;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .block.hero.white-text > .hero-content-container > .hero-content > * {
    color: white !important;
  }
}

.block.hero {
  position: relative;
  padding: 2.625rem 0;
  overflow: hidden;

  & picture.hero-background {
    position: absolute;
    top: 0;
    display: none;
    left: 0;
    width: 100%;
    height: 100%;

    & img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    &.mobile-only {
      display: block;
    }

    &.desktop-only {
      display: none;
    }
  }

  & .hero-content-container {
    max-width: var(--section-width);
    margin: auto;
    position: relative;
    padding: 0 24px;
    width: 100%;

    & .hero-content {
      display: flex;
      flex-flow: column wrap;
      gap: 20px;

      & > h1 {
        font-weight: var(--font-weight-bold);
        margin: 0 0 8px;
        line-height: 34px;
        letter-spacing: -0.015px;
      }

      & p.button-container {
        & a {
          font-weight: var(--font-weight-bold);
          font-size: var(--body-font-size-s);
          border-width: 1px;
        }

        & > a:hover {
          background-color: unset;
          color: unset;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .block.hero {
    & div.hero-content-container {
      padding: 0 32px;
      margin: 1rem auto;
      max-width: var(--section-width);
    }
  }
}

@media (min-width: 1200px) {
  .block.hero {
    & div.hero-content-container {
      padding: 0 80px;
      margin: 1rem auto;
      max-width: var(--section-width);
    }
  }
}

/* breakpoint-l */
@media screen and (min-width: 992px) {
  .block.hero {
    & picture.hero-background {
      display: block;

      &.mobile-only {
        display: none;
      }

      &.desktop-only {
        display: block;
      }
    }

    & .hero-content-container {
      & .hero-content {
        width: 58.3333%;

        & > h1 {
          font-weight: var(--font-weight-bold);
          margin: 0 0 8px;
          line-height: 52px;
          letter-spacing: -0.015px;
        }

        & p.button-container a {
          border-width: 2px;
          font-size: var(--body-font-size-default);
        }

        .mobile-only {
          display:none;
        }
      }
    }
  }
}
