
main .section.hero-container {
  padding: 0;

  & .hero-wrapper {
    max-width: unset;
    margin: unset;
    padding: 0;
  }
}

.block.hero {
  position: relative;
  padding: 2.625rem 0;
  overflow: hidden;

  & picture.hero-background {
    display: none;
  }

  & .hero-content-container {
    max-width: var(--section-width);
    margin: auto;
    position: relative;
    padding: 0 2.9375rem;
    width: 100%;

    & .hero-content {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      & > h1 {
        font-weight: var(--lato-bold);
        margin: 16px 0 8px;
        line-height: 34px;
        letter-spacing: -0.015px;
      }

      & p.button-container {
        & a {
          font-weight: var(--lato-regular);
          font-size: var(--text-font-size-s);
          border-width: 1px;
        }

        & > a:hover {
          background-color: unset;
          color: unset;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  .block.hero {
    & div.hero-content-container {
      padding: 0 12px;
      margin: auto;
      max-width: var(--section-width);
    }
  }
}

/* breakpoint-l */
@media screen and (min-width: 992px) {
  .block.hero {
    & .hero-content-container {
      & .hero-content {
        width: 58.3333%;

        & > h1 {
          font-weight: var(--lato-bold);
          margin: 16px 0 8px;
          line-height: 52px;
          letter-spacing: -0.015px;
        }

        & p.button-container a {
          border-width: 2px;
          font-size: var(--text-font-size-s);
        }
      }
    }


    & picture.hero-background {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      & img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}
