main .hero-container > div {
  max-width: unset;
}

main .hero-container > div.hero-wrapper {
  margin: unset;
}

main div.hero.block > div:first-of-type {
  display: flex;
}

main .hero-container {
  padding: 0;
}

.hero-wrapper {
  padding: 0 !important;
}

.hero {
  position: relative;
  padding: 2rem 0;
  min-height: 232px;
}

.hero picture.hero-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero picture.hero-background > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero div.hero-content-container {
  top: 50px;
  position: relative;
  max-width: var(--section-width);
  margin: auto;
  padding: 28px 0;
  align-items: center;
  display: flex;
  width: 100%;
}

.hero div.hero-content-container > div.hero-content {
  width: 58.3333%;
}

.hero div.hero-content-container > div.hero-content > h1 {
  margin-bottom: 1rem;
}

.hero div.hero-content p.button-container > a {
  border: unset;
  width: unset;
  font-weight: unset;
  padding: unset;
  margin: unset;
  text-decoration: none;
}

.hero div.hero-content p.button-container > a:hover {
  background-color: unset;
  color: unset;
  text-decoration: underline;
}
