main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
}

.hero {
  position: relative;
  padding: 32px;
  min-height: 300px;
}

.hero picture.hero-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero picture.hero-background > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero div.hero-content-container {
  position: relative;
  max-width: var(--section-width);
  margin: auto;
  padding: 28px 0;
}

.hero div.hero-content-container > div.hero-content {
  width: 58.3333%;
}

.hero div.hero-content-container > div.hero-content .button {
  margin-top: 40px;
  width: 200px;
}
