@import url('../form/form.css');

a.initial-caps {
    text-transform: capitalize;
}

main .facet-list-container ul li::before {
    content: unset;
}

div.facet-list-container > div.default-content-wrapper {
    width: 100%;
}

div.facet-list-container h3 {
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.32px;
    color: var(--color-text-primary);
}

div.facet-list-container > div.facet {
    width: 100%;
}

div.facet-list-container > div.facet > i.filter-icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5rem;
}

div.facet-list-container > div.facet > i.filter-icon::before {
    background-image: url('/icons/filter-icon.svg');
    content: '';
    width: 27px;
    height: 27px;
    display: block;
    filter: opacity(.5);
}

div.facet-list-container > div.facet > ul {
    display: none;
}

div.facet-list-container > div.results {
    flex-grow: 1;
    width: 100%;
}

div.facet-list-container div.results div.item-date {
    margin-bottom: 8px;
    font-size: var(--body-font-size-s);
    color: var(--color-text-secondary);
}

.slideout {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease;
}

div.facet-list-wrapper div.pagination-controls {
    display: flex;
    flex-direction: column;
}

div.facet-list-wrapper ul.pagination {
    display: flex;
    list-style: none outside none;
    margin-left: auto;
    margin-bottom: 1rem;
}

div.facet-list-wrapper ul.pagination li > button:disabled {
    border: unset;
    background-color: unset;
    color: var(--color-disabled);
    margin-right: .5rem;
    font-size: inherit;
}

div.facet-list-wrapper ul.pagination > li {
    border-bottom: unset;
    margin-bottom: unset;
    padding-bottom: unset;
    display: inline-block;
}

.fa-chevron-left::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cg%20id%3D%22g1275%22%3E%0A%3Cg%20id%3D%22g1277%22%3E%0A%3Cg%20id%3D%22Clip%20path%20group%22%3E%0A%3Cmask%20id%3D%22mask0_17272_315%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%3Cg%20id%3D%22clipPath1283%22%3E%0A%3Cpath%20id%3D%22path1281%22%20d%3D%22M0%201.90735e-06H32V32H0V1.90735e-06Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_17272_315)%22%3E%0A%3Cg%20id%3D%22g1279%22%3E%0A%3Cg%20id%3D%22g1285%22%3E%0A%3Cpath%20id%3D%22path1287%22%20d%3D%22M9.875%2016H22.1667M9.875%2016L14.7917%2011.0833M9.875%2016L14.7917%2020.9167M9.27325%201.25H22.7267C24.7159%201.25%2026.6236%202.04019%2028.03%203.44669L28.5533%203.97C29.9598%205.37644%2030.75%207.28413%2030.75%209.27325V22.7268C30.75%2024.7159%2029.9598%2026.6236%2028.5533%2028.03L28.03%2028.5533C26.6236%2029.9598%2024.7159%2030.75%2022.7267%2030.75H9.27325C7.28412%2030.75%205.3765%2029.9598%203.97%2028.5533L3.44669%2028.03C2.04019%2026.6236%201.25%2024.7159%201.25%2022.7268V9.27325C1.25%207.28413%202.04019%205.37644%203.44669%203.97L3.97%203.44669C5.3765%202.04019%207.28412%201.25%209.27325%201.25Z%22%20stroke%3D%22%23006CB4%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A');
    background-size: contain;
    vertical-align: middle;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
}

.fa-chevron-left:hover {
  opacity: 0.8;
}

.fa-chevron-right::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%0A%3Cg%20id%3D%22g1275%22%3E%0A%3Cg%20id%3D%22g1277%22%3E%0A%3Cg%20id%3D%22Clip%20path%20group%22%3E%0A%3Cmask%20id%3D%22mask0_17272_279%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%3Cg%20id%3D%22clipPath1283%22%3E%0A%3Cpath%20id%3D%22path1281%22%20d%3D%22M32%201.90735e-06H1.90735e-06V32H32V1.90735e-06Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_17272_279)%22%3E%0A%3Cg%20id%3D%22g1279%22%3E%0A%3Cg%20id%3D%22g1285%22%3E%0A%3Cpath%20id%3D%22path1287%22%20d%3D%22M22.125%2016H9.83331M22.125%2016L17.2083%2011.0833M22.125%2016L17.2083%2020.9167M22.7268%201.25H9.27325C7.28413%201.25%205.37644%202.04019%203.97%203.44669L3.44669%203.97C2.04019%205.37644%201.25%207.28413%201.25%209.27325V22.7267C1.25%2024.7159%202.04019%2026.6236%203.44669%2028.03L3.97%2028.5533C5.37644%2029.9598%207.28413%2030.75%209.27325%2030.75H22.7268C24.7159%2030.75%2026.6235%2029.9598%2028.03%2028.5533L28.5533%2028.03C29.9598%2026.6236%2030.75%2024.7159%2030.75%2022.7267V9.27325C30.75%207.28413%2029.9598%205.37644%2028.5533%203.97L28.03%203.44669C26.6235%202.04019%2024.7159%201.25%2022.7268%201.25Z%22%20stroke%3D%22%23006CB4%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
    background-size: contain;
    margin-right: 8px;
    vertical-align: middle;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.1s ease;
}

.fa-chevron-right:hover {
  opacity: 0.8;
}

.fa-chevron-left:disabled::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%0A%3Cg%20id%3D%22g1275%22%3E%0A%3Cg%20id%3D%22g1277%22%3E%0A%3Cg%20id%3D%22Clip%20path%20group%22%3E%0A%3Cmask%20id%3D%22mask0_17272_383%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%3Cg%20id%3D%22clipPath1283%22%3E%0A%3Cpath%20id%3D%22path1281%22%20d%3D%22M0%201.90735e-06H32V32H0V1.90735e-06Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_17272_383)%22%3E%0A%3Cg%20id%3D%22g1279%22%3E%0A%3Cg%20id%3D%22g1285%22%3E%0A%3Cpath%20id%3D%22path1287%22%20d%3D%22M9.875%2016H22.1667M9.875%2016L14.7917%2011.0833M9.875%2016L14.7917%2020.9167M9.27325%201.25H22.7267C24.7159%201.25%2026.6236%202.04019%2028.03%203.44669L28.5533%203.97C29.9598%205.37644%2030.75%207.28413%2030.75%209.27325V22.7268C30.75%2024.7159%2029.9598%2026.6236%2028.5533%2028.03L28.03%2028.5533C26.6236%2029.9598%2024.7159%2030.75%2022.7267%2030.75H9.27325C7.28412%2030.75%205.3765%2029.9598%203.97%2028.5533L3.44669%2028.03C2.04019%2026.6236%201.25%2024.7159%201.25%2022.7268V9.27325C1.25%207.28413%202.04019%205.37644%203.44669%203.97L3.97%203.44669C5.3765%202.04019%207.28412%201.25%209.27325%201.25Z%22%20stroke%3D%22%2353585B%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
    background-size: contain;
    margin-right: 8px;
    vertical-align: middle;
}

.fa-chevron-right:disabled::after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2232%22%20height%3D%2232%22%20viewBox%3D%220%200%2032%2032%22%20fill%3D%22none%22%3E%0A%3Cg%20id%3D%22g1275%22%3E%0A%3Cg%20id%3D%22g1277%22%3E%0A%3Cg%20id%3D%22Clip%20path%20group%22%3E%0A%3Cmask%20id%3D%22mask0_17272_323%22%20style%3D%22mask-type%3Aluminance%22%20maskUnits%3D%22userSpaceOnUse%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2232%22%20height%3D%2232%22%3E%0A%3Cg%20id%3D%22clipPath1283%22%3E%0A%3Cpath%20id%3D%22path1281%22%20d%3D%22M32%201.90735e-06H1.90735e-06V32H32V1.90735e-06Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fmask%3E%0A%3Cg%20mask%3D%22url(%23mask0_17272_323)%22%3E%0A%3Cg%20id%3D%22g1279%22%3E%0A%3Cg%20id%3D%22g1285%22%3E%0A%3Cpath%20id%3D%22path1287%22%20d%3D%22M22.125%2016H9.83331M22.125%2016L17.2083%2011.0833M22.125%2016L17.2083%2020.9167M22.7268%201.25H9.27325C7.28413%201.25%205.37644%202.04019%203.97%203.44669L3.44669%203.97C2.04019%205.37644%201.25%207.28413%201.25%209.27325V22.7267C1.25%2024.7159%202.04019%2026.6236%203.44669%2028.03L3.97%2028.5533C5.37644%2029.9598%207.28413%2030.75%209.27325%2030.75H22.7268C24.7159%2030.75%2026.6235%2029.9598%2028.03%2028.5533L28.5533%2028.03C29.9598%2026.6236%2030.75%2024.7159%2030.75%2022.7267V9.27325C30.75%207.28413%2029.9598%205.37644%2028.5533%203.97L28.03%203.44669C26.6235%202.04019%2024.7159%201.25%2022.7268%201.25Z%22%20stroke%3D%22%2353585B%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E');
    background-size: contain;
    margin-right: 8px;
    vertical-align: middle;
}

div.facet-list-wrapper ul.pagination li > button:not(:disabled) {
    border: unset;
    background-color: unset;
    margin-right: .5rem;
    color: var(--color-primary-1);
    font-size: var(--body-font-size-default);
    font-weight: var(--font-weight-bold);
    line-height: 160%;
    letter-spacing: 0.32px;
}

div.facet .facet-list-container {
    display: none;
    flex-direction: column;
}

div.facet .facet-list-container.unhide {
    display: flex;
}



div.facet-list-container > div.facet div.facet-group {
    margin-bottom: 18px;
}

div.facet-list-container > div.facet .facet-list:not(.slideout) {
    margin: 24px 0 13px;
    padding-left: 0;
}

div.facet-list-container > div.facet ul > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%; /* 16px */
    letter-spacing: 0.16px;
    color: var(--color-text-primary);
}

div.facet-list-container > .head {
    position: relative;
    padding: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    font-family: var(--font-family-lato), sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0.24px;
    color: var(--color-text-primary);
    border-bottom: 1px solid var(--color-grey200);
}


div.facet-list-container > .head .toggle-icon {
    position: absolute;
    right: 16px;
    top: 40%;
    width: 24px;
    height: 24px;
    background-image: url('/icons/minus-sign.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    transition: background-image 0.3s ease;
    cursor: pointer;
  }

  div.facet-list-container > .head .toggle-icon.open {
    background-image: url('/icons/plus-sign.svg');
  }

div.facet-list-container > div.facet ul > li > div.facet-group {
    display: flex;
    justify-content: start;
}


div.facet-list-container > div.results h4 {
    font-size: 1rem;
    margin-bottom: .4rem;
}


div.facet-list-container .results .item-title a {
    margin-bottom: .4rem;
    margin-top: .4rem;
    color: var(--color-text-primary);
    text-decoration: none;
}

div.facet-list-container > div.results div.item-category {
    margin-bottom: .4rem;
    text-decoration: underline;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 0.05rem;
    text-underline-offset: 3px;
    line-height: 1.0rem
}


div.facet-list-container > div.results .button-container a {
    padding: 0;
    margin-top: 8px;
    margin-bottom: 0;
    font-size: var(--body-font-size-s);
}

div.facet-list-container > div.results .button-container .icon {
   width: 12px;
   height: 12px;
}

div.facet-list-container > div.results .button-container a.primary,
div.facet-list-container > div.results .button-container a.secondary {
    padding: 4px 16px;
}

div.facet-list-container > div.facet li {
    list-style: none;
}

div.facet-list-container > div.results ul {
    list-style: none;
    padding-left: unset;
}

div.facet-list-container > div.facet div.facet-group > input {
    margin-right: 8px;
}

div.facet-list-container > div.results ul > li {
    flex-direction: row;
    display: flex;
    width: 100%;
    column-gap: 1rem;
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: .75rem;
    padding-bottom: .75rem;
}

div.facet-list-container > div.results ul > li div.item-left {
    border-radius: var(--border-radius-l);
    width: 192px;
    height: 102px;
    display: flex;
    overflow: hidden;
}

div.facet-list-container > div.results ul > li div.item-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.facet-list-container > div.results img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}


@media screen and (min-width: 992px) {
    div.facet-list-container h3 {
        font-size: 32px;
    }

    div.section.facet-list-container {
        display: flex;
        flex-flow: row;
        flex-direction: column;
    }

    div.facet-list-container > div.facet-list-wrapper > div.facet-list-container {
        display: flex;
        flex-flow: row;
    }

    div.facet-list-container > div.default-content-wrapper {
        width: 100%;
    }

    div.facet-list-container > div.facet-list-wrapper {
        width: 100%;
    }

    div.facet-list-container > div.facet {
        width: 25%;
        margin-right: 2rem;
    }

    div.facet-list-container > div.facet > i.filter-icon {
        display: none;
    }

    div.facet-list-container > div.facet > ul {
        display: unset;
    }

    div.facet-list-container > div.results {
        width: 75%;
        max-width: 75%;
    }

    div.facet .facet-list-container {
        display: flex;
    }

    div.facet-list-container > div.results ul > li div.item-left {
        height: 124px;
        min-width: 192px;
    }
}