a.initial-caps {
    text-transform: capitalize;
}

main .facet-list-container ul li::before {
    content: unset;
}

div.facet-list-container {
    display: flex;
    flex-flow: column;
}

div.facet-list-container > div.default-content-wrapper {
    width: 100%;
}

div.facet-list-container h3 {
    font-size: 1.125rem;
    color: var(--color-blue);
}

div.facet-list-container > div.facet {
    width: 100%;
}

div.facet-list-container > div.facet > i.filter-icon {
    display: flex;
    justify-content: flex-end;
}

div.facet-list-container > div.facet > i.filter-icon::before {
    background-image: url('/icons/filter-icon.svg');
    content: '';
    width: 27px;
    height: 27px;
    display: block;
    filter: opacity(.5);
}

div.facet-list-container > div.facet > ul {
    display: none;
}

div.facet-list-container > div.results {
    flex-grow: 1;
    width: 100%;
}

div.facet-list-container > div.facet ul > li > div > i {
    display: none;
}

div.facet-list-container div.results div.item-date {
    font-size: .75rem;
}

.slideout {
    max-height: 0;
    overflow: hidden;
    transition: max-height .35s ease;
}

div.facet-list-wrapper div.pagination-controls {
    display: flex;
    flex-direction: column;
}

div.facet-list-wrapper ul.pagination {
    list-style: none outside none;
    margin-left: auto;
    margin-bottom: 1rem;
}

div.facet-list-wrapper ul.pagination li > button:disabled {
    border: unset;
    background-color: unset;
    color: rgb(16 16 16 / 30%);
    margin-right: .5rem;
    font-size: inherit;
}

div.facet-list-wrapper ul.pagination > li {
    border-bottom: unset;
    margin-bottom: unset;
    padding-bottom: unset;
    display: inline-block;
}

.fa-chevron-left::before {
    content: "";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    margin-right: 8px;
}

.fa-chevron-right::after {
    content: "";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    margin-left: 8px;
}

div.facet-list-wrapper ul.pagination li > button:enabled {
    border: unset;
    background-color: unset;
    color: rgb(16 16 16 / 30%);
    margin-right: .5rem;
    font-size: inherit;
}

div.facet-list-wrapper ul.pagination li > button:not(:disabled) {
    border: unset;
    background-color: unset;
    color: unset;
    margin-right: .5rem;
}

@media screen and (min-width: 992px) {
    div.facet-list-container h3 {
        font-size: 1.625rem;
    }

    div.section.facet-list-container {
        display: flex;
        flex-flow: row;
        flex-direction: column;
    }

    div.facet-list-container div.results div.item-date {
        font-size: unset;
    }

    div.facet-list-container > div.facet-list-wrapper > div.facet-list-container {
        display: flex;
        flex-flow: row;
    }

    div.facet-list-container > div.default-content-wrapper {
        width: 100%;
    }

    div.facet-list-container > div.facet-list-wrapper {
        width: 100%;
    }

    div.facet-list-container > div.facet {
        width: 25%;
        margin-right: 2rem;
    }

    div.facet-list-container > div.facet > i.filter-icon {
        display: none;
    }

    div.facet-list-container > div.facet > ul {
        display: unset;
    }

    div.facet-list-container > div.results {
        width: 75%;
        max-width: 75%;
    }

    div.facet-list-container > div.facet ul > li > div > i {
        display: inline-block;
        font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
        text-transform: uppercase;
        font-style: normal;
    }
}

div.facet-list-container > div.facet div.facet-group {
    margin: 1.5rem 0;
}

div.facet-list-container > div.facet ul {
    margin: 0;
    padding-left: 0;
}

div.facet-list-container > div.facet ul > li > div {
    display: flex;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    padding-right: 3.125rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

div.facet-list-container > div.facet ul > li > div.topic-head {
    font-family: var(--font-family-lato), sans-serif;
    font-weight: 800;
}

div.facet-list-container > div.facet ul > li > div.facet-group {
    display: block;
}

div.facet-list-container > div.facet ul > li > div.facet-group > input[type="checkbox"] {
    height: 1rem;
    border: .1rem solid #1a242b;
    border-radius: 10%;
    vertical-align: bottom;
    margin-right: 1rem;
    width: 1rem;
}

div.facet-list-container > div.facet ul > li > div>  i::before {
    content: "";
    font-size: .5rem;
}

div.facet-list-container > div.results h4 {
    font-size: 1rem;
    margin-bottom: .4rem;
}

div.facet-list-container > div.results div.item-category {
    margin-bottom: .4rem;
    margin-top: .4rem;
}

div.facet-list-container > div.facet li {
    list-style: none;
}

div.facet-list-container > div.results ul {
    list-style: none;
    padding-left: unset;
}

div.facet-list-container > div.facet div.facet-group > input {
    margin-right: 1rem;
    width: 1rem;
    vertical-align: bottom;
}

div.facet-list-container > div.results ul > li {
    flex-direction: row;
    display: flex;
    width: 100%;
    column-gap: 1rem;
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: .75rem;
    padding-bottom: .75rem;
}

div.facet-list-container > div.results ul > li div.item-left {
    width: 10rem;
    display: flex;
    overflow: hidden;
}

div.facet-list-container > div.results ul > li div.item-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

div.facet-list-container > div.results img {
    width: 160px;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
