/* stylelint-disable no-descending-specificity */
main section .tabs-container {
    padding: 32px;
}

main section .tabs-container > div {
    padding: 0 12px;
}

main .section.tabs-container > .tabs-wrapper:has(.cta-list) {
    margin: 16px 0 0;
    padding: 0 16px;
}

main .section.tabs-container:has(.cta-list) > .default-content-wrapper {
    margin: 24px 0;
    padding: 0 16px;
}

main .section.tabs-container:has(.cta-list) > .default-content-wrapper > p {
    margin: 0;
}

main .section.tabs-container:has(.cta-list) > .default-content-wrapper > p > a {
    margin: 0;
    padding: 0;
}

.block.tabs .tabs-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 42px;
    padding: 4px 0;
    max-width: 100%;
    overflow-x: auto;
    border-bottom: 1px solid var(--color-grey200);
    scrollbar-width: none;
}

.block.tabs.cta-list > .tabs-list {
    margin-bottom: 24px;
}

.block.tabs .tabs-panel {
    flex-direction: column;
    gap: 24px;
    padding: 0;
    margin-bottom: 40px;
    scrollbar-width: none;
}


.block.tabs:not(.vertical) .tabs-panel {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 0 0 2rem;
    overflow: auto;
    justify-content: center;
}

.block.tabs.vertical {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    margin-bottom: 40px;
}

.block.tabs.vertical .tabs-panel {
    display: flex;
    margin: 0;
}

.block.tabs.vertical .tabs-panel details {
    display: none;
}

.block.tabs.vertical .tabs-panel details summary {
    position: relative;
    padding: .75rem 2.5rem .75rem .5rem;
    padding-right: 40px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
}


.block.tabs .tabs-panel details summary span {
    position: absolute;
    width: 1rem;
    height: 2px;
    right: 1rem;
    top: calc(50% - 2px);
    background: var(--color-black);
}

.block.tabs .tabs-panel details summary span::after {
    background: var(--color-black);
    content: "";
    position: absolute;
    width: 2px;
    height: 1rem;
    top: -7px;
    left: 7px;
    transition: all .3s ease-in-out;
}

.block.tabs .tabs-panel details[open] summary span::after {
    transform: rotate(90deg);
}

.block.tabs .tabs-panel details[open] summary::after {
    transform: translateY(-50%) rotate(-45deg);
}

.block.tabs.vertical .tabs-panel > div:last-of-type > span::after {
    background: var(--color-black);
    content: "";
    position: absolute;
    width: 2px;
    height: 1rem;
    top: -7px;
    left: 7px;
    transition: all .3s ease-in-out;
}

.block.tabs.vertical .tabs-panel > div:last-of-type > span {
    position: absolute;
    width: 1rem;
    height: 2px;
    right: 1rem;
    top: calc(50% - 2px);
    background: var(--color-black);
}

.block.tabs.vertical .tabs-panel:nth-of-type(2) details:first-of-type {
    border-top: 1px solid var(--color-light-silver);
}

.block.tabs .tabs-list button {
    flex: 0 0 max-content;
    margin: 0 2px;
    border: none;
    border-radius: 0;
    padding: 10px 14px;
    width: 100%;
    color: var(--color-primary-1);
    font-size: var(--heading-font-size-m);
    font-weight: bold;
    line-height: unset;
    text-align: initial;
    text-overflow: unset;
    overflow: unset;
    white-space: unset;
    transition: all 0.2s;
}

.block.tabs .tabs-list button:hover {
    box-shadow: 0 4px 0 0 var(--color-primary-1);
}

.block.tabs .tabs-panel div:not(:has(img)) {
    flex: 1 1 100%;
}

.block.tabs .tabs-panel details summary p {
    color: var(--color-secondary-5);
    font-weight: var(--font-weight-bold);
    font-size: var(--body-font-size-default);
    line-height: 16px;
}

.block.tabs .tabs-list button[aria-selected="true"] {
    margin-bottom: 0;
    box-shadow: 0 4px 0 0 var(--color-primary-1);
    cursor: initial;

    & >  * {
        color: var(--color-primary-1);
    }
}

.block.tabs .tabs-list button p.custom-icon span.icon {
    --icon-color: var(--color-text);

    background-color: var(--icon-color);
    mask-repeat: no-repeat;
    mask-position: center center;
    mask-size: contain;
    mask-image: var(--mask-image);
    height: 32px;
    width: 32px;
}

.block.tabs .tabs-list button[aria-selected="true"] p.custom-icon span.icon {
    --icon-color: var(--color-primary-1);
}


.block.tabs .tabs-panel[aria-hidden="true"] {
    display: none;
}


.block.tabs .tabs-panel details[open] summary {
    padding: .5rem 2.5rem .5rem .5rem;
}

.block.tabs.vertical .tab-item-body {
    max-height: 0;
    overflow: hidden;
}

.block.tabs .tabs-list .tabs-panel[aria-hidden="true"] {
    display: none;
}

.block.tab .tabs-list .tabs-panel[aria-hidden="false"]{
    display: block;
}

@keyframes open-animation {
    from {
        padding: .125rem 1rem 1rem;
        max-height: 0;
    }

    to {
        padding: .125rem .5rem .5rem;
        max-height: 5000vh;
    }
}

@keyframes close-animation {
    from {
        padding: .125rem .5rem .5rem;
        max-height: 5000vh;
    }

    to {
        padding: .125rem 1rem 1rem;
        max-height: 0;
    }
}

.block.tabs.vertical .tab-item.open .tab-item-body {
    animation: open-animation .3s ease-in-out forwards;
}

.block.tabs.vertical .tab-item.close .tab-item-body {
    animation: close-animation .3s ease-in-out forwards;
}

.block.tabs .tabs-panel details[open] .tab-item-body p {
    margin-bottom: 24px;
}

.block.tabs.topics .tabs-panel div a {
    font-size: 1rem;
    line-height: 1.25rem;
    text-decoration: underline;
}

.block.tabs .tabs-panel details[open] .tab-item-body p > a {
    text-decoration: underline;
}

.block.tabs.video iframe {
    aspect-ratio: 16 / 9;
}

.block.tabs.vertical.video .tabs-panel details iframe {
    width: 100%;
    height: 100%;
}

.block.tabs.topics .tabs-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.block.tabs.topics .tabs-panel div {
    width: 50%;

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;

    margin: calc(var(--bs-gutter-y) * 0.5) calc(var(--bs-gutter-x)* 0.5);
}

.block.tabs .tabs-list p:has(.icon) {
    display: flex;
    gap: 16px;
}

/* Block Tabs with CTA list */
.block.tabs.cta-list .tabs-panel {
    gap: 24px;
    justify-content: space-between;
    margin-bottom: 0;
    padding-bottom: 0;
}

.block.tabs.cta-list .tabs-panel > div {
    border-radius: 8px;
    border: 1px solid var(--border-border-primary-light, var(--color-grey200));
    background-color: var(--color-grey200);
    max-width: 100%;
}

.block.tabs.cta-list .tabs-panel > div > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    gap: 12px;
    padding: 12px 8px;
    max-width: 100%;
}

.block.tabs.cta-list .tabs-panel > div > a > p:has(.icon) {
    display: flex;
    height: fit-content;
}

.block.tabs.cta-list .tabs-panel > div > a > div.tab-item-body > p {
    line-height: 160%;
    letter-spacing: 0.14px;
}

.block.tabs.cta-list .tabs-panel > div > a > div.tab-item-body > h4 {
    display: flex;
    flex-direction: column-reverse;
}

.block.tabs.cta-list .tabs-panel > div > a > div.tab-item-body > h4 > strong {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 25px;
    padding: 0 8px;
    margin-bottom: 4px;
    border-radius: 4px;
    background: var(--color-secondary-1);
    color: var(--color-white);
    line-height: 160%;
    letter-spacing: 0.16px;
    width: fit-content;
}

.block.tabs.cta-list .tabs-panel > div > a > p:has(.icon) > a {
    margin: 0;
    padding: 0;
}

.block.tabs.cta-list .tabs-panel > div > a > p:has(.icon) > a:hover {
    background-color: unset;
}

.block.tabs.cta-list .tabs-panel > div > a > p.first-icon-paragraph span.icon {
    width: 48px;
    height: 48px;
}

.block.tabs.cta-list .tabs-panel > div > a > p.last-icon-paragraph span.icon {
    width: 24px;
    height: 24px;
}

@media (min-width: 992px) {
    main .section.tabs-container > .tabs-wrapper:has(.cta-list) {
        margin: 16px 0 0;
    }

    main .section.tabs-container:has(.cta-list) > .default-content-wrapper {
        margin: 24px 0;
    }

    .block.tabs.cta-list .tabs-panel > div {
        display: flex;
        max-width: 50%;
    }


    .block.tabs.cta-list .tabs-panel > div > a {
        gap: 16px;
        padding: 16px;
    }

    .block.tabs.vertical .tabs-panel details {
        display: none;
    }

    .block.tabs .tabs-list {
        margin-bottom: 28px;
    }

    .block.tabs .tabs-panel {
        flex-direction: row;
    }

    .block.tabs.vertical .tabs-list {
        display: flex;
        flex-direction: column;
        gap: 8px;
        max-width: 100%;
        overflow-x: visible;
        margin-bottom: .10rem;
        padding: 0 2px;
        flex-basis: 30%;
        flex-shrink: 0;
        border-bottom: none;
    }

    .block.tabs.vertical {
        display: flex;
        flex-direction: row;
    }

    .block.tabs.vertical.video.block {
        max-width: var(--section-width);
        margin: 32px 0;
    }

    .block.tabs.vertical .tabs-panel {
        margin: 0;
        gap: 2rem;
        padding: 0 16px;
        border: none;
        overflow: auto;
        scrollbar-width: none;
        flex-direction: row;
    }

    .block.tabs .tabs-list button {
        justify-content: flex-start;
    }

    .block.tabs.vertical .tabs-list button .icon {
        width: 30px;
        height: 30px;
        line-height: 1.5rem;
    }

    .block.tabs.vertical .tabs-list button:hover {
        box-shadow: -4px 0 0 0 var(--color-primary-1);
    }

    .block.tabs.vertical .tabs-list button[aria-selected="true"] {
        box-shadow: -4px 0 0 0 var(--color-primary-1);
    }

    .block.tabs.topics .tabs-panel div {
        width: 30%;
    }

    .block.tabs.vertical .tabs-panel > div:last-of-type {
        flex-basis: 40%
    }

    .block.tabs.vertical .tabs-panel > div:first-of-type {
        flex-basis: 60%;
    }

    .block.tabs.vertical.video .tabs-panel {
        width: 100%;
    }

    .block.tabs.vertical.video .tabs-panel > div {
        height: 100%;
        width: 100%;
    }

    .block.tabs.vertical.video .tabs-panel > div:first-of-type {
        flex-basis: unset;
        height: 100%;
        width: 100%;
    }


    .block.tabs.vertical.video .tabs-panel > div > p {
        height: 100%;
        width: 100%;
    }

    .block.tabs:not(.vertical) .tabs-panel > div picture > img {
        max-width: 500px;
    }

    .block.tabs.vertical.video .tabs-panel iframe {
        height: 100%;
        width: 100%;
    }

    .block.tabs.cta-list .tabs-panel > div > a > div.tab-item-body > h4 {
        display: flex;
        flex-direction: row;
    }

    .block.tabs.cta-list .tabs-panel > div > a > div.tab-item-body > h4 > strong {
        margin-left: 8px;
        margin-bottom: 0;
    }
}