main .form form .wizard .wizard-button-wrapper {
  justify-content: space-between;
}

main .form form .wizard .wizard-menu-items {
  position: relative;
  background: none;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

main .form form .wizard .wizard-menu-items .wizard-menu-item {
  border-radius: 4px;
  height: 7px;
  width: 100%;
  max-width: 127px;
  background-color: var(--color-grey500);
}

main .form form .wizard .wizard-menu-items .wizard-menu-item > span {
  display: none;
}

main .form form .wizard .wizard-menu-items .wizard-menu-item.wizard-menu-active-item {
  background-color: var(--color-primary-1);
}

main .form form .wizard .wizard-menu-items .wizard-menu-item.wizard-menu-active-item  > span {
  display: block;
  position: absolute;
  top: 16px;
  left: 0;
  font-size: var(--heading-font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 140%;
  letter-spacing: 0.18px;
  color: var(--color-text-primary);
}

main .form form .wizard .wizard-menu-items .wizard-menu-item:has(~ .wizard-menu-active-item) {
  background-color: var(--color-primary-1);
  display: inline-block;
  position: relative;
}

main .form form .wizard .wizard-menu-item::before {
  content: unset;
}
