.offer-box {
  border-radius: 16px;
  border: 1px solid var(--color-grey200);
  background: var(--color-bg-primary);
  box-shadow: 0 8px 8px 0 rgb(33 33 33 / 2%), 0 5px 5px 0 rgb(33 33 33 / 4%),
    0 3px 3px 0 rgb(33 33 33 / 6%), 0 1px 1px 0 rgb(33 33 33 / 8%),
    0 0 0 0 rgb(33 33 33 / 10%);
  padding: 24px;
  margin-bottom: 24px;
}

.offer-box ul {
  padding: 0 16px;
}

.offer-box p {
  margin-bottom: 24px;
}

.offer-box .offer-box-header {
  text-align: center;
  margin-bottom: 24px;
}

.offer-box .offer-box-header h1,
.offer-box .offer-box-header h2,
.offer-box .offer-box-header h3,
.offer-box .offer-box-header h4,
.offer-box .offer-box-header h5,
.offer-box .offer-box-header h6 {
  font-size: 32px;
}

.offer-box .offer-box-header p {
  font-size: 16px;
}

.offer-box .offer-box-header strong {
  display: block;
  margin: auto;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: fit-content;
  background: var(--color-primary-1);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%; /* 16.8px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--color-white);
}

.offer-box .offer-box-header .icon {
  width: 80px;
  height: 80px;
}

.offer-box .offer-box-header * {
  margin-bottom: 8px;
}

.offer-box .head-copy {
  text-align: center;
}

.offer-box .button-container {
  display: flex;
  justify-content: center;
}

.offer-box p .button {
  display: flex;
  justify-content: center;
  margin: 16px auto;
  text-decoration: none !important;
}

.offer-box hr {
  margin: 24px auto;
  width: 100%;
  max-width: 238px;
  height: 1px;
  background: var(--color-grey200);
  font-size: 0;
  border: 0;
}

.offer-box > div.offer-box-header .icon-with-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 16px;
}

.offer-box > div.offer-box-header .icon-with-heading .icon {
  width: 100px;
  height: 100px;
}

/* Alternate styles */
.offer-box.alternate-2 div.offer-box-row {
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.0625rem solid var(--color-light-silver);
}

.offer-box.alternate-2 div.offer-box-row:last-child {
  border-bottom: none;
}

.offer-box.alternate-2 div.offer-box-row > :first-child {
  min-width: 40%;
}

.offer-box.alternate-3 .offer-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .offer-box {
    margin-bottom: 0;
  }

  .section.two-column-offer .offer-box-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }

  .section.two-column-offer .offer-box {
    width: 50%;
  }

  .section.four-column-offer .offer-box {
    width: 25%;
  }
}
