/* stylelint-disable no-descending-specificity */

.offer-box {
  border-radius: var(--border-radius-xl);
  border: 1px solid var(--color-grey200);
  background: var(--color-bg-primary);
  box-shadow: 0 8px 8px 0 rgb(33 33 33 / 2%), 0 5px 5px 0 rgb(33 33 33 / 4%),
    0 3px 3px 0 rgb(33 33 33 / 6%), 0 1px 1px 0 rgb(33 33 33 / 8%),
    0 0 0 0 rgb(33 33 33 / 10%);
  padding: 24px;
  margin-bottom: 24px;
}

.offer-box ul {
  padding: 0 16px;
}

.offer-box p {
  margin-bottom: 24px;
}

.offer-box:not(.plain-simple) .offer-box-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.offer-box .offer-box-header h1,
.offer-box .offer-box-header h2,
.offer-box .offer-box-header h3,
.offer-box .offer-box-header h4,
.offer-box .offer-box-header h5,
.offer-box .offer-box-header h6 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.32px;
}

.offer-box .offer-box-header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0.16px;
}

.offer-box .offer-box-header strong,
.offer-box .offer-box-header .text-with-badge {
  display: block;
  margin: auto;
  margin-bottom: 16px;
  padding: 8px 16px;
  width: fit-content;
  background: var(--color-primary-1);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 120%; /* 16.8px */
  letter-spacing: 1.4px;
  text-transform: uppercase;
  color: var(--color-white);
}

.offer-box .offer-box-header .promotion-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-grey200);
}


.offer-box .offer-box-header .promotion-with-text > :last-child {
  text-align: left;
  margin-bottom: 0;
}

.offer-box .offer-box-header .text-with-badge {
  width: 25%;
  margin-bottom: 0;
}

.offer-box .offer-box-header .text-with-badge p {
  font-size: 14px;
  color: var(--color-white);
  white-space: nowrap;
}

.offer-box .offer-box-header .text-with-badge > :last-child {
  margin-bottom: 0;
}

.offer-box .offer-box-header .icon {
  width: 80px;
  height: 80px;
}

.offer-box .offer-box-header * {
  margin-bottom: 8px;
}

.offer-box .head-copy {
  text-align: center;
}

.offer-box .button-container {
  display: flex;
  justify-content: center;
}

.offer-box .button-container > a {
  max-height: 42px;
}

.offer-box p .button {
  display: flex;
  justify-content: center;
  margin: 16px auto;
  text-decoration: none !important;
}

.offer-box hr {
  margin: 24px auto;
  width: 100%;
  max-width: 238px;
  height: 1px;
  background: var(--color-grey200);
  font-size: 0;
  border: 0;
}

.offer-box > div.offer-box-header .icon-with-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  word-break: break-all;
  gap: 16px;
}

.offer-box > div.offer-box-header .icon-with-heading .icon {
  width: 100px;
  height: 100px;
}

/* Alternate styles */
.offer-box.offer-box.alternate-1 {
  display: flex;
  flex-direction: column;
}

.offer-box.alternate-1 .offer-box-header .placeholder-badge {
  padding: 25px 16px;
}

.offer-box.alternate-2 div.offer-box-row {
  padding: 16px;
  gap: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--color-grey200);
}

.offer-box.alternate-2 div.offer-box-row:last-child {
  border-bottom: none;
}

.offer-box.alternate-2 div.offer-box-row > :first-child {
  min-width: 35%;
}

.offer-box.alternate-3 .offer-box-header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .offer-box {
    margin-bottom: 0;
  }

  .offer-box.alternate-3 .offer-box-header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .section.two-column-offer .offer-box-wrapper,
  .section.three-column-offer .offer-box-wrapper,
  .section.four-column-offer .offer-box-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 24px;
  }

  .section.two-column-offer .offer-box {
    flex: 0 0 calc(50% - 24px);
    max-width: calc(50% - 24px);
    box-sizing: border-box;
  }

  .section.three-column-offer .offer-box {
    flex: 0 0 calc(33.33% - 24px);
    max-width: calc(33.33% - 24px);
    box-sizing: border-box;
  }

  .section.four-column-offer .offer-box {
    flex: 0 0 calc(25% - 24px);
    max-width: calc(25% - 24px);
    box-sizing: border-box;
  }
}

/* Plain Simple */
.offer-box.plain-simple .offer-box-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
}

.offer-box.plain-simple .offer-box-header > div > span.icon {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.offer-box.plain-simple .offer-box-header * {
  margin-bottom: 0;
}

/* Big Icon */
.offer-box.big-icon {
  height: fit-content;
  padding: 12px;
}

.offer-box.big-icon span.icon {
    height: 100%;
    width: 328px;
    margin: unset;
}

.offer-box.big-icon .offer-box-header {
  justify-content: flex-start;
  align-items: center;
}

.offer-box.big-icon .offer-box-header > div:has(.icon) {
  margin: 0;
  height: 113px;
  width: 109px;
}

.offer-box.big-icon p.button-container {
    margin: 0;
}

.offer-box.big-icon .head-copy > p {
  margin: 0;
}

.offer-box.big-icon hr {
    margin: 16px auto;
}

@media screen and (min-width: 992px) {
  .offer-box.big-icon span.icon {
      height: 100%;
      width: 109px;
  }
}

@media screen and (min-width: 992px) {
  .section.offer-with-text.offer-box-container.two-columns > div.default-content-wrapper {
      display: flex;
      flex-direction: column;
      width: 85%;
      margin: unset;
      padding: unset;
  }

  .section.offer-box-container.two-columns > div.default-content-wrapper {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
  }

  .section.offer-with-text {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: 2rem auto;
    padding: 0 1.5rem;
    max-width: var(--section-width);
  }
}

/* Alternate 1 */
.offer-box.alternate-1 p:has(a) {
  margin: 0;
}

.offer-box.alternate-1 p > * {
  width: 100%;
}

.offer-box.alternate-1 p.button-container a {
  width: 100%;
}

.offer-box.alternate-1 div:has(a):nth-of-type(1) {
  padding-top: 16px;
}

.offer-box.alternate-1 div:has(a):nth-of-type(1) p a {
  margin-top: 0;
}