.offer-box {
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
    padding: 2rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer-box-container > div.offer-box-header {
    display: flex;
    align-items: center;
}

.offer-box-container.alternate-1 > div.offer-box-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer-box-container.big-icon > div.offer-box-header {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.offer-box.three-col > div.offer-box-header > div {
    width: 50%;
}

.block.offer-box.alternate-2 .offer-box-header > div {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}

.offer-box.plain-simple > div.offer-box-header .icon-with-heading {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
    height: 100%;
    min-height: 100%;
}

.offer-box.plain-simple > div.offer-box-header {
    height: 25%;
    min-height: 25%;
}

.offer-box.three-col > div.offer-box-header > div:first-of-type {
    width: 25%;
}

.offer-box.three-col > div.offer-box-header > div:last-of-type {
    width: 25%;
}

.block.offer-box-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.block.offer-box.alternate-2 {
    justify-content: space-between;
}

.block.offer-box.alternate-2 .offer-box-header .icon {
    max-width: 6rem;
    max-height: 6rem;
    width: auto;
    height: auto;
}

.block.offer-box.plain-simple .offer-box-header .icon-with-heading .icon {
    max-width: 6rem;
    max-height: 100%;
    width: auto;
    height: 100%;
}

.block.offer-box.plain-simple {
    height: fit-content;
}

.block.offer-box.alternate-2 .offer-box-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30%;
}

.block.offer-box.plain-simple .offer-box-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 30%;
}


.block.offer-box.alternate-2 .offer-box-row h3 {
    min-width: 35%;
    width: 35%;
}

.block.offer-box.plain-simple .offer-box-row h3 {
    min-width: 35%;
    width: 35%;
}

.offer-box h2 {
    font-size: 2rem;
    color: var(--color-blue);
    padding-left: 1rem;
}

.block.offer-box.alternate-2 div.offer-box-row:nth-child(2) {
    border-top: .0625rem solid var(--color-light-silver);
    margin: 1rem 0;
}

.block.offer-box.alternate-2 div.offer-box-row:last-child p a {
    background-color: var(--color-yellow);
    border-color: var(--color-yellow);
    color: var(--color-black)
}

.block.offer-box.alternate-2 .offer-box-header .icon-with-heading h1, 
.block.offer-box.plain-simple .offer-box-header .icon-with-heading h1,
.block.offer-box.alternate-2 .offer-box-header .icon-with-heading h2,
.block.offer-box.plain-simple .offer-box-header .icon-with-heading h2,
.block.offer-box.alternate-2 .offer-box-header .icon-with-heading h3,
.block.offer-box.plain-simple .offer-box-header .icon-with-heading h3,
.block.offer-box.alternate-2 .offer-box-header .icon-with-heading h4,
.block.offer-box.plain-simple .offer-box-header .icon-with-heading h4 {
    width: 75%;
    font-size: 3rem;
    line-height: 3.2rem;
    font-weight: 600;
}

.block.offer-box.alternate-2 .offer-box-header .promotion-with-text .text-with-badge {
    flex-direction: column;
    justify-items: flex-start;
    background: #ffc62b;
    border-radius: .5rem;
    color: #000;
    display: inline-block;
    font-size: .75rem;
    font-weight: 600;
    min-width: 6rem;
    padding: .5rem;
    text-align: center;
    text-transform: uppercase;
    width: 6rem;
}


.offer-box .offer-box-list-container p {
    margin-bottom: 1.5rem;
}

.offer-box.alternate-1 .offer-box-list-container p {
    font-size: 1rem;
    font-weight: 700;
}

.block.offer-box.alternate-2 .offer-box-header .promotion-with-text .text-with-badge > p:nth-child(2) {
    font-size: 1.5rem;
}

.block.offer-box.alternate-2 .offer-box-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    text-align: left;
    border-bottom: .0625rem solid var(--color-light-silver);
}

.block.offer-box.alternate-2 .offer-box-row ul {
    padding-left: 25px;
    height: 100%;
}

.offer-box hr {
    border-bottom: 1px solid #b2b1b1;
    opacity: .25;
    margin: 1rem 0;
}

.offer-box .offer-box-list-container li {
    padding-bottom: 1rem;
}

.offer-box a.button.primary {
    width: 100%;
}

.offer-box.big-icon .head-copy {
    display: none;
}

.offer-box span.icon {
    width: 100%;
    height: 40px;
}

.offer-box.big-icon span.icon {
    height: 100%;
    width: 328px;
    margin: unset;
}

.offer-box.alternate-1 span.icon {
    width: 100%;
    height: auto;
    margin: unset;
}

.offer-box.alternate-1 .head-copy {
    order: 3;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: .75rem;
}

.offer-box.alternate-1 hr {
    display: none;
}

.offer-box.alternate-1 .offer-box-list-container {
    order: 4;
}

.section.offer-box-container.two-columns > div.default-content-wrapper, .section.offer-box-container.three-columns > div.offer-box-wrapper {
    display: flex;
    flex-direction: column;
}

.section.offer-box-container.two-columns > div.default-content-wrapper > div, .section.offer-box-container.three-columns > div.offer-box-wrapper > div.offer-box-container {
    width: 100%;
}

@media screen and (min-width: 992px) {
    .section.two-column-offer .offer-box-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    .section.two-column-offer .offer-box {
        width: 50%;
    }

    .block.offer-box-wrapper {
        display: flex;
        flex-direction: row;
    }

    .section.three-column-offer .offer-box-wrapper, .section.offer-box-container.three-columns > div.offer-box-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        flex-direction: row;
    }

    .section.three-column-offer .offer-box, .section.offer-box-container.three-columns > div.offer-box-wrapper > div.offer-box-container {
        width: 33%;
    }

    .section.offer-box-container.two-columns > div.default-content-wrapper {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;
    }

    .section.offer-box-container.two-columns > div.default-content-wrapper > div {
        width: 50%;
    }

    .offer-box.big-icon span.icon {
        height: 100%;
        width: 109px;
    }
}
