/* search box */
.search .search-box {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1ch;
  align-items: center;
  border-radius: 0;
  border: 1px solid var(--color-black);
  margin-left: 5rem;
  margin-right: 7rem;
  margin-bottom: 1.5rem;
  height: 2.5rem;
  padding: 0 12px;
}

.search .search-box span {
  padding: 10px 5px;
  padding-right: 30px;
}

.search .search-box span:hover {
  cursor: pointer;
}

.block.search ul li a {
  grid-area: second;
}

.search ul li h4 {
  grid-area: first;
}

.search ul li p {
  grid-area: third;
}

.block.search ul li {
  display: grid;
  column-gap: 1rem;
  grid-template:
  [row1-start] "first second" [row1-end]
  [row2-start] "third third" [row2-end] / auto 10rem;
  border-bottom: 1px solid var(--color-gray);
}

.search .search-box input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.5em;
  background-color: transparent;
  border: 0;
  color: var(--text-color);
  font-size: var(--body-font-size-s);
  user-select: none;
}

.search .search-box input:focus {
  outline: none;
}

.search .search-box input::-webkit-search-cancel-button {
  appearance: none;
}

.search .search-box button {
    font-family: none;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: none;
    line-height: none;
    text-align: none;
    font-style: none;
    font-weight: none;
    color: none;
    text-overflow: ellipsis;
}

.search .icon.icon-search {
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
}

/* search results */
.search ul.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  gap: 24px;
  padding-left: 0;
  list-style: none;
}

.search ul.search-results > li {
  border: 1px solid #dadada;
}

.search ul.search-results > li > a {
  display: block;
  height: 100%;
  background-color: transparent;
  color: currentcolor;
  cursor: pointer;
}

.search ul.search-results > li > a:hover,
.search ul.search-results > li > a:focus {
  text-decoration: none;
}

.search ul.search-results > li .search-result-title,
.search ul.search-results > li p {
  padding: 0 16px;
}

.search ul.search-results > li .search-result-title {
  font-size: var(--body-font-size-m);
  font-weight: normal;
}

.search ul.search-results > li .search-result-title a {
  color: currentcolor;
  text-decoration: none;
}

.search ul.search-results > li p {
  font-size: var(--body-font-size-s);
}

.search ul.search-results > li .search-result-image {
  aspect-ratio: 4 / 3;
}

.search ul.search-results > li picture img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* no results */
.search ul.search-results.no-results {
  display: block;
  margin-left: 34px;
}

.search ul.search-results.no-results > li {
  border: none;
}

/* minimal variant */
.search.minimal ul.search-results {
  display: block;
  padding-left: 34px;
}

.search.minimal ul.search-results > li {
  position: relative;
  border: none;
}

.search.minimal ul.search-results > li .search-result-title,
.search.minimal ul.search-results > li p {
  padding: unset;
}

.search.minimal ul.search-results > li .search-result-title a {
  color: var(--link-color);
}

/* stylelint-disable no-descending-specificity */
.search.minimal ul.search-results > li > a {
  background-color: unset;
}

.search.minimal ul.search-results > li > a:hover a,
.search.minimal ul.search-results > li > a:focus a {
  text-decoration: underline;
  color: var(--link-hover-color);
}

.search.minimal ul.search-results > li .search-result-image {
  position: absolute;
  top: 2px;
  left: -34px;
}

.search.minimal ul.search-results .search-result-title + p {
  margin-top: 0.25em;
}

.search.minimal ul.search-results > li picture img {
  height: 24px;
  width: 24px;
  border-radius: 50%;
}

div.search-wrapper > ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1rem;
}

div.search-wrapper > ul > li {
    border-bottom: 1px solid var(--color-gray);
    margin-bottom: .75rem;
    padding-bottom: .75rem;
}

div.search-wrapper > ul.pagination-controls > li {
    border-bottom: unset;
    margin-bottom: unset;
    padding-bottom: unset;
}

div.search-wrapper > ul.pagination-controls > li:first-of-type {
    margin-left: auto;
}

div.search-wrapper > ul > li  h4 {
    font-size: 1rem;
}

div.search-wrapper > ul > li span.date-published {
    font-size: .75rem;
}

div.search-wrapper ul.pagination-controls {
    display: flex;
    flex-direction: row;
    list-style: none outside none;
}

.fa-chevron-left::before {
    content: "ï“";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    margin-right: 8px;
}

.fa-chevron-right::after {
    content: "ï”";
    font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
    margin-left: 8px;
}

div.search-wrapper ul.pagination-controls li > button:disabled {
    border: unset;
    background-color: unset;
    color: rgb(16 16 16 / 30%);
    margin-right: .5rem;
    font-size: inherit;
}

div.search-wrapper ul.pagination-controls li > button:enabled {
    border: unset;
    background-color: unset;
    color: rgb(16 16 16 / 30%);
    margin-right: .5rem;
    font-size: inherit;
}

div.search-wrapper ul.pagination-controls li > button:not(:disabled) {
    border: unset;
    background-color: unset;
    color: unset;
    margin-right: .5rem;
}

@media (min-width: 992px /* breakpoint-l */) {
    div.search-wrapper > ul:not(.pagination-controls) > li {
        display: grid;
        grid-template:
            [row1-start] "first image" [row1-end]
            [row2-start] "second image" [row2-end]
            [row2-start] "third image" [row2-end] / auto 10rem;
        column-gap: 1rem;
        grid-template-areas:
            "first image"
            "second image"
            "third image";
    }

    div.search-wrapper > ul > li > a {
        grid-area: image;
    }
}
