main .section.faq-container > div {
  padding: 0 24px;
}

@media screen and (min-width: 992px) {
  main .section.faq-container > div {
    max-width: 1440px;
    padding: 0 150px;
  }
}

main .section.faq-container > .faq-wrapper {
  margin-top: 0;
}

main:has(.section.two-column.full-width) div.faq-container div {
  max-width: 100%;
}

.faq {
  padding: 0;
  margin-bottom: 40px;
}

.faq-plain {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  text-align: left;
  border-bottom: .0625rem solid var(--color-light-silver);
}

.faq-plain:first-child {
  border-top: .0625rem solid var(--color-light-silver);
}

.section.cyan-border .faq-plain {
  border-bottom: .0625rem solid var(--color-secondary-3)
}

.section.cyan-border .faq-plain:first-child {
  border-top: .0625rem solid var(--color-secondary-3);
}

.faq details {
  border-bottom: 1px solid var(--color-grey200);
}

.faq details:hover:not(.open) {
  border-bottom: none;
}

/* stylelint-disable-next-line no-descending-specificity */
.faq details + details {
  border-top: none;
  border-bottom: 1px solid var(--color-grey200);
}

.faq details summary {
  position: relative;
  padding: 24px 56px 24px 16px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
}

@media screen and (min-width: 992px) {
  .faq details summary {
    padding-right: 48px;
  }
}

.faq details[open] summary {
  padding: 24px 56px 24px 16px;
}

.faq details summary:hover {
  background-color: var(--color-anti-flash-white);
  border-radius: 12px;
  border-bottom: 1px solid var(--color-grey200);
}

.faq details summary:focus-visible {
  border-radius: 8px;
  border-bottom: 1px solid var(--color-grey200);
  background: var(--color-white);
  box-shadow: 0 0 0 2px var(--color-primary-1);
  outline-color: var(--color-primary-1);
}

.faq details summary::-webkit-details-marker {
  display: none;
}

.faq details summary p {
  color: var(--color-secondary-5);
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-default);
  line-height: 16px;
}

@media screen and (min-width: 992px) {
  .faq details summary p {
    font-size: var(--body-font-size-l);
    font-weight: 600;
    line-height: 30px;
  }
}

.faq details summary span {
  position: absolute;
  right: 16px;
  top: 40%;
  width: 24px;
  height: 24px;
  background-image: url('/icons/plus-sign.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  transition: background-image 0.3s ease;
}

.faq-item.open summary span {
  background-image: url('/icons/minus-sign.svg');
}

.faq details[open] summary span::after {
  transform: rotate(90deg);
}

.faq details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

/* Initial state of the .faq-item-body */
.faq-item-body {
  max-height: 0;
  overflow: hidden;
}

/* Keyframes for opening animation */
@keyframes open-animation {
  from {
    padding: 2px 8px 8px;
    max-height: 0;
  }

  to {
    padding: 2px 16px 16px;
    max-height: 5000vh;
  }
}

/* Keyframes for closing animation */
@keyframes close-animation {
  from {
    padding: 2px 16px 16px;
    max-height: 5000vh;
  }

  to {
    padding: 2px 8px 8px;
    max-height: 0;
  }
}

/* Applying keyframes when the details element is opened */
.faq-item.open .faq-item-body {
  display: flex;
  flex-direction: column;
  gap: 24px;
  animation: open-animation .3s ease-in-out forwards;
}

/* Applying keyframes when the details element is closed */
.faq-item.close .faq-item-body {
  animation: close-animation .3s ease-in-out forwards;
}

.faq details[open] .faq-item-body p {
  margin-bottom: 8px;
}

.faq details[open] .faq-item-body p > a {
  text-decoration: underline;
}

.faq-container .default-content-wrapper {
  margin-bottom: 1.5rem;
}

.faq-container .default-content-wrapper:last-child {
  margin-bottom: 1rem;
}

main:has(.section.two-column.shredded-paper-background-column) div.faq-wrapper,
main:has(.section.two-column.hard-drive-background) div.faq-wrapper,
main:has(.section.shredded-paper-background) div.faq-container div.faq-wrapper{
  margin: 0 2rem;
}

main:has(.section.shredded-paper-background) .faq-container .default-content-wrapper,
main:has(.section.two-column.shredded-paper-background-column) .faq-container:has(.plain) .default-content-wrapper,
main:has(.section.two-column.hard-drive-background) .faq-container:has(.plain) .default-content-wrapper {
  margin: 2rem;
}

@media screen and (min-width: 992px) {
  .faq-container .default-content-wrapper {
    margin-bottom: 1.5rem;
  }
}

.faq-container .default-content-wrapper > h2 {
  color: var(--color-primary-1);
  font-size: var(--body-font-size-l);
  line-height: 1.625rem;
  letter-spacing: -.0009rem;
  margin-bottom: .5rem;
  padding: 0;
}

@media screen and (min-width: 992px) {
  .faq-container .default-content-wrapper h2 {
    color: var(--color-primary-1);
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 2.375rem;
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.faq-container .default-content-wrapper > p {
  font-size: var(--body-font-size-xxs);
  line-height: .875rem;
  letter-spacing: 0.01px;
  padding: 0 12px;
}

@media screen and (min-width: 992px) {
  .faq-container .default-content-wrapper p {
    font-size: var(--body-font-size-default);
    line-height: 1.25rem;
  }
}

@media screen and (min-width: 992px) {
  .faq-plain {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    text-align: left;
    border-bottom: .0625rem solid var(--color-light-silver);
  }

  .faq-plain:first-child {
    border-top: .0625rem solid var(--color-light-silver);
  }

  .section.cyan-border .faq-plain {
    border-bottom: .0625rem solid var(--color-secondary-3)
  }

  .section.cyan-border .faq-plain:first-child {
    border-top: .0625rem solid var(--color-secondary-3);
  }

  .faq-plain > div:first-child {
    width: 25%;

  }

  .faq-plain div:nth-child(2){
    width: 65%;
  }

  .section.faq-container.flex-row {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: var(--section-width);
    margin: 0 auto;
    padding: 0 1.5rem;
  }

  .section.faq-container.flex-row > div  {
    width: 40%;
  }

  .section.faq-container.flex-row > div:first-of-type {
    margin: unset;
    padding: unset;
  }

  .section.faq-container.flex-row > div:last-of-type {
    padding: unset;
  }
}
