body.modal-open {
  overflow: hidden;
}

.modal dialog::backdrop {
  background-color: rgb(19 19 19 / 75%);
}

.modal dialog {
  overscroll-behavior: none;
  overflow-y: hidden;
  position: fixed;
  width: calc(100vw - 48px);
  max-width: 900px;
  max-height: calc(100dvh - (2 * var(--header-height)));
  padding: 0;
  border: 1px solid var(--dark-color);
}

.modal dialog .modal-content {
  box-sizing: border-box;
  overflow-y: auto;
  overscroll-behavior: none;
  width: 100%;
  max-height: calc(100dvh - (2 * var(--header-height)) - 48px);
  padding: 0;
  margin:0;
}

/* stylelint-disable-next-line media-feature-range-notation */
@media (width >= 900px) {
  .modal dialog {
    width: calc(100vw - 64px);
  }

  .modal dialog .modal-content {
    max-height: calc(100dvh - (2 * var(--header-height)) - 64px);
    padding: 0;
  }
}

.modal .close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0;
  background-color: transparent;
  color: var(--color-dark-gray);
  line-height: 0;
}

.modal .close-button .icon.icon-close {
  content: '';
  width: 24px;
  height: 24px;
}

.modal .close-button .icon.icon-close::before,
.modal .close-button .icon.icon-close::after {
  content: '';
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background-color: currentcolor;
}

.modal .close-button .icon.icon-close::after {
  transform: translate(-50%, -50%) rotate(-45deg)
}

.modal dialog .section {
  padding: 0;
  margin:0;
}

.modal dialog .modal-content form .fragment-wrapper p{
  font-size: 1rem;
}

.modal .modal-content .image > div.default-content-wrapper {
  margin: 0;
  padding: 0;

  > a > p {
    margin-bottom: 0;
  }
}

.modal dialog .modal-content form .fragment-wrapper[data-id^='privacy-policy']  p,
.modal dialog .modal-content form .fragment-wrapper[data-id^='privacypolicy']  p,
.modal dialog .modal-content form .fragment-wrapper[data-id^='policy']  p{
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

@media (max-width: 768px) {
  .modal .modal-content form fieldset.panel-wrapper {
    gap: unset;
  }

  .modal dialog .modal-content {
    padding: 0;
    margin:0;
  }

  .modal dialog .modal-content form {
    column-gap: unset;
  }

  .modal dialog  {
    max-width: none;
    width: calc(100vw - 16px);
    max-height: calc(100dvh - 16px);
  }
}

.modal dialog h6 {
  font-size: 1rem;
}

.modal dialog form {
  row-gap: 0.2rem;
}

.modal dialog form .checkbox-wrapper {
  padding-top:0.4rem;
}

.modal dialog .modal-content .form-container {
  width: 100%;
}

.modal .modal-content .default-content-wrapper {
  margin-bottom: 0;
}

.modal .modal-content .form-wrapper {
  margin-top: 0;
}
