footer {
  padding: 2rem 0.8rem;
  background-color: var(--color-blue);
  font-size: var(--body-font-size-s);
  color: var(--color-white);
}
@media screen and (min-width: 992px) {
  footer {
    padding: 80px 0 64px 0;
  }
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

@media screen and (min-width: 992px) {
  footer .footer {
    max-width: 936px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1400px) {
  footer .footer {
    max-width: 990pt;
  }
}

footer .footer p {
  margin: 0;
}

@media screen and (min-width: 576px) {
  footer .default-content-wrapper {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  footer .default-content-wrapper {
    max-width: 45pc;
  }
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 100%;
  }
}

footer .default-content-wrapper p:first-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:first-child {
    grid-area: 1 / 1 / 2 / 3;
  }
}

footer .default-content-wrapper p:first-child img {
  width: 200px;
  height: auto;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:first-child img {
    width: 180px;
  }
}

footer .default-content-wrapper p:nth-child(n+3)  {
  font-family: var(--content-font-family);
  font-size: .75rem;
  line-height: .9375rem;
  letter-spacing: .000625rem;
  text-align: center;
  margin-bottom: 32px;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:nth-child(n+3) {
    text-align: left;
  }

}

footer .default-content-wrapper p:nth-of-type(3):has(picture) {
  border-top: 1px solid white;
  padding-top: 32px;
  border-bottom: 1px solid white;
  padding-bottom: 73px;
  margin-bottom: 48px;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:nth-of-type(3):has(picture) {
    grid-area: 2 / 5 / 3 / 6;
    padding: 0 0 0 2.8rem;
    border:none;
    margin: 0;
  }
}

footer .default-content-wrapper p:nth-of-type(2) {
  display: none;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:nth-of-type(2) {
    display: flex;
    height: fit-content;
    grid-area: 1 / 3 / 2 / 6;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 5px;
  }

  footer .default-content-wrapper p:nth-of-type(2) a {
    font-size: 1.125rem;
    line-height: 2.25rem;
    letter-spacing: normal;
  }

  footer .default-content-wrapper p:nth-of-type(2) picture {
    padding-left: 24px;
    line-height: 2.25rem;
    display: flex;
    align-items: center;
    height: 36px;
  }

  footer .default-content-wrapper p:nth-of-type(2) picture img {
    transform: rotate(-45deg);
    width: 20px;
    height: 20px;
  }
}

footer .default-content-wrapper p:nth-of-type(4) {
  padding-top: 48px;
  border-top: 1px solid #5492c8;
  margin-top: 20px;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:nth-of-type(4) {
    font-size: .875rem;
    line-height: 1.125rem;
    grid-area: 3 / 1 / 4 / 6;
    margin-top: 96px;
  }

  footer .default-content-wrapper p:nth-of-type(5) {
    font-size: .875rem;
    line-height: 29px;
    grid-area: 4 / 1 / 5 / 6;
    margin-bottom: 16px;
  }
}

footer .default-content-wrapper p:nth-of-type(3):has(picture) img {
  width: 100%;
  height: 100%;
}

footer .default-content-wrapper a {
  font-family: var(--content-font-family);
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: .000625rem;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper p:nth-of-type(4) a {
    font-size: .875rem;
    line-height: 1.125rem;
  }
}

footer .default-content-wrapper > ul {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-accordion-container {
    grid-area: 2 / 1 / 3 / 5;
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-accordion-container li.footer-accordion {
    padding: 0 2.8rem;
  }
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-accordion-container li.footer-accordion:first-child {
    padding-left: 0;
  }
}

footer .default-content-wrapper ul.footer-ul-2 {
  text-align: center;
  line-height: 14px;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-ul-2 {
    grid-area: 5 / 1 / 6 / 5;
    text-align: left;
  }
}

footer .default-content-wrapper ul.footer-ul-2 > li {
  display: inline;
}


footer .default-content-wrapper ul.footer-ul-2 li > a{
  padding-right: 1rem;
  border-right: 1px solid;
  margin-right: 1rem;
  font-size: .75rem;
  line-height: .9375rem;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-ul-2 li > a {
    font-size: .875rem;
    line-height: 29px;
  }
}

footer .default-content-wrapper ul.footer-ul-2 li:last-child > a {
  border-right: none;
  margin-right: 0;
  padding-right: 0;
}

footer .default-content-wrapper ul.footer-ul-3 {
  display: flex;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row nowrap;
  margin: 48px auto 32px auto;
}

@media screen and (min-width: 992px) {
  footer .default-content-wrapper ul.footer-ul-3 {
    grid-area: 5 / 5 / 6 / 6;
    margin: 0;
    justify-content: flex-end;
    gap: 3rem;
  }
}

footer .default-content-wrapper ul li a, footer a {
  color: var(--color-white) !important;
}

footer ul[role='list'], ol[role='list'], li {
  list-style: none;
}

/* Footer accordion styles */

.footer-accordion-content-wrapper {
  overflow: hidden;
  height: 0;
  margin: 0;
  visibility: hidden;
  box-sizing: border-box;
  transition: height .5s ease, visibility 0s .5s linear, padding .75s ease;
  padding: 0;
  border-bottom: 1px solid var(--color-white);
}

.footer-accordion-content-wrapper.active {
  transition: height .5s ease, padding .75s ease;
  visibility: visible;
  padding: 0 0 40px 0;
}

.footer-accordion-content {
  margin: 0;
  padding: 0 1rem;
}

.footer-accordion-link-wrapper, .footer-accordion-content-wrapper {
  border-bottom: none;
}

.footer-accordion-content > li > ul {
  padding-left: 20px;
  margin: 0;
}

.footer-accordion-content-wrapper img {
  display: none;
}

@media screen and (min-width: 992px) {
  .footer-accordion-content-wrapper img {
    display: inline;
    max-width: 100%;
    height: auto;
  }

  .footer-accordion-content-wrapper .nav-feature img {
    width: auto;
    max-height: 100%;
  }
}

@media screen and (min-width: 992px) {
  .footer-accordion-content-wrapper,
  .footer-accordion-content-wrapper.active {
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 0 30px;
    display: flex;
    justify-content: center;
  }

  .footer-accordion-content-wrapper {
    opacity: 1;
    visibility: visible;
  }

  .footer-accordion-content-inner-wrapper {
    display: flex;
    max-width: 1600px;
    justify-content: center;
    width: 100%;
  }

  .footer-accordion-content-with-feature {
    padding: 30px 30px 30px 0;
    min-width: 220px;
  }

  /* Designers */
  .footer-accordion-content:not(.footer-accordion-content-with-feature, .footer-accordion-content-with-fragment) {
    padding: 40px 50px;
    min-width: 100%;
    columns: 4;
  }

  .nav-feature {
    padding: 30px 0;
    width: 80%;
  }

}

.footer-accordion-link-wrapper:first-child {
  border-top: 1px solid var(--color-white);
}

@media screen and (min-width: 992px) {
  .footer-accordion-link-wrapper:first-child {
    border-top: none;
  }
}

/* .footer-accordion:last-child .footer-accordion-link-wrapper {
  border-bottom: 1px solid var(--color-white);
} */

.footer-accordion-link-wrapper {
  width: 100%;
  display: flex;
  text-decoration: unset;
  background: none;
  border: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  color: var(--color-outer-space);
  cursor: pointer;
  padding: 16px 0;
  font-family: lato-regular, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  letter-spacing: .000625rem;
  pointer-events: all;
}

.footer-accordion-link-wrapper:first-child a {
  width: fit-content;
}

.footer-accordion-link-wrapper a {
  padding: 16px 0 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-outer-space) !important;
  letter-spacing: .7px;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .footer-accordion-link-wrapper {
    display: inline;
    text-decoration: unset;
    border-bottom: none;
    color: var(--color-outer-space);
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.2px;
    /* white-space: nowrap; */
    text-transform: uppercase;
    cursor: text;
  }

  .footer-accordion-link-wrapper a {
    padding: 16px 0 12px;
    display: block;
    font-size: .875rem !important;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 1.5rem !important;
    font-weight: 700;
  }
}

.footer-accordion-link-wrapper button.footer-accordion-button {
  font-size: 24px;
  font-weight: 200;
  width: fit-content;
  padding: 0;
  background-color: transparent;
  border: none;
  margin: 0;
}

.footer-accordion-link-wrapper .footer-accordion-button-icon {
  font-family: lato-regular, sans-serif;
  font-size: 1.2rem;
}

@media screen and (min-width: 992px) {
  .footer-accordion-link-wrapper button.footer-accordion-button {
    display: none;
  }
}

.footer-accordion-content-wrapper span {
  padding: 16px 0 12px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-outer-space) !important;
  letter-spacing: .7px;
  text-transform: uppercase;
  width: 100%;
}

@media screen and (min-width: 992px) {
  .footer-section .site-menu-footer {
    display: flex;
    width: 100%;
    margin: 0 !important;
  }
}

.footer-section .site-menu-footer > li {
  padding: 20px 0 !important;
}

@media screen and (min-width: 992px) {
  .footer-section .site-menu-footer > li {
    position: relative;
    margin: 0 35px;
    padding: 0 !important;
  }

    .footer-section .site-menu-footer > li:last-child {
      margin-right: 0;
    }
}

.footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul {
  margin: 0;
}

@media screen and (min-width: 992px) {
  .footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul {
    padding: 0;
    display: flex;
    flex-flow: column;
    gap: 16px;
  }
}

.footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul > li {
  margin: 0 0 16px 0;
}

@media screen and (min-width: 992px) {
  .footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul > li {
    margin: 0;
  }
}

.footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul > li > a {
  padding: 0 !important;
  text-transform: unset;
  height: 16.5px;
  display: block;
  line-height: .9375rem;
}

@media screen and (min-width: 992px) {
  .footer-accordion-content-wrapper > .footer-accordion-content-inner-wrapper > ul > li > a {
    font-size: .875rem;
    height: 100%;
    line-height: 1.5rem;
  }
}

@media screen and (min-width: 992px) {
  .footer-accordion .footer-accordion-content-wrapper {
    position: static;
    padding: 0;
  }
}