main .section.two-column.form-container.icon-list-container > div.form-wrapper {
    grid-row: 3;
}

div.icon-list > div > div > p:has(> span) {
    height: 100%;
    width: 100%;
}

div.icon-list-container:not(.blue-headings) h2, div.icon-list-container:not(.blue-headings) p {
    color: var(--color-white);
}

div.icon-list.plain h2, div.icon-list.plain p {
    color: var(--color-black);
}

div.icon-list.block {
    display: flex;
    flex-wrap: wrap;
}

div.icon-list > div {
    width: 100%;
    display: flex;
    flex-direction: row;
}

div.icon-list > div > div {
    height: 6rem;
    vertical-align: middle;
    margin-bottom: 1rem;
}

div.icon-list > div > div span {
    height: 3.75rem;
    width: 3.75rem;
}

main div.icon-list.plain > div > div span {
    height: 5rem;
    width: 5rem;
}

div.icon-list > div > div:first-of-type {
    width: 33%;
}

div.icon-list > div > div:last-of-type {
    width: 66%;
    color: var(--color-white);
}

div.icon-list > div > div:nth-of-type(2) {
    border-left: 4px solid #ff5633;
    display: flex;
    align-items: center;
}

div.icon-list.vertical > div > div:nth-of-type(2) {
    border-left-color: var(--color-accent-2);
}

div.icon-list.plain > div > div:first-of-type {
    width: 33%;
    height: 5rem;
    padding: unset;
    margin: unset;
}

div.icon-list.plain > div > div:nth-of-type(2) {
    display: flex;
    height: fit-content;
    align-items: start;
    border-left: unset;
    flex-direction: column;
}

div.icon-list:not(.plain) > div > div:nth-of-type(2) p {
    padding-left: 1rem;
}

div.section.fragment-container.icon-list-container > div.fragment-wrapper {
    margin-top: unset;
    margin-bottom: unset;
}

.section.flex-row div.icon-list > div > div:first-of-type {
    width: 25%;
}

.section.flex-row div.icon-list > div > div:nth-of-type(2) {
    border-left: 4px solid #ff5633;
    display: flex;
    align-items: center;
    height: 70%;
}

.section.flex-row div.icon-list.vertical > div > div:nth-of-type(2) {
    border-left-color: var(--color-accent-2);
}

.section.flex-row div.icon-list.vertical > div > div:nth-of-type(2) {
    border-left-color: var(--color-accent-2);
}

.section.flex-row {
    max-width: var(--section-width);
    margin: 2rem auto;
    padding: 0 1.5rem;
}

@media (min-width: 992px) {
    main .section.two-column.form-container.icon-list-container > div.form-wrapper {
        grid-row: 1 / span 4;
    }

    main .two-column.form-container.icon-list-container:has(.vertical) {
        padding: 40px;
        grid-template-columns: minmax(0, 700px) minmax(0, 561px);
        justify-content: space-between;
    }

    main .two-column.form-container.icon-list-container:has(.vertical) > div:first-child {
        margin-bottom: 80px;
    }

    div.icon-list.plain.block {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.icon-list.block.vertical {
        flex-direction: column;
        gap: 32px;
    }

    div.icon-list > div {
        width: 33%;
        display: flex;
        flex-direction: row;
        flex: 0 0 50%;
    }

    div.icon-list.block.vertical > div {
        width: 100%;
        flex-direction: row;
    }

    div.icon-list.split-firstthird > div {
        flex: 0 0 33%;
    }

    div.icon-list.block.vertical > div > div:first-of-type {
        width: fit-content;
        margin: 0;
    }

    div.icon-list.block.vertical > div > div:nth-of-type(2) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        height: fit-content;
        padding-left: 24px;
        width: 100%;
        margin: 0;
    }

    div.icon-list.block.vertical > div > div:nth-of-type(2) > * {
        padding: 0;
    }

    div.icon-list.vertical p:has(> span.icon) {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 24px;
    }

    div.icon-list.vertical p span.icon {
        width: 103px;
        height: 41.963px;
    }

    div.icon-list.plain > div {
        width: 100%;
        align-content: start;
    }

    .section.icon-list-container.flex-row {
        display: flex;
        flex-direction: row;
    }

     .section.icon-list-container.flex-row > .default-content-wrapper {
         align-self: center;
     }

     .section.flex-row .icon-list:not(.plain) > div {
        flex: 0 0 45%;
    }
}

@media (min-width: 1500px) {
    .section.flex-row .icon-list:not(.plain) > div {
        flex: 0 0 35%;
    }
}