.simple-cta {
  background: var(--color-primary-1);
  margin-bottom: 48px;
  padding: 2rem;
}

.simple-cta.alt {
  background: unset;
}

.simple-cta.alt > div > div.simple-cta-img-col img {
  width: 100%;
}

.simple-cta > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

main .section.simple-cta-container > div {
  padding: 0 1.5rem;
}

.simple-cta > div > div:first-of-type {
  width: 100%;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .simple-cta > div > div:first-of-type {
    width: 75%;
    flex: 0 0 auto;
  }
}

.simple-cta > div > div:first-of-type > h4 {
  color: var(--color-white);
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  letter-spacing: 0.0008rem;
  font-weight: var(--lato-bold);
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .simple-cta > div > div:first-of-type > h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 0;
  }
}

.simple-cta > div > div:last-of-type {
  width: 100%;
}

.simple-cta.alt a.button {
  width: 100%;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .simple-cta > div > div:last-of-type {
    width: 25%;
    flex: 1 0 0;
  }

  .simple-cta.alt a.button {
    width: 33%;
  }

  .simple-cta.alt > div > div.simple-cta-img-col {
    width: 33%;
  }

  .simple-cta.alt > div > div:last-of-type {
    width: 77%;
    margin-left: 8.3%;
  }

  .simple-cta > div > div.button-container a {
    background-color: var(--color-button-primary);
    border-color: var(--color-button-primary);
    color: var(--color-text);
    width: 100%;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
  }
}

.simple-cta > div > div.button-container a {
  font-size: 1rem;
  border-width: 2px;
  font-weight: var(--lato-bold);
  padding: 0 12px;
}
