/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fallback fonts */
/* stylelint-disable no-descending-specificity */
@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 100.88%;
  descent-override: 21.77%;
  line-gap-override: 0.00%;
  size-adjust: 97.84%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 108.48%;
  descent-override: 23.41%;
  line-gap-override: 0.00%;
  size-adjust: 90.98%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 106.32%;
  descent-override: 22.95%;
  line-gap-override: 0.00%;
  size-adjust: 92.83%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Arial Bold Italic');
  ascent-override: 114.18%;
  descent-override: 24.64%;
  line-gap-override: 0.00%;
  size-adjust: 86.44%;
}

/* styles */

:root {
  /* used but not included in the design tokens */
  --color-gray: #f2f6f7;
  --color-light-gray: #ccc;
  --color-medium-gray: #E2E6E7;
  --color-dark-gray: #707271;
  --color-light-silver: #dad6d6;

  /* Design system tokens */
  --color-primary-1: #006CB4; /* Blue */
  --color-primary-2: #133B5C; /* Dark Blue */
  --color-secondary-1: #FF5733; /* Orange */
  --color-secondary-2: #00AB9C; /* Teal */
  --color-secondary-3: #40BBD5; /* Light Blue */
  --color-secondary-4: #FFC62B; /* Yellow */
  --color-secondary-5: #010101; /* Gunmetal */
  --color-tertiary-1: #007FAA;

  /* Greyscale */
  --color-black: #1F1F20; /* Black */
  --color-grey200: #F3F6F7; /* Grey-200 */
  --color-grey500: #53585B; /* Grey-500 */
  --color-white: #FFF; /* White */

  /* UI */
  --color-ui-error: #DC3545; /* Red */
  --color-ui-success: #71CCA3; /* Green */

  /* Alert */
  --color-alert-error: #DC3545;
  --color-alert-warning: #FF5733;

  /* Backgrounds */
  --color-bg-primary: #FFF;
  --color-bg-secondary: var(--color-grey200);
  --color-bg-tertiary: #133B5C;
  --color-accent-1: #006CB4;
  --color-accent-2: #40BBD5;
  --color-accent-3: #FF5733;
  --color-accent-link: #FFC62B;

  /* Interactive */
  --color-border-primary: #006CB4;
  --color-border-secondary: #133B5C;
  --color-border-tertiary: #FF5733;
  --color-icon-primary: #006CB4;
  --color-icon-secondary: #133B5C;
  --color-icon-tertiary: #FFF;
  --color-icon-accent: #40BBD5;
  --color-text-primary: #1F1F20;
  --color-text-secondary: #757982; /* FIX: Previous blue */
  --color-text-tertiary: #fff;
  --color-disabled: #53585B;

  /* functional colors */
  --color-background: var(--color-white);
  --color-background-header: var(--color-bg-tertiary);
  --color-text: var(--color-text-primary);
  --color-heading: var(--color-text-primary);
  --color-link: #0075aa;
  --color-link-hover: var(--color-primary-1);
  --color-button-default: var(--color-primary-1);
  --color-button-primary: var(--color-secondary-4);
  --color-button-secondary: var(--color-text);

  /* fonts */
  --font-family-lato: 'Lato', 'Lato Fallback', sans-serif;
  --font-family-body: var(--font-family-lato);
  --font-family-heading: var(--font-family-body);
  --font-family-footer: var(--font-family-body);
  --font-family-fixed: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --font-family-fa-free: 'Font Awesome 6 Free';

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

  /* body sizes */
  --body-font-size-l: 20px;
  --body-font-size-default: 14px;
  --body-font-size-default-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 24px;
  --heading-font-size-l: 20px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;

  /* icon sizes */
  --icon-size-xs: 10px;
  --icon-size-s: 20px;
  --icon-size-m: 24px;
  --icon-size-l: 32px;
  --icon-size-xl: 60px;
  --icon-size-xxl: 100px;
  --icon-size-xxxl: 3.75rem;

  /* misc */
  --nav-height: 78px;
  --border-radius-s: 4px;
  --border-radius-l: 8px;
  --border-radius-xl: 16px;

  /* break points */
  --breakpoint-s: 576px; /* <= mobile */
  --breakpoint-m: 768px; /* <= tablet */
  --breakpoint-l: 992px;
  --breakpoint-xl: 1200px; /* <= desktop */
  --breakpoint-xxl: 1400px;

  /* content width */
  --content-width-s: 100%;
  --content-width-m: 100%;
  --content-width-l: 100%;
  --content-width-xl: 100%;
  --content-width-xxl: 1760px;
  --content-width-xxxl: 100%;
  --section-width: var(--content-width-s);
  --section-width-xl: 1760px;

  /* Split Columns */
  --split-firstquarter: 25%:75%;
  --split-lastquarter: 100%:0%;
  --split-firstthird: 34%:66%;
  --split-lastthird: 66%:34%;
  --split-firsttwothird: 40%:60%;
  --split-lasttwothird: 60%:40%;

  /* split thirds */
  --split-third: 50%:25%:25%;
}

@media (min-width: 768px /* breakpoint-m */) {
  :root {
    --section-width: var(--content-width-m);
  }
}

@media (min-width: 992px /* breakpoint-l */) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 18px;
    --body-font-size-default: 16px;
    --section-width: var(--content-width-l);
  }
}

@media (min-width: 1200px /* breakpoint-xl */) {
  :root {
    --section-width: var(--content-width-xl);
    --nav-height: 165px;
  }
}

@media (min-width: 1400px /* breakpoint-xxl */) {
  :root {
    --section-width: var(--content-width-xxl);
    --nav-height: 128px;
  }
}

html {
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size-default);
  margin: 0;
  font-family: var(--font-family-body);
  line-height: 1.6;
  background-color: var(--color-background);
  display: none;
}

body.appear {
  display: block;
}

body header {
  position: sticky;
  top: 0;
  height: var(--nav-height);
  z-index: 100;
}

.block.header {
  & .floating-contact {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 3px;
    background-color: var(--color-white);
    z-index: 100;

    & > div {
      flex: 1;

      & > a {
        display: flex;
        gap: 8px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 8px;
        align-items: center;
        justify-content: center;
        background-color: var(--color-button-primary);
        border: none;
        border-radius: 0;
        font-size: var(--body-font-size-s);
        color: var(--color-black);
        font-weight: var(--lato-bold);
      }

      &.sales-contact a::before {
        content: '\f095';
        color: var(--color-black);
        font-family: var(--font-family-fa-free);
        font-size: 16px;
        cursor: pointer;
        font-weight: 900;
        text-align: center;
        transform: rotate(-10deg);
      }

      &.quote-container a::before {
        content: '\f15c';
        color: var(--color-black);
        font-family: var(--font-family-fa-free);
        font-size: 16px;
        cursor: pointer;
        font-weight: 900;
        text-align: center;
      }
    }
  }
}

@media (min-width: 1400px) /* breakpoint-xl */ {
  .block.header {
    & > .floating-contact {
      display: none;
    }
  }
}

body:has(.section.banner-container .block.banner.fixed-to-top) header {
  top: 86px;
}

h1, h2, h3,
h4, h5, h6,
.heading-1, .heading-2, .heading-3,
.heading-4, .heading-5, .heading-6 {
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  color: var(--color-heading);
  margin-top: 0;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h3, h4, h5, h6,
.heading-3, .heading-4, .heading-5, .heading-6 {
  line-height: 1.4;
}

h1, .heading-1 { font-size: var(--heading-font-size-xxl); }
h2, .heading-2 { font-size: var(--heading-font-size-xl); }
h3, .heading-3 { font-size: var(--heading-font-size-l); }
h4, .heading-4 { font-size: var(--heading-font-size-m); }
h5, .heading-5 { font-size: var(--heading-font-size-s); }
h6, .heading-6 { font-size: var(--heading-font-size-xs); }

p, dl, ol, ul, pre, blockquote {
  color: var(--color-text);
  margin: 0;
}

main:has(.section.two-column.shredded-paper-background-column) .section.column-with-list .columns-wrapper,
main:has(.section.two-column.hard-drive-background) .section.column-with-list .columns-wrapper,
main:has(.section.shredded-paper-background) .section.column-with-list .columns-wrapper {
  margin: 0 2rem;
  max-width: 100%;
}

main .section.column-with-list.navy-background.columns-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-primary-2);
}

main .section.column-with-list.blue-background.columns-container {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--color-primary-1);
}

main .section.column-with-list.navy-background.columns-container li {
  display: flex;
  padding: 4px 0 ;
  gap: 1rem;
  align-items: center;
  flex-direction: row-reverse;
}

main .section.column-with-list.navy-background.columns-container li,
main .section.column-with-list.blue-background.columns-container li {
  display: flex;
  padding: 12px 0;
  padding-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-white);
  gap: 1rem;
  align-items: center;
  flex-direction: row-reverse;
}

main .section.column-with-list.gray-background.columns-container ul,
main .section.column-with-list.blue-background.columns-container ul,
main .section.column-with-list.navy-background.columns-container ul {
  margin-left: 0;
}

main .section.column-with-list.gray-background.columns-container img,
main .section.column-with-list.blue-background.columns-container img,
main .section.column-with-list.navy-background.columns-container img {
  width: 24px;
  height: 24px;
  max-width: unset;
}

main .section.column-with-list.gray-background.columns-container .icon,
main .section.column-with-list.blue-background.columns-container .icon,
main .section.column-with-list.navy-background.columns-container .icon {
  width: fit-content;
  margin-left: auto;
}

main .section.column-with-list .columns.columns-2-cols > div > div {
  justify-content: start;
}

main .section.column-with-list.small-footnote .columns.columns-2-cols > div > div p:last-of-type {
  font-size: 0.75rem;
}

main .section.column-with-list .columns > div > div h2 {
  font-size: 32px;
  line-height: 38px;
}

main .section.faq-container:not(.cyan-border) > div.default-content-wrapper h2,
main .section.faq-container:not(.cyan-border) > div.faq-wrapper h4 {
  color: var(--color-text-primary);
  line-height: 140%;
  font-weight: var(--font-weight-bold);
}

main .section.faq-container:not(.cyan-border) > div.default-content-wrapper h2 {
  font-size: var(--heading-font-size-xl);
}

main .section.faq-container:not(.cyan-border) > div.faq-wrapper h4 {
  font-size: var(--heading-font-size-l);
  margin-bottom: 0;
}

main .section.quote-container.orange-border .quote-wrapper::before {
  display: block;
  background-color: var(--color-secondary-1);
  content: "";
  height: 100%;
  left: 0;
  position: relative;
  top: 0;
  width: 4px;
}

main .section.quote-container.orange-border .quote-attribution p {
  color: var(--color-secondary-1);
}

main .section.yellow-button  a.button {
  background-color: var(--color-secondary-4);
  border-color: var(--color-black);
  color: var(--color-black);
  font-size: 1rem;
  line-height: 2pc;
  border-width: 2px;
}

main .section.yellow-button-no-border  a.button {
  background-color: var(--color-secondary-4);
  color: var(--color-black);
  font-size: 1rem;
  line-height: 2pc;
}

main .section.round-border {
  border-radius: 1rem;
  max-width: 96%;
  margin: auto;
}

/* remove bullets for list items in columns -  might be too aggressive */
main div.column-with-list li::before {
  content: none;
}

main .default-content-wrapper p,
main .default-content-wrapper dl,
main .default-content-wrapper pre,
main .default-content-wrapper blockquote {
  margin: 0 0 1rem;
}

main .default-content-wrapper ol,
main .default-content-wrapper ul {
  margin: 0 0 1rem 1rem;
}

main .default-content-wrapper ul {
  padding: 0;
  list-style-type: disc;
}


code, pre {
  color: var(--color-text);
  font-family: var(--font-family-fixed);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--color-gray);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

/* buttons */
.button-container {
  margin-bottom: -4px;
}

a.button:any-link, button {
  font-family: var(--font-family-body);
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  text-decoration: none;
  padding: 0 8px;
  line-height: 26px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  color: var(--color-primary-1);
  background-color: transparent;
  margin: 1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  border-radius: 4px;
}

a.button:hover, button:hover {
  background-color: transparent;
  color: var(--color-button-default);
}

a.button:focus-visible, button:focus-visible {
  outline: 2px solid var(--color-primary-1);
}

button:disabled, button:disabled:hover {
  cursor: not-allowed;
  border: none;
  outline: none;
  color: var(--form-styles-button-disable-color);
  background-color: var(--color-disabled);
}

a.button.primary, button.primary {
  padding: .5rem 2rem;
  background-color: var(--color-button-primary);
  border: none;
  color: var(--color-text-primary);
  border-radius: 100px;
}

.button-container a.button .icon {
  --icon-color: var(--color-primary-1);
}

.button-container a.button.primary .icon, .button-container button.primary .icon {
  --icon-color: var(--color-black);
}

.button-container a.button.secondary .icon, .button-container button.secondary .icon {
  --icon-color: var(--color-primary-1);
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  a.button.primary:hover, button.primary:hover{
    outline: 3px solid var(--color-black);
  }

  a.button.primary:focus-visible , button.primary:focus-visible {
    outline: 3px solid var(--color-primary-1);
    outline-offset: 3px;
  }
}

a.button.secondary, button.secondary {
  padding: 6px 2rem;
  background-color: var(--color-white);
  border: 2px solid var(--color-primary-1);
  color: var(--color-primary-1);
  border-radius: 100px;
}

a.button.secondary.dark, button.secondary.dark {
  padding: 6px 2rem;
  background-color: transparent;
  border: 2px solid var(--color-white);
  color: var(--color-white);
  border-radius: 100px;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  a.button.secondary:hover, button.secondary:hover {
    background-color: var(--color-primary-1);
    color: var(--color-white);
    border-color: currentcolor;
  }

  a.button.secondary.dark:hover, button.secondary.dark:hover {
    background-color: var(--color-white);
    color: var(--color-primary-1);
    border-color: currentcolor;
  }

  .button-container a.button.secondary:hover .icon,
  .button-container a.button.secondary:focus-visible .icon,
  .button-container button.secondary:hover .icon,
  .button-container button.secondary:focus-visible .icon {
    --icon-color: var(--color-white);
  }

  a.button.secondary:focus-visible, button.secondary:focus-visible {
    background-color: var(--color-primary-1);
    color: var(--color-white);
    outline: 3px solid var(--color-primary-1);
    outline-offset: 3px;
  }

  a.button.secondary.dark:focus-visible, button.secondary.dark:focus-visible {
    background-color: var(--color-white);
    color: var(--color-primary-1);
    outline: 3px solid var(--color-primary-1);
    outline-offset: 3px;
  }
}

@media screen and (min-width: 768px /* breakpoint-m */) {
  a.button:any-link, button {
    font-size: 14px;
  }

  a.button.primary, button.primary, a.button.secondary, button.secondary {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  main .section.column-with-list .columns > div > div h2 {
    font-size: 48px;
    line-height: 56px;
  }

  main .section.column-with-list.gray-background.columns-container .icon,
  main .section.column-with-list.blue-background.columns-container .icon,
  main .section.column-with-list.navy-background.columns-container .icon {
    margin-left: initial;
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.button-container .icon {
  display: inline-block;
  margin: 0 auto;
  height: 24px;
  width: 24px;
  background-color: var(--icon-color);
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  mask-image: var(--mask-image);
}

.button-container a.button {
  gap: 4px;
}

.button-container .button.primary, .button-container .button.secondary {
  gap: 8px;
}

.button-container .button .icon {
  width: 8px;
  height: 8.8px;
}

.button-container .button.primary .icon, .button-container .button.secondary .icon {
  width: 24px;
  height: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

main .section {
  overflow: auto; /* prevent margin collapse */
}

main .section > div {
  max-width: var(--section-width);
  margin: 2rem auto;
  padding: 0 24px;
}

@media screen and (min-width: 768px /* breakpoint-xl */) {
  main .section > div {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1200px /* breakpoint-xl */) {
  main .section > div {
    padding: 0 80px;
  }
}

main .section.no-spacing > div {
  margin: 0;
}

main .section p:not(.button-container) a {
  text-decoration: underline;
}

main .section div.button-container a {
  text-decoration: none;
}

main .section.no-buttons {
  & > .default-content-wrapper {
    & > p.button-container a {
      font-family: var(--font-family-body);
      display: inline-block;
      text-decoration: underline;
      border: unset;
      padding: unset;
      line-height: unset;
      text-align: center;
      font-style: normal;
      font-weight: unset;
      cursor: pointer;
      color: var(--color-blue);
      background-color: unset;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-radius: 100px;
    }

    & > ul li {
      text-decoration: underline;
    }
  }
}

/* cookie banner / button */

#ot-sdk-btn-floating {
  bottom: 70px !important;
}

/* viewport based visibility */

@media screen and (max-width: 575px /* breakpoint-s */) {
  main .hide-on-mobile {
    display: none;
  }
}

@media screen and (min-width: 576px /* breakpoint-s */) and (max-width: 1199px /* breakpoint-xl */) {
  main .hide-on-tablet {
    display: none;
  }
}

@media screen and (min-width: 1200px /* breakpoint-xl */) {
  main .hide-on-desktop {
    display: none;
  }

  .block.header {
    & nav {
      & > .floating-contact {
        display: none;
      }
    }
  }
}

body:has(.section.banner-container .block.banner.fixed-to-bottom) .floating-contact {
  bottom: 3.25rem;
}

body:has(.section.banner-container .block.banner.fixed-to-bottom p.button-container) .floating-contact {
  bottom: 4.25rem;
}

main .show-on-mobile,
main .show-on-tablet,
main .show-on-desktop {
  display: none;
}

@media screen and (max-width: 575px /* breakpoint-s */) {
  main .show-on-mobile {
    display: block;
  }
}

@media screen and (min-width: 576px /* breakpoint-m */) and (max-width: 1199px /* breakpoint-xl */) {
  main .show-on-tablet {
    display: block;
  }
}

@media screen and (min-width: 1200px /* breakpoint-xl */) {
  main .show-on-desktop {
    display: block;
  }
}

/* background colors */

main .section.light,
main .section.highlight,
main .section.gray-background,
main .block.gray-background {
  background-color: var(--color-bg-secondary);
}

main > div.section.gray-background > div.default-content-wrapper h1,
main > div.section.gray-background > div.default-content-wrapper h2 {
  color: var(--color-secondary-5);
}

main > div.section.gray-background.post-teaser-list-container > div.default-content-wrapper h2 {
  color: var(--color-black);
}

main > div.section.gray-background > div.default-content-wrapper p {
  color: var(--color-black);
}

main .section.column-with-list.gray-background.columns-container li {
  display: flex;
  padding: 12px 0;
  padding-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid var(--color-primary-2);
  gap: 1rem;
  align-items: center;
  flex-direction: row-reverse;
}

main .section.navy-background,
main .block.navy-background {
  background-color: var(--color-bg-tertiary);
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  main .section.navy-background.image {
    background-image: url("/icons/section-bg.svg"), linear-gradient(180deg, transparent 5rem, var(--color-primary-2) 0, var(--color-primary-2));
    background-position: top right;
    background-repeat: no-repeat;
    margin-top: -2rem;
    padding-top: 6rem;
    position: relative;
  }
}

main .section.shredded-paper-background {
  background-image: url("/images/media_1fbb3017116cabdcfddffa6fc667e77de61f301fd.png");
  background-size: cover;
  background-color: var(--color-primary-2);
  background-position-x: 50%;
  background-position-y: calc(100% - 75px);
  background-repeat: no-repeat;
}

main .section.shredded-paper-background > div:first-of-type > p > .icon {
  text-align: center;
  align-items: center;
  width: 100%;
  height: auto;
}

main .section.shredded-paper-background > div:first-of-type > p > span.icon > img {
  max-width: 100%;
  height: auto;
  width: 33%;
}

.section.blue-background,
.block.blue-background {
  background-color: var(--color-accent-1);
}

main .block.center-align * {
  text-align: center;
}

main .block.divider hr {
  margin: 2rem 0;
  border: 0.5px solid var(--color-medium-gray);
  opacity: .25;
  color: inherit;
}

main .section.narrow:not(.icon-list-container) {
  max-width: 100%;
  margin: 0 24px;
  margin-left: 24px !important;
  margin-right: 24px !important;
}

@media (min-width: 768px /* breakpoint-s */) {
  main .section.narrow:not(.icon-list-container)  {
    max-width: 100%;
    margin: 0 32px;
    margin-left: 32px !important;
    margin-right: 32px !important;
  }
}

@media (min-width: 1200px) {
  main .section.narrow:not(.icon-list-container)  {
    max-width: 100%;
    margin: 0 80px;
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
}

@media (min-width: 1760px) {
  main .section.narrow:not(.icon-list-container) {
    max-width: calc(var(--section-width) - 160px);
    margin-left: auto !important;
    margin-right: auto !important;
  }
}

main .section.orange-background {
  background-position: center center;
  background-size: auto;
  background-image: url("/content/dam/shred-it/test-images/industry/media_1c223bfaf2ff9af3f7e5858c517481772c46f1625.png");
}

main .invert-colors,
main .section.navy-background,
.block.navy-background,
main .section.blue-background,
.block.blue-background {
  --color-text: var(--color-white);
  --color-heading: var(--color-white);
  --color-link: var(--color-white);
  --color-link-hover: var(--color-white);
}

main .section.centered-text .default-content-wrapper {
  text-align: center;
}

main .section.centered-text .default-content-wrapper > p.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
}

main .centered-headings .default-content-wrapper > :is(h1, h2, h3, h4, h5, h6),
main .cards.centered-headings :is(h1, h2, h3, h4, h5, h6) {
  text-align: center;
}

main .cyan-headings {
  --color-heading: var(--color-secondary-3) !important;
}

main .blue-headings {
  --color-heading: var(--color-primary-1) !important;
}

main .navy-headings {
  --color-heading: var(--color-primary-2) !important;
}

main .white-headings {
  --color-heading: var(--color-white) !important;
}

main .list-style-orange-triangles ul {
  position: relative;
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
}

main .list-style-blue-checkmark ul {
  position: relative;
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
}

main .list-style-bullets ul {
  position: relative;
  padding: 0;
  margin: 0 0 1rem 1rem;
}

main .list-style-bullets ul li {
  list-style: disc;
  padding-bottom: 0.5rem;
}

main .list-style-checkmarks ul {
  position: relative;
  padding: 0;
  margin: 0 0 0 1.5rem;
  list-style: none;
}

main .list-style-checkmarks li::marker,
main .list-style-orange-triangles li::marker,
main .list-style-big-numbers li::marker,
main .list-style-more-space li::marker {
  content: "";
}

main ol {
  position: relative;
  padding: 0;
}

main ol li {
  list-style: decimal;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

/* section with image styles */

main .section.with-image {
  display: flex;
  flex-direction: column;
  max-width: var(--section-width);
  margin: auto;
  padding: 0 24px 32px;
}

main > .section.box-shadow {
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 25%);
}


/* section background image styles */
main div.section.default-teaser-section {
  background-size: cover;
  background-position: top center;
  background-image: url("/icons/SID-Resources-Center-Gray_Desktop.svg");
  background-repeat: no-repeat;
  overflow: hidden;
}

main div.hard-drive-background {
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-image: url("/images/media_18801dc9f2feef2abd2efd2bf6dfacd12e4469a20.png");
  background-repeat: no-repeat;
}

main div.shredded-paper-background-column {
  background-image: url("/images/sid-shreded-paper-background.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 25%;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
    main .section.with-image {
    display: grid;
    grid-template-columns: 41.6667% 1fr;
    column-gap: 24px;
    position: relative;
    max-width: var(--section-width);
  }
}

main .section.with-image > div {
  grid-column: 2;
  padding: 0;
  margin: 0;
}

main .section.with-image > div.section-image-wrapper {
  /* padding: 0 0 0 12px; */
  padding: 0;
  width: 100%;
  margin: 0;
}

main .section.with-image > div.section-image-wrapper img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .section.with-image > div.section-image-wrapper img {
    max-width: 526px;
  }
}

main .section.with-image > div.section-image-wrapper:first-child {
  grid-column: 1;
}


/* blog styles */

.blog-page main .section {
  padding: 0;
}

.blog-page main .default-content-wrapper {
  padding: .9375rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  .blog-page main .default-content-wrapper {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
  }
}

@media screen and (min-width: 768px /* breakpoint-m */) {
  .blog-page main .default-content-wrapper {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .default-content-wrapper {
    max-width: 960px;
    padding-bottom: 64px;
    padding-top: 0;
  }

  .blog-page main .breadcrumb-wrapper {
    max-width: 960px;
  }

  main .section.column-with-list.gray-background.columns-container li,
  main .section.column-with-list.blue-background.columns-container li,
  main .section.column-with-list.navy-background.columns-container li {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px /* breakpoint-xl */) {
  .blog-page main .default-content-wrapper {
    max-width: 1140px;
    padding-bottom: 64px;
    padding-top: 0;
  }

  .blog-page main .breadcrumb-wrapper {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px /* breakpoint-xxl */) {
  .blog-page main .default-content-wrapper {
    max-width: 1320px;
    padding-bottom: 64px;
  }

  .blog-page main .breadcrumb-wrapper {
    max-width: 1320px;
  }

  main div.shredded-paper-background-column {
    background-position-y: 50%;
  }
}

.blog-page main .related-content {
  background-color: var(--color-gray);
  width: 100%;
  padding: 32px;
  box-sizing: border-box;
}

.blog-page main .blog-content {
  margin-bottom: 47px;
}

@media screen and (min-width: 768px /* breakpoint-m */) {
  .blog-page main div.blog-content {
    margin-bottom: 63px;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main div.blog-content {
    margin-bottom: 31px;
    padding: 0 12px;
  }
}

.blog-page main .blog-content p:first-child {
  margin-bottom: 32px;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .blog-content p:first-child img {
    width: 100%;
  }
}

.blog-page main .blog-content p:nth-child(n+2) {
  margin-bottom: 16px;
}

.blog-page main .blog-content h1 {
    font-size: 1.875rem;
    line-height: 2.125rem;
    letter-spacing: -.0009rem;
    margin-bottom: 32px;
    font-weight: var(--font-weight-bold);
}

@media (min-width: 992px /* breakpoint-l */) {
  .blog-page main .blog-content h1 {
    font-size: 3rem;
    line-height: 3.25rem;
  }
}

.blog-page main .blog-content h2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    letter-spacing: -.0009rem;
    font-weight: var(--font-weight-bold);
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .blog-content h2 {
    font-size: 2rem;
    line-height: 2.375rem;
  }

  .blog-page main .blog-content h3 {
      font-size: 1.125rem;
      line-height: 1.375rem;
      letter-spacing: .0006rem;
      font-weight: var(--font-weight-bold);
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .blog-content h3 {
    font-size: 26px;
    line-height: 38px;
  }
}

.blog-page main .blog-content h2, .blog-page main .blog-content h3 {
    margin-bottom: 12px;
}

.blog-page main .breadcrumb-wrapper {
  display: none;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .breadcrumb-wrapper {
    display: block;
    padding: 15px 0;
  }

  .blog-page main .breadcrumb-wrapper > .blog-breadcrumb {
    margin-bottom: 22px;
  }

  .blog-page main .breadcrumb-wrapper > .blog-breadcrumb > a,
  .blog-page main .breadcrumb-wrapper > .blog-breadcrumb > span {
    color: var(--color-secondary-5);
    font-family: var(--font-family-body);
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.125rem;
    text-decoration: none;
    letter-spacing: .0006rem;
  }

  .blog-page main .breadcrumb-wrapper > .blog-breadcrumb > a:hover {
    text-decoration: underline;
  }

  .blog-page main .breadcrumb-wrapper > .blog-breadcrumb > .title-breadcrumb::before {
    color: var(--color-secondary-5);
    content: "|";
    padding-left: 8px;
    padding-right: 8px;
  }
}

.blog-page main .related-content .related-content-teasers {
  padding: 0;
}

.blog-page main .related-content .related-content-teaser {
  margin-bottom: 16px;
  list-style-type: none;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  .blog-page main .related-content .related-content-teaser {
    margin-bottom: 0;
  }
}

.blog-page main .related-content .related-content-teaser a > div {
  overflow: hidden;
}

.blog-page main .related-content .related-content-teaser a picture {
  width: 100%;
  height: 0;
  padding-top: 56%;
  position: relative;
  overflow: hidden;
  display: block;
}

.blog-page main .related-content .related-content-teaser a picture img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  transition: all .3s ease-in-out;
}

.blog-page main .related-content .related-content-teaser a:hover picture img {
  width: 100%;
  max-width: 100%;
  transform: scale(1.125);
}

.blog-page main .related-content .related-content-date {
  font-size: .625rem;
  line-height: .875rem;
  padding: 16px 0;
  margin-bottom: 40px;
}

@media (min-width: 992px /* breakpoint-l */) {
  .blog-page main .related-content .related-content-date {
    font-size: 12px;
    line-height: 18px;
  }
}

.blog-page main .related-content .related-content-teaser:last-child .related-content-date {
  margin-bottom: 24px;
}

.blog-page main .related-content h4 {
  font-size: .9375rem;
  line-height: 1.5625rem;
  letter-spacing: .0008rem;
  margin-bottom: 24px;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 992px /* breakpoint-l */) {
  .blog-page main .related-content h4 {
    font-size: 1.25rem;
    line-height: 1.875rem;
  }
}

.blog-page main .related-content h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 20px;
  font-size: 16px;
}

main .section.standard-margin-bottom {
  margin-bottom: 80px !important;
}

main .section.extra-margin-bottom {
  margin-bottom: 160px !important;
}

main .section.rounded-corners {
  border-radius: 16px;
}

main div.section.background-primary-image {
  background-size: contain;
  background-origin: content-box;
  background-position: right bottom;
  background-image: url("/images/media_1dc871139c98397c8c15a9cf976ee13f69be2ab57.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

main div.section.background-secondary-image {
  background-size: auto;
  background-position: right bottom;
  background-image: url("/images/media_1dc871139c98397c8c15a9cf976ee13f69be2ab57.png");
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (min-width: 992px /* breakpoint-l */) {
  h1 {
    line-height: 3.25rem;
  }

  .blog-page main .related-content h5 {
    line-height: 24px;
  }

  .blog-page main .section:first-of-type > .default-content-wrapper {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  .blog-page main .blog-content {
    display: flex;
    width: 66.66%;
    flex-direction: column;
  }

  .blog-page main .related-content {
    margin-left: 8.3333%;
    padding: 0 12px;
    display: flex;
    width: 25%;
    height: fit-content;
    flex-direction: column;
    background-color: unset;
  }

  .blog-page main .related-content .related-content-wrapper {
    padding: 32px;
    background-color: var(--color-gray);
    min-width: 152px;
  }
}

@media screen and (min-width: 1200px /* breakpoint-xl */) {
  .blog-page main .related-content .related-content-wrapper {
    min-width: 197px;
  }
}

@media screen and (min-width: 1400px /* breakpoint-xxl */) {
  .blog-page main .related-content .related-content-wrapper {
    min-width: 242px;
  }

  .blog-page div.related-content img {
    width: auto;;
  }
}

main .xs-icons .icon {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

main .s-icons .icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

main .m-icons .icon {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

main .l-icons .icon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

main .xl-icons .icon {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

main .xxl-icons .icon {
  width: var(--icon-size-xxl);
  height: var(--icon-size-xxl);
}

main .xxxl-icons .icon {
  width: var(--icon-size-xxxl);
  height: var(--icon-size-xxxl);
}

main .list-style-more-space li {
  padding-bottom: 1rem;
}

main .list-style-orange-triangles ul > li::before {
  position: absolute;
  left: -25px;
  margin-right: 0.75rem;
  font-family: "Font Awesome\ 6 Free", "Font Awesome\ 5 Free", serif;
  content: "";
  color: var(--color-secondary-1);
  font-size: 1.5rem;
  line-height: 28px;
}

main .list-style-blue-checkmark ul > li::before {
  content: '';
  position: absolute;
  left: -25px;
  margin-right: 0.75rem;
  background: url("/icons/check-mark-light-blue.svg") no-repeat left center;
  background-size: cover;
  width: 32px;
  height: 32px;
}

main .list-style-orange-triangles ul > li {
  padding-bottom: 1rem;
}

main .list-style-blue-checkmark ul > li {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  padding-left: 16px;
}

main .list-style-blue-checkmark ul > li sup {
  vertical-align: super;
  margin-top: -10px;
  margin-right: 2px;
}

main .list-style-checkmarks div.card-body ul > li::before {
  content: '✓';
}

main .list-style-big-numbers h2 {
  padding: 0 12px;
  list-style: none;
  counter-reset: items;
}

main .list-style-big-numbers ol {
  padding: 0;
  list-style: none;
  counter-reset: items;
}

main .list-style-big-numbers ol > li {
  position: relative;
  margin-bottom: 24px;
  counter-increment: items;
  padding: 0 12px;
  list-style: none;
}

main .list-style-big-numbers ol > li:last-child {
  margin-bottom: 0;
}

main .list-style-big-numbers ol > li::before {
  display: block;
  position: relative;
  height: 100%;
  max-height: 80px;
  content: "0" counter(items);
  color: var(--color-secondary-3);
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  letter-spacing: -.0094rem;
  margin-bottom: 24px;
  text-align: center;
}

main .list-style-big-numbers ol > li > span {
  display: table-cell;
  vertical-align: middle;
  border-color: var(--color-secondary-1);
  border-width: 0 0 0 4px;
  border-style: solid;
  height: 80px;
  padding-left: 24px;
  padding-bottom: 16px;
  margin-top: 16px;
}

main .list-style-big-numbers ol > li:nth-child(n+10)::before {
  content: counter(items);
}

/* Page Section with Background Image - Orange Background */
main .list-with-background-image > .default-content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 16px 32px;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  main .list-with-background-image > .default-content-wrapper {
    padding: 16px 0;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .list-with-background-image > .default-content-wrapper {
    display: grid;
    grid-template-columns: 16.66% repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 0;
  }
}

main .list-with-background-image > div > h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--body-font-size-l);
  line-height: 26px;
  color: var(--color-primary-2);
  margin: 1rem 0;
  padding: 0 47px;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  main .list-with-background-image > div > h2 {
    padding: 0;
  }
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .list-with-background-image > div > h2 {
    grid-area: 1 / 2 / 2 / 5;
    color: var(--color-primary-2);
    font-size: 2rem;
    line-height: 2.375rem;
    letter-spacing: -.0009rem;
    font-weight: var(--font-weight-bold);
    padding: 0 12px;
  }
}

main .list-with-background-image > div > p {
  padding: 0 47px;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  main .list-with-background-image > div > p {
    padding: 0;
  }
}

main .list-with-background-image > div > p:has(img) {
  width: fit-content;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .list-with-background-image > div > p:has(img):first-child {
    grid-area: 1 / 1 / 4 / 2;
    display: flex;
    align-items: center;
    width: 100%;
  }
}

main .list-with-background-image > div > p:nth-of-type(2) {
  margin-bottom: 16px;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .list-with-background-image > div > p:nth-of-type(2) {
    grid-area: 2 / 2 / 3 / 5;
    padding: 0 12px;
    line-height: 24px;
  }
}

main .list-with-background-image > div > ul {
  margin-top: 32px;
  margin-left: 63px;
  margin-right: 47px;
  padding-left: 24px;
}

@media screen and (min-width: 576px /* breakpoint-s */) {
  main .list-with-background-image > div > ul {
    margin-left: 16px;
    margin-top: 32px;
  }
}

@media screen and (min-width: 992px /* breakpoint-s */) {
  main .list-with-background-image > div > ul {
    margin-left: 28px;
  }
}

main .list-with-background-image > div > ul:first-of-type {
  margin-top: 32px;
}

main .list-with-background-image > div > p:has(img) > span {
  width: fit-content;
  height: 100%;
  max-height: 189px;
}

@media screen and (min-width: 992px /* breakpoint-l */) {
  main .list-with-background-image > div > p:has(img) > span {
    width: 100%;
    margin: 0;
    padding: 0 12px;
    max-height: 233.32px;
  }
}

main .list-with-background-image > div > ul > li {
  padding-bottom: 16px;
}

main .list-with-background-image:not(.list-style-orange-triangles) ul > li::before {
  left: 0;
  margin-right: 0;
}

main .list-with-background-image > div > ul > li:last-child {
  padding-bottom: 0;
}

@media (min-width: 992px /* breakpoint-l */) {
  main .list-style-big-numbers ol {
    padding: 0;
    list-style: none;
    column-count: 2;
    column-gap: 24px;
    counter-reset: items;
  }

  main .list-style-big-numbers ol > li {
    position: relative;
    margin-bottom: 16px;
    padding-left: 7rem;
    padding-top: 24px;
    counter-increment: items;
  }

  main .list-style-big-numbers ol > li::before {
    display: block;
    position: absolute;
    left: 0;
    height: 100%;
    max-height: 80px;
    padding-right: 1rem;
    border-width: 0 4px 0 0;
    border-style: solid;
    border-color: var(--color-secondary-1);
    content: "0" counter(items);
    color: var(--color-secondary-3);
    font-weight: 700;
    font-size: 4rem;
    line-height: 3.5rem;
  }

  main .list-style-big-numbers ol > li:nth-child(n+10)::before {
    content: counter(items);
  }

  main .list-style-big-numbers ol > li > span {
    margin: 0;
    padding: 0;
    border: none;
  }
}

/*  Parallel Lines Decorator Section */
@media screen and (min-width: 576px /* breakpoint-s */) {
  main .parallel-lines-decorator {
    margin: 5rem 0 0;
    position: relative;
  }

  main .parallel-lines-decorator::before {
    content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='340' height='232'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='none' d='M0 0h340v232H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg data-name='2-Blade-element'%3E%3Cg data-name='Group 1068' clip-path='url(%23a)'%3E%3Cpath data-name='Path 3668' d='M286.694 158.425L69.479 15.359 0 15.438l220.68 142.987z' fill='%23ff5633'/%3E%3Cpath data-name='Path 3669' d='M341.411 232.261l-221.7-142.982-5.714.007 221.981 142.975z' fill='%23ff5633'/%3E%3Cpath data-name='Path 3670' d='M216.651 94.513L73.151-.002l-45.9.052 145.791 94.463z' fill='%2340bbd5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    display: block;
    position: absolute;
    top: -80px;
    right: 0.25rem;
    width: 340px;
    height: 232px;
  }

  main .parallel-lines-decorator > div {
    padding: 32px 48px;
  }
}

main .columns.get-a-quote-popup.block {
  background-color: var(--color-white);
  border-radius: var(--border-radius-l);
  border: 1px solid var(--color-grey200);
  overflow: hidden;
}

main .columns.get-a-quote-popup.block > div:nth-child(1){
  padding: 1rem;
  background-color: var(--color-secondary-4);
  text-align: center;
}

main .columns.get-a-quote-popup.block > div:nth-child(1) * {
  margin-bottom: 0;
}

main .columns.get-a-quote-popup.block > div:nth-child(1) p {
  color: var(--color-primary-2);
}

main .columns.get-a-quote-popup.block > div:nth-child(1) a {
  text-decoration: underline;
  color: var(--color-text);
}

main .columns.get-a-quote-popup.block > div:nth-child(2) {
  padding: 2rem 2rem 0;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) {
  padding: 0 2rem;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) .link-wrapper {
  height: 100%;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) .link-wrapper p:first-child {
  font-size: 20px;
  max-width: 85%;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) .link-wrapper p:last-child {
  font-size: 14px;
  max-width: 85%;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a:hover {
  text-decoration: none;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a > div {
  cursor: pointer;
  border-radius:0.5rem;
  background-color: var(--color-bg-secondary);
  position: relative;
  padding: 16px;
  height: 100%;
  transition: background-color 0.3s;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a > div:hover {
  background-color: var(--color-bg-tertiary);
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a > div:hover *,
main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a > div:hover .button-container a {
  color: var(--color-white);
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div a {
  all: unset;
  position: relative;
  display: flex;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:first-child {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: normal;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:first-child > a {
  width: 75%;
  font-size: 20px;
  color: var(--color-text-primary);
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:last-child > a {
  width: 75%;
  font-size: 14px;
  color: var(--color-text-primary);
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:last-child {
  font-size: 0.875rem;
  max-width: 88%;
}

main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  background-color: var(--color-primary-2);
  border-radius: 50%;
  background-image: url('/icons/arrow-right.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: var(--color-white);
  pointer-events: none;
}

main .columns.get-a-quote-popup.block .cta {
  padding: 24px 32px;
  padding-top: 16px;
}

main .columns.get-a-quote-popup.block .cta a {
  padding: 0;
  margin: 0;
  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 700;
  line-height: 25.6px;
  letter-spacing: 0.16px;
  text-decoration: underline;
}

@media (min-width: 992px) {
  main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:first-child > a {
    font-size: 24px;
  }

  main .columns.get-a-quote-popup.block > div:nth-child(3) > div > a> div > p:last-child > a {
    width: 75%;
    font-size: 16px;
  }

  main .columns.get-a-quote-popup.block > div:nth-child(3) .link-wrapper p:first-child {
    font-size: 24px;
    max-width: 75%;
  }

  main .columns.get-a-quote-popup.block > div:nth-child(3) .link-wrapper p:last-child {
    font-size: 16px;
    max-width: 75%;
  }
}


/* Reusable Header Styles */
.quote-title {
  margin-bottom: 32px;
}

/* Eyebrow */
.eyebrow-small {
  font-size: var(--body-font-size-xs);
  font-weight: var(--font-weight-extra-bold);
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1.4px;
}

@media (min-width: 768px /* breakpoint-m */) {
  .eyebrow-small {
    font-size: var(--body-font-size-s);
  }

  .quote-title {
    margin-bottom: 46px;
  }
}

/* Full width will unset the default width of divs under section */
main .section.full-width > div {
  max-width: 100%;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 992px) {
  main .page-sidebar .section.get-a-quote-form-wrapper {
    display: none;
  }
}

.grecaptcha-badge {
  display: none!important;
}
