/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fallback fonts */

@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 100.88%;
  descent-override: 21.77%;
  line-gap-override: 0.00%;
  size-adjust: 97.84%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 108.48%;
  descent-override: 23.41%;
  line-gap-override: 0.00%;
  size-adjust: 90.98%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 106.32%;
  descent-override: 22.95%;
  line-gap-override: 0.00%;
  size-adjust: 92.83%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Arial Bold Italic');
  ascent-override: 114.18%;
  descent-override: 24.64%;
  line-gap-override: 0.00%;
  size-adjust: 86.44%;
}

/* styles */

:root {
  /* colors */
  --color-white: #fff;
  --color-gray: #f2f6f7;
  --color-dark-gray: #707271;
  --color-black: #000;
  --color-navy: #133b5c;
  --color-blue: #006BB4;
  --color-cyan: #40bbd5;
  --color-orange: #ff5633;
  --color-yellow: #ffc62b;

  /* functional colors */
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-heading: var(--color-text);
  --color-link: #0075aa;
  --color-link-hover: #006cb4;

  /* fonts */
  --font-family-lato: 'Lato', 'Lato Fallback', sans-serif;
  --font-family-body: var(--font-family-lato);
  --font-family-heading: var(--font-family-body);
  --font-family-fixed: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 20px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 30px;
  --heading-font-size-xl: 20px;
  --heading-font-size-l: 18px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;

  /* nav height */
  --nav-height: 125px;
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 26px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--font-family-body);
  line-height: 1.6;
  color: var(--color-text);
  background-color: var(--color-background);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-heading);
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code, pre {
  font-family: var(--font-family-fixed);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--color-gray);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--font-family-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-link);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--color-link-hover);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--color-gray);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--color-text)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 64px 16px;
}

@media (width >= 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: 1200px;
    margin: auto;
  }
}

/* section metadata */

main .section.light,
main .section.highlight,
main .section.gray-background,
main .block.gray-background {
  background-color: var(--color-gray);
}

main .section.navy-background,
main .block.navy-background {
  --text-color: var(--color-white);

  background-color: var(--color-navy);
}

main .section.blue-background,
main .block.blue-background {
  --text-color: var(--color-white);

  background-color: var(--color-blue);
}
