/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* fallback fonts */

@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 400;
  src: local('Arial');
  ascent-override: 100.88%;
  descent-override: 21.77%;
  line-gap-override: 0.00%;
  size-adjust: 97.84%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 400;
  src: local('Arial Italic');
  ascent-override: 108.48%;
  descent-override: 23.41%;
  line-gap-override: 0.00%;
  size-adjust: 90.98%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: normal;
  font-weight: 700;
  src: local('Arial Bold');
  ascent-override: 106.32%;
  descent-override: 22.95%;
  line-gap-override: 0.00%;
  size-adjust: 92.83%;
}

@font-face {
  font-family: 'Lato Fallback';
  font-style: italic;
  font-weight: 700;
  src: local('Arial Bold Italic');
  ascent-override: 114.18%;
  descent-override: 24.64%;
  line-gap-override: 0.00%;
  size-adjust: 86.44%;
}

/* styles */

:root {
  /* colors */
  --color-white: #fff;
  --color-gray: #f2f6f7;
  --color-dark-gray: #707271;
  --color-black: #000;
  --color-navy: #133b5c;
  --color-blue: #006cb4;
  --color-cyan: #40bbd5;
  --color-orange: #ff5633;
  --color-yellow: #ffc62b;

  /* functional colors */
  --color-background: var(--color-white);
  --color-background-header: #133b5c;
  --color-text: var(--color-black);
  --color-heading: var(--color-black);
  --color-link: #0075aa;
  --color-link-hover: var(--color-blue);
  --color-button-default: var(--color-blue);
  --color-button-primary: var(--color-yellow);
  --color-button-secondary: var(--color-text);

  /* fonts */
  --font-family-lato: 'Lato', 'Lato Fallback', sans-serif;
  --font-family-body: var(--font-family-lato);
  --font-family-heading: var(--font-family-body);
  --font-family-footer: var(--font-family-body);
  --font-family-fixed: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-l: 20px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-xxs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 30px;
  --heading-font-size-xl: 20px;
  --heading-font-size-l: 18px;
  --heading-font-size-m: 16px;
  --heading-font-size-s: 14px;
  --heading-font-size-xs: 12px;

  /* icon sizes */
  --icon-size-xs: 10px;
  --icon-size-s: 20px;
  --icon-size-m: 24px;
  --icon-size-l: 32px;
  --icon-size-xl: 60px;
  --icon-size-xxl: 100px;

  /* misc */
  --nav-height: 125px;
  --section-width: 990pt;

  /* font weights */
  --lato-regular: 400;
  --lato-bold: 700;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 26px;
    --heading-font-size-m: 20px;
  }
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--font-family-body);
  line-height: 20px;
  background-color: var(--color-background);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--font-family-heading);
  font-weight: 600;
  line-height: 1.25;
  color: var(--color-heading);
  margin-top: 0;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl);
  line-height: 3.25rem;
}
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  color: var(--color-text);
  margin: 0;
}

code, pre {
  color: var(--color-text);
  font-family: var(--font-family-fixed);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--color-gray);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--color-link-hover);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--font-family-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid var(--color-button-default);
  padding: 0 32px;
  line-height: 32px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-button-default);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 100px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--color-white);
  color: var(--color-button-default);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--color-gray);
  cursor: unset;
}

a.button.primary, button.primary {
  background-color: var(--color-button-primary);
  border-color: var(--color-button-primary);
  color: var(--color-text);
}

a.button.primary:hover, a.button.primary:focus, button.primary:hover, button.primary:focus {
  background-color: var(--color-button-primary);
  border-color: currentcolor;
  color: var(--color-text);
}

a.button.secondary, button.secondary {
  background-color: var(--color-white);
  border-color: currentcolor;
  color: var(--color-button-secondary);
}

a.button.secondary:hover, a.button.secondary:focus, button.secondary:hover, button.secondary:focus {
  background-color: var(--color-button-secondary);
  border-color: var(--color-button-secondary);
  color: var(--color-white);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 16px;
}

@media (min-width: 600px) {
  main .section {
    padding: 32px;
  }
}

@media (min-width: 900px) {
  .section > div {
    max-width: var(--section-width);
    margin: auto;
  }
}

/* section styles */

main .section.light,
main .section.highlight,
main .section.gray-background,
main .block.gray-background {
  background-color: var(--color-gray);
}

main .section.navy-background,
main .block.navy-background {
  background-color: var(--color-navy);
}

main .section.blue-background,
main .block.blue-background {
  background-color: var(--color-blue);
}

main .invert-colors,
main .section.navy-background,
main .block.navy-background,
main .section.blue-background,
main .block.blue-background {
  --color-text: var(--color-white);
  --color-heading: var(--color-white);
  --color-link: var(--color-white);
  --color-link-hover: var(--color-white);
}

main .centered-text {
  text-align: center;
}

main .cyan-headings {
  --color-heading: var(--color-cyan);
}

main .blue-headings {
  --color-heading: var(--color-blue);
}

/* blog styles */

.blog-page div.related-content {
  background-color: #f2f6f7;
  width: 100%;
  padding: 32px;
}

.blog-page div.related-content img {
  width: 100%;
}

.blog-page div.related-content h4 {
  font-size: 1.25rem;
  line-height: 1.875rem;
  text-align: center;
  margin-bottom: .75rem;
}

.blog-page div.related-content ul {
  list-style-type: none;
  padding-left: unset;
}

.blog-page div.related-content h5 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 24px;
  font-size: 16px;
}

.blog-page div.related-content div.related-content-date {
  padding-bottom: 1rem;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 992px) {
  .blog-page div.section:first-of-type > div.default-content-wrapper {
    display: flex;
    flex-direction: row;
  }

  .blog-page div.blog-content {
    display: flex;
    width: 75%;
    flex-direction: column;
  }

  .blog-page div.related-content {
    margin-left: 8.3333%;
    display: flex;
    width: 25%;
    flex-direction: column;
    background-color: #f2f6f7;
  }

  .blog-page div.related-content img {
    width: auto;;
  }
}

main .navy-headings {
  --color-heading: var(--color-navy);
}

main .xs-icons .icon {
  width: var(--icon-size-xs);
  height: var(--icon-size-xs);
}

main .s-icons .icon {
  width: var(--icon-size-s);
  height: var(--icon-size-s);
}

main .m-icons .icon {
  width: var(--icon-size-m);
  height: var(--icon-size-m);
}

main .l-icons .icon {
  width: var(--icon-size-l);
  height: var(--icon-size-l);
}

main .xl-icons .icon {
  width: var(--icon-size-xl);
  height: var(--icon-size-xl);
}

main .xxl-icons .icon {
  width: var(--icon-size-xxl);
  height: var(--icon-size-xxl);
}
