/* Going to try to fix the margin/padding at least on the resource pages, to be a bit more manageable */
.resource-center main {
  .section {

    & .default-content-wrapper a {
      text-decoration: underline;
    }
  }
}

@media (min-width: 992px) {
  .section.sidebar-right-container {
    overflow: initial;

    .grid-wrapper {
      display: grid;
       grid-template: "left right"
                    / 3fr 1fr;
      column-gap: 8.333%;

      & .sidebar-left {
        grid-area: left;
      }

      & .sidebar-right {
        grid-area: right;
        position: sticky;
        top: calc(var(--nav-height) + 1rem);
        align-self: start;
      }
    }
  }
}

