.with-sidebar main > .body-wrapper {
  max-width: var(--section-width);
  margin: 0 auto;
}

.with-sidebar main > .body-wrapper > .page-sidebar > .section > div {
  padding: 0;
  margin-bottom: 30px;
}

.resource-center main .page-content a {
  text-decoration: underline;
}

.resource-center main .breadcrumb {
  display: none;
}

.resource-center main .breadcrumb a,
.resource-center main .breadcrumb span {
  color: var(--color-dark-gunmetal);
  font-size: var(--text-font-size-m);
  font-weight: 400;
  line-height: 1.125rem;
  text-decoration: none;
  letter-spacing: .0006rem;
}

.resource-center main .breadcrumb a:hover {
  text-decoration: underline;
}

.resource-center .breadcrumb a::after {
  color: var(--color-dark-gunmetal);
  content: "|";
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 992px /* breakpoint-l */) {
  .resource-center main .breadcrumb {
    display: block;
  }

  .with-sidebar main > .body-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }

  .with-sidebar main > .body-wrapper > .page-content {
    width: 66.6667%;
  }

  .with-sidebar main > .body-wrapper > .page-sidebar {
    width: 25%;
    z-index: 1;
  }
}
