.post-teaser-list > .teaser-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.post-teaser-list > .teaser-list > .teaser {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-teaser-list > .teaser-list > .teaser .teaser-thumbnail {
  border-radius: var(--border-radius-l);
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  display: block;
}

.post-teaser-list > .teaser-list > .teaser .teaser-thumbnail > img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px 0 24px;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content > .teaser-eyebrow-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content a.button {
  margin: 0;
  padding: 0;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content a.button.primary,
.post-teaser-list > .teaser-list > .teaser > .teaser-content a.button.secondary {
  padding: .5rem 2rem;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content a.button .icon {
  width: 16px;
  height: 16px;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content > .teaser-title {
  flex: 1;
  margin-bottom: 10px;
  color: var(--color-text-primary);
  line-height: 25px;
  font-weight: 400;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content .teaser-category {
  text-decoration: underline;
  color: var(--color-accent-1);
}

/* CARDS STYLE */

.post-teaser-list > .teaser-list > .teaser > .teaser-content .teaser-date {
  display: block;
  font-size: var(--body-font-size-s);
  color: var(---color-grey500);
}

/* LOADING */

.post-teaser-list > .teaser-list > .teaser.loading .teaser-thumbnail {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: var(--color-medium-gray);
  background: linear-gradient(to right, var(--color-medium-gray) 5%, #DADEDF 20%, var(--color-medium-gray) 50%);
  background-size: 1200px 100%;
}

.post-teaser-list > .teaser-list > .teaser.loading .teaser-content {
  flex: unset;
  height: 200px;
}

@media (min-width: 992px /* breakpoint-l */) {
  .post-teaser-list > .teaser-list {
    flex-direction: row;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}
