.post-teaser-list > .teaser-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  list-style: none;
  padding: 0;
}

.post-teaser-list > .teaser-list > .teaser {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.post-teaser-list > .teaser-list > .teaser .teaser-thumbnail {
  width: 100%;
  height: 0;
  padding-top: 56%;
  position: relative;
  overflow: hidden;
  display: block;
}

.post-teaser-list > .teaser-list > .teaser .teaser-thumbnail > img {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 16px 0 24px;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content a.button {
  margin: 0;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content > .teaser-title {
  flex: 1;
  margin-bottom: 16px;
  color: var(--color-text);
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: .0006rem;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content > .teaser-category {
  color: var(--color-dark-gray);
  font-size: var(--text-font-size-s);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 24px;
}

@media (min-width: 992px /* breakpoint-l */) {
  .post-teaser-list > .teaser-list {
    flex-direction: row;
  }
}

/* CARDS STYLE */

.post-teaser-list.cards > .teaser-list > .teaser {
  box-shadow: 0 0 4px 0 rgba(0 0 0 / 25%);
  background-color: var(--color-background)
}

.post-teaser-list.cards > .teaser-list > .teaser > .teaser-content {
  padding: 0 16px;
}

.post-teaser-list > .teaser-list > .teaser > .teaser-content > a > span.teaser-date {
  /* default is to not show date */
  display: none;
  font-size: 0.8rem;
}

/* LOADING */

.post-teaser-list > .teaser-list > .teaser.loading .teaser-thumbnail {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: shimmer;
  animation-timing-function: linear;
  background: var(--color-medium-gray);
  background: linear-gradient(to right, var(--color-medium-gray) 5%, #DADEDF 20%, var(--color-medium-gray) 50%);
  background-size: 1200px 100%;
}

.post-teaser-list > .teaser-list > .teaser.loading .teaser-content {
  flex: unset;
  height: 200px;
}

@keyframes shimmer {
  0% {
    background-position: -1200px 0;
  }

  100% {
    background-position: 1200px 0;
  }
}
